<template>
    <div class="row">

        <!-- sidebar -->
        <div class="col-lg-2 calcSidebar">
            <side-component></side-component>
        </div>

        <!-- container -->
        <draggable :list="elements" group="formElements" class="col-12 col-lg-5" id="calc-container">
            <div
                v-for="element in elements"
                :data-uid="element.uid"
                :key="element.uid"
                :data-prop="element.prop"
                :class="['form-group', 'nuclear', element.size]"
                v-html="element.html"
                @click="click"
            >
            </div>
        </draggable>

        <!-- options -->
        <params v-bind:selected="selectedItem" @deleteElement="deleteElement" class="col-12 col-lg-5 nuclear paramsContainer"></params>

    </div>
</template>

<script>

import draggable from 'vuedraggable'; //https://github.com/SortableJS/Vue.Draggable
import SideComponent from './components/Sidebar.vue';
import params from './components/Params.vue';

export default {
    data() {
        return {
            elements: [],
            selectedItem: null,
        }
    },
    methods: {
        click(e){
          this.selectedItem = e.target;
          this.updateItems();
        },
        updateItems(){
          let inputs = document.querySelectorAll('.form-group');
          inputs.forEach(element => {
              element.classList.remove('selectedItem');
          });
          if(this.selectedItem) this.selectedItem.classList.add('selectedItem');
        },
        clearSelect(e){
          if(!e.target.classList.contains('nuclear')){
              this.selectedItem = null;
              this.updateItems();
          }
        },
        deleteElement(uid){
          let index = this.elements.findIndex(item => item.uid === uid);
          this.elements.splice(index, 1);
          this.selectedItem = null;
        }
    },
    components: {
        SideComponent, draggable, params
    },
    created() {
        let vm = this;
        document.addEventListener('click', function (e) {
            vm.clearSelect(e);
        });
    },
}

</script>
