<template>
    <div class="container">

        <div class="constructor xs-flex" @click="show_constructor">
            <span class="label bold">Конструктор</span>
            <span class="ico icon-arrow_right"></span>
        </div>

        <div class="sidebar">
            <Sidebar_Formula :clearProp="clearTrigger"></Sidebar_Formula>
        </div>

        <div class="content">
            <div class="top-buttons xl">
                <div class="btn btn-secondary mr-16">Предпросмотр</div>
                <div class="btn btn-primary">Сохранить</div>
            </div>
            <div class="another-tabs xs">
                <div class="tabs">
                    <div class="design active"><span class="icon-design"></span><span class="max-only">Дизайн</span></div>
                    <div class="fx"><span class="icon-formula"></span><span class="max-only">Формулы</span></div>
                </div>
            </div>
            <div class="calc-wrapper column">
                <opened-item-component
                    v-for="(element, index) in elements"
                    :index="index"
                    :key="element.uid"
                    :element="element"

                >
                </opened-item-component>
            </div>
            <div class="bottom-bar xs-flex">
                <a href="#">
                    <div class="ico icon-bars-xs"></div>
                    <div>Меню</div>
                </a>
                <a href="#" @click="show_constructor">
                    <div class="ico icon-constructor"></div>
                    <div>Конструктор</div>
                </a>
                <a href="#">
                    <div class="ico icon-preview"></div>
                    <div>Превью</div>
                </a>
                <a href="#">
                    <div class="ico icon-save"></div>
                    <div>Сохранить</div>
                </a>
            </div>
        </div>
    </div>
</template>

<script>
    import Sidebar_Formula from "./components/Sidebar_Formula";
    import OpenedItemComponent from "./components/OpenedItem";

    export default {
        data() {
            return {
                selected: {},
                cloned_elements: {},
                clearTrigger: 0
            }
        },
        methods: {
            highlight(){
                let start_window = document.querySelector('.start-window');
                start_window.classList.remove('show');
            },
            show_constructor(e){
                if(e !== 0) e.preventDefault();
                let body = document.querySelector('body');
                let sidebar = document.querySelector('.sidebar');
                let content = document.querySelector('.content');
                let ico = document.querySelector('.constructor > .ico');
                let constructor = document.querySelector('.constructor');

                if(ico.classList.contains('icon-arrow_right')) {
                    ico.classList.replace('icon-arrow_right', 'icon-times');
                } else {
                    ico.classList.replace('icon-times', 'icon-arrow_right');
                }

                constructor.classList.toggle('co-opened');
                sidebar.classList.toggle('xs-opened');
                body.classList.toggle('no-padding');
                content.classList.toggle('content-xs');
            },
            panel_scrolling (ev, el) {
                let pos = window.scrollY;
                //let panel = el.classList;
                let body = document.body.classList;
                if(pos > 62){
                    if(!body.contains('minified')){
                        //body.style.paddingTop = '48px';
                        body.add('minified');
                    }
                } else {
                    if(body.contains('minified')){
                        //body.style.paddingTop = '72px';
                        body.remove('minified');
                    }
                }
            },
            make_throttle(ev, el){
                // let that = this;
                // clearTimeout(this.timeoutID);
                // this.timeoutID = setTimeout(() => that.panel_scrolling(ev, el), 17);
                this.panel_scrolling(ev, el);
            },
            find_changes(oldElements, newElements) {
                let used_strings = ['marks', 'max', 'min', 'step', 'selected', 'size', 'types', 'value', 'tooltip',
                    'italic', 'bold', 'text_align', 'font_size', 'text', 'action', 'phone', 'email', 'url', 'button_align',
                    'button_name', 'disable_value'];
                oldElements.forEach((element, index) => {
                    for(let ob in element) {
                        if (element.hasOwnProperty(ob)) {
                            if(typeof element[ob] !== 'object') {
                                if(element[ob] !== newElements[index][ob]) {
                                    if(used_strings.includes(ob)) { // срабатываем только на эти числа 1 ур
                                        this.$store.commit('change_property', {
                                            uid: element.uid,
                                            value: newElements[index][ob],
                                            property: [ob]
                                        });
                                    }
                                }
                            }
                            if(typeof element[ob] === 'object') {
                                if(Object.prototype.toString.call(element[ob]) === '[object Array]' && ob !== 'options') {
                                    if(!window._.isEqual(element[ob], newElements[index][ob])) {
                                        this.$store.commit('change_property', {
                                            uid: element.uid,
                                            value: newElements[index][ob],
                                            property: [ob, 'arr']
                                        });
                                    }
                                } else {
                                    if((ob === 'options' && element[ob].length === newElements[index][ob].length) || ob !== 'options') {
                                        for(let ob_1 in element[ob]) {
                                            if (element[ob].hasOwnProperty(ob_1)) {
                                                if(typeof element[ob][ob_1] !== 'object') {
                                                    if(element[ob][ob_1] !== newElements[index][ob][ob_1]) {
                                                        this.$store.commit('change_property', {
                                                            uid: element.uid,
                                                            value: newElements[index][ob][ob_1],
                                                            property: [ob, ob_1]
                                                        });
                                                    }
                                                }
                                                if(typeof element[ob][ob_1] === 'object') {
                                                    for(let ob_2 in element[ob][ob_1]) {
                                                        if (element[ob][ob_1].hasOwnProperty(ob_2)) {
                                                            if(typeof element[ob][ob_1][ob_2] !== 'object') {
                                                                if(element[ob][ob_1][ob_2] !== newElements[index][ob][ob_1][ob_2]) {
                                                                    this.$store.commit('change_property', {
                                                                        uid: element.uid,
                                                                        value: newElements[index][ob][ob_1][ob_2],
                                                                        property: [ob, ob_1, ob_2]
                                                                    });
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                });
            },
            clone_update(newElements){
                this.cloned_elements = JSON.parse(JSON.stringify(newElements));
            },
            clearWindow(e){
                let relatedItem = e.target;
                while (relatedItem) {
                    // поднимаемся по дереву элементов и проверяем – внутри ли мы selectedItem или нет
                    // если да, то это переход внутри элемента – игнорируем
                    if(relatedItem.classList){
                        if (relatedItem.classList.contains('button_area')) return false;

                    }
                    relatedItem = relatedItem.parentNode;
                }
                let eq_divs = document.querySelectorAll('.f_elements > div');
                eq_divs.forEach((eq) => {
                    eq.classList.remove('with_caret');
                });
                this.clearTrigger += 1;
            },
        },
        watch: {
            elements: {
                deep: true,
                handler(newElements) {
                    if(this.cloned_elements === {}){
                        this.cloned_elements = JSON.parse(JSON.stringify(newElements))
                    } else if(newElements.length === this.cloned_elements.length) {
                        this.debounced_find_changes(this.cloned_elements, newElements)
                    }
                    this.debounced_clone_update(newElements);
                },
            }
        },
        computed: {
            elements: {
                get() {
                    return this.$store.state.elements
                },
                set(element) {
                    this.$store.commit('add_element', element);
                }
            },
        },
        components: {
            Sidebar_Formula, OpenedItemComponent
        },
        created() {
            let vm = this;
            document.addEventListener('click', function (e) {
                vm.clearWindow(e);
            });
            this.debounced_find_changes = window._.debounce(this.find_changes, 500);
            this.debounced_clone_update = window._.debounce(this.clone_update, 300);
        },
    }
</script>
