<template>
<div class="container">
<!--<span @click="test">666</span>-->
    <div class="constructor xs-flex" @click="show_constructor">
        <span class="label bold">Конструктор</span>
        <span class="ico icon-arrow_right"></span>
    </div>

    <div class="sidebar">
        <side-component @item_click="itemAdd" :allcount="elements.length" :elements="elements"></side-component>
    </div>

    <div class="content">
        <div class="top-buttons xl">
            <div class="btn btn-secondary mr-16">Предпросмотр</div>
            <div class="btn btn-primary">Сохранить</div>
        </div>
        <div class="another-tabs xs">
            <div class="tabs">
                <div class="design active"><span class="icon-design"></span><span class="max-only">Дизайн</span></div>
                <div class="fx"><span class="icon-formula"></span><span class="max-only">Формулы</span></div>
            </div>
        </div>
        <div class="calc-wrapper">
            <div @dragenter="highlight" v-if="elements.length === 0" class="start-window show" style="background-color: rgb(255, 255, 255);">
                <div class="xs">Для начала работы нажмите на конструктор и добвьте элемент</div>
                <img class="xl" src="/resources/images/pic.svg" alt="Для начала работы перетащите элемент в это поле">
                <img class="xs" src="/resources/images/illustration-mobile.svg" alt="Для начала работы нажмите на конструктор и добвьте элемент">
                <div class="xl">Для начала работы перетащите элемент в это поле</div>
            </div>
            <draggable @add="add" class="draggable" v-model='elements' group="formElements" id="calc-container" v-bind="dragOptions"
                       @start="dragstart"
                       @end="dragging = false"
                       handle=".handle"
                       :force-fallback="false"
                       >

                <item-component
                    v-for="(element, index) in elements"
                    :index="index"
                    :key="element.uid"
                    :dragging="dragging"
                    :element="element"
                    :class="['form-group', element.size, { 'selectedItem': isSelected(element.uid) }]"
                    :freezeSelect="freezeSelect"
                    :ccs="ccs"
                    :style="'padding-top:' + element.padding.top + 'px;padding-bottom:' + element.padding.bottom + 'px;'"
                    @cloneElement="cloneElement"
                    @deleteElement="deleteElement"
                    @select="setSelect"
                    @freeze="setFreeze"
                > <!-- @mouseout="clearSelect" -->
                </item-component>

            </draggable>
        </div>
        <div class="bottom-bar xs-flex">
            <a href="#">
                <div class="ico icon-bars-xs"></div>
                <div>Меню</div>
            </a>
            <a href="#" @click="show_constructor">
                <div class="ico icon-constructor"></div>
                <div>Конструктор</div>
            </a>
            <a href="#">
                <div class="ico icon-preview"></div>
                <div>Превью</div>
            </a>
            <a href="#">
                <div class="ico icon-save"></div>
                <div>Сохранить</div>
            </a>
        </div>
    </div>
</div>
</template>

<script>
    import draggable from 'vuedraggable'; //https://github.com/SortableJS/Vue.Draggable
    import SideComponent from './components/Sidebar.vue';
    import ItemComponent from './components/Item.vue';

    export default {
        data() {
            return {
                selected: {},
                timeoutID: null,
                subMenu: null,
                dragging: false,
                freezeSelect: false,
                ccs: null, //clear child select
                cloned_elements: {}
            }
        },
        methods: {
            setSelect(select, uid){
                this.selected = { element: select, uid: uid };
            },
            isSelected(uid){
                return uid === this.selected.uid;
            },
            dragstart(e){
                this.dragging = true;
                //this.selectedItem.classList.remove('selectedItem');

            },
            highlight(){
                let start_window = document.querySelector('.start-window');
                start_window.classList.remove('show');
            },
            add(){
                if(this.elements.length === 1){
                    let start_window = document.querySelector('.start-window');
                    if(typeof start_window !== 'undefined' && start_window !== null){
                        start_window.style.display = 'none';
                    }
                }
            },
            itemAdd(item){
                item.word = this.generate_word();
                this.elements.push(item);
                this.$store.commit('update_elements', this.elements);
                this.show_constructor(0);
                this.add();
            },
            generate_word(index) {
                let alphabet = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z'];
                // let selected_word = false;
                // for(let i = 0; i < alphabet.length; i++) {
                //     let el_with_word = this.elements.filter(el => el.word === alphabet[i]);
                //     if (el_with_word.length === 0) {
                //         selected_word = alphabet[i];
                //         break;
                //     }
                // }
                // return selected_word;
                return alphabet[index];

            },
            randomString(){
                return '_' + Math.random().toString(36).substr(2, 9);
            },
            generateUid(){
                let rs = this.randomString();
                let index = this.elements.findIndex(item => item.uid === rs);
                while(index > 0) {
                    rs = this.randomString();
                    index = this.elements.findIndex(item => item.uid === rs);
                }
                return rs;
            },
            deleteElement(uid){
                let index = this.elements.findIndex(item => item.uid === uid);
                this.selectedItem = null;
                this.$store.commit('splice_element', { index: index, uid: this.elements[index].uid });
            },
            cloneElement(el, index){
                let clone = JSON.parse(JSON.stringify(el));
                clone.uid = this.generateUid();
                this.$store.commit('clone_element', { index: index, clone: clone });
            },
            show_constructor(e){
                if(e !== 0) e.preventDefault();
                let body = document.querySelector('body');
                let sidebar = document.querySelector('.sidebar');
                let content = document.querySelector('.content');
                let ico = document.querySelector('.constructor > .ico');
                let constructor = document.querySelector('.constructor');

                if(ico.classList.contains('icon-arrow_right')) {
                    ico.classList.replace('icon-arrow_right', 'icon-times');
                } else {
                    ico.classList.replace('icon-times', 'icon-arrow_right');
                }

                constructor.classList.toggle('co-opened');
                sidebar.classList.toggle('xs-opened');
                body.classList.toggle('no-padding');
                content.classList.toggle('content-xs');
            },
            clearWindow(e){
                let sel_text = '';
                if (window.getSelection) {
                    sel_text = window.getSelection().toString();
                } else if (document.selection) {
                    sel_text = document.selection.createRange().text;
                }
                    //console.log(this.elements);
                let relatedItem = e.target;
                let fg = 0;
                while (relatedItem) {
                    // поднимаемся по дереву элементов и проверяем – внутри ли мы selectedItem или нет
                    // если да, то это переход внутри элемента – игнорируем
                    if(relatedItem.classList){
                        if (relatedItem.classList.contains('form-sub-menu')) return false;
                        if (relatedItem.classList.contains('editable') && sel_text.length > 0) return false;
                        if (relatedItem.classList.contains('modal')) return false;
                        if (relatedItem.classList.contains('delete')) return false;
                        if (relatedItem.classList.contains('form-control')) return false;
                        if (relatedItem.classList.contains('form-group')) fg = 1;
                    }
                    relatedItem = relatedItem.parentNode;
                }
                let sm = document.querySelectorAll('.form-sub-menu');

                sm.forEach(s => {
                    if(fg === 0) s.classList.remove('show');
                });
                document.querySelectorAll('.modal').forEach(m => {
                    m.classList.remove('show');
                });

                this.freezeSelect = false;
                this.ccs = { event: e, uid: this.selected.uid };

                let ic = document.querySelectorAll('.ico-button');
                ic.forEach(i => {
                    i.classList.remove('active');
                });

                let dd = document.querySelectorAll('.input-select-dropdown');
                dd.forEach(d => {
                    if(d.classList.contains('show')){
                        d.parentNode.classList.toggle('rotate');
                        d.classList.remove('show');
                    }

                });
            },
            setFreeze(is) {
                this.freezeSelect = is;
            },
            find_changes(oldElements, newElements) {
                let used_strings = ['marks', 'max', 'min', 'step', 'selected', 'size', 'types', 'value', 'tooltip',
                    'italic', 'bold', 'text_align', 'font_size', 'text', 'action', 'phone', 'email', 'url', 'button_align',
                'button_name'];
                oldElements.forEach((element, index) => {
                    for(let ob in element) {
                        if (element.hasOwnProperty(ob)) {
                            if(typeof element[ob] !== 'object') {
                                if(element[ob] !== newElements[index][ob]) {
                                    if(used_strings.includes(ob)) { // срабатываем только на эти числа 1 ур
                                        this.$store.commit('change_property', {
                                            uid: element.uid,
                                            value: newElements[index][ob],
                                            property: [ob]
                                        });
                                    }
                                }
                            }
                            if(typeof element[ob] === 'object') {
                                if(Object.prototype.toString.call(element[ob]) === '[object Array]' && ob !== 'options') {
                                    if(!window._.isEqual(element[ob], newElements[index][ob])) {
                                        this.$store.commit('change_property', {
                                            uid: element.uid,
                                            value: newElements[index][ob],
                                            property: [ob, 'arr']
                                        });
                                    }
                                } else {
                                    if((ob === 'options' && element[ob].length === newElements[index][ob].length) || ob !== 'options') {
                                        for(let ob_1 in element[ob]) {
                                            if (element[ob].hasOwnProperty(ob_1)) {
                                                if(typeof element[ob][ob_1] !== 'object') {
                                                    if(element[ob][ob_1] !== newElements[index][ob][ob_1]) {
                                                        this.$store.commit('change_property', {
                                                            uid: element.uid,
                                                            value: newElements[index][ob][ob_1],
                                                            property: [ob, ob_1]
                                                        });
                                                    }
                                                }
                                                if(typeof element[ob][ob_1] === 'object') {
                                                    for(let ob_2 in element[ob][ob_1]) {
                                                        if (element[ob][ob_1].hasOwnProperty(ob_2)) {
                                                            if(typeof element[ob][ob_1][ob_2] !== 'object') {
                                                                if(element[ob][ob_1][ob_2] !== newElements[index][ob][ob_1][ob_2]) {
                                                                    this.$store.commit('change_property', {
                                                                        uid: element.uid,
                                                                        value: newElements[index][ob][ob_1][ob_2],
                                                                        property: [ob, ob_1, ob_2]
                                                                    });
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                });
            },
            clone_update(newElements){
                this.cloned_elements = JSON.parse(JSON.stringify(newElements));
            }
        },
        watch: {
            elements: {
                deep: true,
                handler(newElements) {
                    if(this.cloned_elements === {}){
                        this.cloned_elements = JSON.parse(JSON.stringify(newElements))
                    } else if(newElements.length === this.cloned_elements.length) {
                        this.debounced_find_changes(this.cloned_elements, newElements)
                    }
                    this.debounced_clone_update(newElements);
                },
            }
        },
        computed: {
            dragOptions() {
                return {
                    animation: 200,
                    group: "description",
                    disabled: false,
                    ghostClass: "sortable-ghost"
                };
            },
            elements: {
                get() {
                    return this.$store.state.elements
                },
                set(elements) {
                    this.$store.commit('add_element', elements);
                }
            },
        },
        components: {
            SideComponent, draggable, ItemComponent
        },
        created() {
            let vm = this;
            document.addEventListener('click', function (e) {
                vm.clearWindow(e);
            });
            Array.prototype.insert = function ( index, item ) {
                this.splice( index, 0, item );
            };
            this.debounced_find_changes = window._.debounce(this.find_changes, 500);
            this.debounced_clone_update = window._.debounce(this.clone_update, 300);
        },
    }
</script>
