<template>
    <div class="wrapper" id="wrap">
        <div class="panel" v-scroll="make_throttle">
            <a class="bold str_back main_blue" href="#">Project Name</a>
            <a class="logo xl" href="/">
                <img class="full_logo" src="/resources/images/logo.svg" alt="Pro Calc">
                <img class="small_logo" src="/resources/images/minified_logo.svg" alt="Pro Calc" style="display: none">
            </a>
            <div class="account_info">
                <a href="#" class="user_color account_name">Account</a>
                <a href="#" class="bars"><span class="icon-bars"></span></a>
            </div>
        </div>

        <router-view></router-view>
    </div>
</template>

<script>
    export default {
        methods: {
            panel_scrolling (ev, el) {
                let pos = window.scrollY;
                //let panel = el.classList;
                let body = document.body.classList;
                if(pos > 62){
                    if(!body.contains('minified')){
                        //body.style.paddingTop = '48px';
                        body.add('minified');
                    }
                } else {
                    if(body.contains('minified')){
                        //body.style.paddingTop = '72px';
                        body.remove('minified');
                    }
                }
            },
            make_throttle(ev, el){
                // let that = this;
                // clearTimeout(this.timeoutID);
                // this.timeoutID = setTimeout(() => that.panel_scrolling(ev, el), 17);
                this.panel_scrolling(ev, el);
            }
        },
    }
</script>

<style scoped>

</style>
