body, html, ul, li, h1, h2, button {
    margin: 0;
    padding: 0;
}
body {
    background: #F8F8F8;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 0.2px;
    padding-top: 72px;
    transition-duration: .2s;
    transition-timing-function: linear;
}
.flex_center {
    display: flex;
    align-items: center;
    justify-content: center;
}
body.no-padding { padding: 0 !important; }
.ico:before {
    color: inherit !important;
}
.overflow-hidden {
    overflow: hidden;
}
.transparent {
    opacity: 0;
}
a { text-decoration: none; }
*{
    outline: none;
    -webkit-tap-highlight-color: transparent;
}
.main_blue { color: $main_color; }
.user_color { color: $user_color; }
.mr-16 { margin-right: 16px; }
.xs { display: none; }
.xs-flex { display: none; }
.xl { display: block; }
.xl-flex { display: flex; }
.d-none { display: none !important; }
.relative { position: relative; }
.container {
    display: flex;
    min-height: calc(100vh - 72px);
    flex-direction: row;
    flex-wrap: nowrap;
}
.content {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    padding: 24px;
}
.bold {
    font-weight: 600;
}
.top-buttons {
    display: flex;
    justify-content: flex-end;
    margin: 0 0 24px 0;
}
.btn {
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 14px;
    border: 0;
    font-size: 11px;
    padding: 10px 48px;
    line-height: 24px;
    letter-spacing: 0.2px;
    cursor: pointer;
}
.btn-primary {
    color: #fff;
    background: #1D92FF;
}
.btn-primary:hover {
    background: #1DADFF;
}
.btn-secondary {
    background: rgba(34, 97, 182, 0.1);
    color: #2261B6;
}
.btn-secondary:hover {
    background: rgba(34, 97, 182, 0.05);
}
.draggable {
    display: flex;
    position: relative;
}
.start-window {
    align-items: center;
    justify-content: center;
    width: calc(75% + 200px);
    height: 100%;
    z-index: 10;
    border-radius: 5px;
    position: absolute;
    top: 0;
    flex-direction: column;
    display: none;
    div {
        color: #2261B6;
        font-size: 16px;
        text-align: center;
        margin-top: 28px;
        width: 355px;
    }
}
.start-window.show {
    display: flex !important;
}
.constructor {
    background: #1C57A7;
    padding: 12px 16px;
    color: #fff;
    justify-content: space-between;
    cursor: pointer;
    user-select: none;
    margin: 0 16px;
    border-radius: 7px;
    box-shadow: 0 10px 20px rgba(116, 133, 177, 0.1);
    .label {
        opacity: 0.75;
    }
    .ico {
        font-size: 24px;
    }
}
.constructor.co-opened {
    margin: 0 !important;
    background: none !important;
    color: #2261B6;
    opacity: 0.75;
    box-shadow: none;
    user-select: none;
    outline: none;
    .ico:before {
        color: #2261B6;
    }
}
.another-tabs {
    .tabs {
        .active {
            background: #1D92FF !important;
        }
        div {
            border-color: #1D92FF !important;
        }
    }
}
.bottom-bar {
    background: #fff;
    color: #2261B6;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 83px;
    width: calc(100% - 32px);
    justify-content: space-around;
    flex-wrap: nowrap;
    padding: 0 16px;
    z-index: 1000;
    a {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #2261B6;
        text-decoration: none;
        .ico { font-size: 24px; }
    }
}
.content-xs {
    display: none;
}
body.minified {
    .panel {
        height: 48px;
        .full_logo { display: none }
        //.full_logo { width: 90px; }
        .small_logo { display: block !important; }
    }
    .sidebar {
        top: -24px;
    }
}

