button,
input,
optgroup,
select,
textarea,html input[type="button"],
input[type="reset"],
input[type="submit"],button[disabled],
html input[disabled],button::-moz-focus-inner,
input::-moz-focus-inner, input[type="checkbox"],
input[type="radio"], input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button, input[type="search"], input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    border:none;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.mt16 {
    margin-top: 16px;
}
.mt12 {
    margin-top: 12px;
}
[draggable="true"]{
    border: 0 !important;
}
.sortable-fallback {
    box-shadow: none !important;
}
.calc-wrapper {
    display: flex;
    justify-content: center;
    position: relative;
}
.calc-wrapper.column {
    flex-direction: column;
}
#calc-container {
  min-height: 800px;
  width: 75%;
  min-width: 500px;
  display: flex;
  align-items: center;
  align-content: baseline;
  flex-wrap: wrap;
  box-shadow: 0 10px 40px rgba(116, 133, 177, 0.1);
  padding: 36px 100px;
  background: #fff;
  border-radius: 10px;
  p {
    font-size: 15px;
  }
  ul, li {
    list-style-type: none;
    //display: none;
  }
  .form-group {
    padding: 16px 16px;
    border: 1px dashed transparent;
    position: relative;
    border-radius: 14px;
    background: #fff;
    margin-bottom: 4px;
    p {
      margin: 0 !important;
    }
  }
  .form-group.selectedItem {
      border: 1px dashed #73CCFF;
      transition-duration: .2s;
      transition-timing-function: ease-in;
  }
  .sortable-ghost {
    padding: 16px !important;
    width: 100%;
    border: 1px dashed #73CCFF;
    border-radius: 14px;
    display: block !important;
    transform: none !important;
    opacity: 0.4;
    span {
        display: none !important;
    }
    .form-group {
        padding: 0 !important;
    }
    div {
        display: block !important;
        //width: 100% !important;
        margin: 0 !important;
    }
    .form-sub-menu, .handle {
        display: none !important;
    }
  }
}
.form-sub-menu {
    display: none;
    position: absolute;
    right: 30px;
    top: -18px;
    z-index: 2;
    .sub-menu, .handle {
        display: inline-flex;
    }
    .sub-menu, .handle {
        display: inline-flex;
    }
    .sub-menu {
        justify-content: space-around;
        position: relative;
        align-items: center;
        height: 32px;
        margin-right: 4px;
        background: #FAFAFA;
        box-shadow: 0 1px 1px rgba(123, 49, 110, 0.15), 0 10px 20px rgba(116, 133, 177, 0.1);
        border-radius: 7px;
        div {
            height: 100%;
        }
        .ico-button {
            padding: 0 10px;
        }
        .border-right {
            border-right: 1px solid #F2F2F2;
        }
        .ico {
            font-size: 20px;
            color: #2261B6;
            cursor: pointer;
            position: relative;
        }
        .ico.active {
            color: #181717 !important;
        }
        .sm_div {
            line-height: 1 !important;
            height: auto !important;
            position: relative;
        }
        .pref_size {
            color: #4F4F4F;
            opacity: 0.75;
            font-weight: 500;
            font-size: 14px;
            line-height: 24px;
        }
    }
}
.handle {
    position: absolute;
    padding: 0 4px;
    width: 30px;
    right: -15px;
    top: -15px;
    display: none;
    z-index: 10;
    justify-content: center;
    align-items: center;
    height: 28px;
    box-shadow: 0 1px 1px rgba(49, 79, 123, 0.15), 0 10px 20px rgba(49, 74, 123, 0.25);
    border-radius: 7px;
    background: #73CCFF;
    cursor: move;
    .ico {
        font-size: 24px;
    }
    .ico:before {
        color: #fff !important;
    }

}
.form-sub-menu.show, .handle.show {
    display: flex;
}
.tooltip {
    background: #3D4562;
    border-radius: 7px;
    padding: 8px 12px;
    color: #FFFFFF;
    position: absolute;
    font-weight: 600;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.2px;
    height: auto !important;
    white-space: nowrap;
    box-shadow: 0 1px 1px rgba(49, 79, 123, 0.15), 0 10px 20px rgba(49, 74, 123, 0.25);
}
.tooltip::after {
    content: '';
    position: absolute;
    width: 0;
    height: 19px;
    left: calc(50% - 8px);
    bottom: -38px;
    border: 10px solid transparent;
    border-top: 10px solid #3D4562;
    pointer-events: none;
}
.textarea_hidden {
    position: absolute;
    left: 33px;
    top: 16px;
    background: #ccc;
    visibility: hidden;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.2px;
}
.textarea_area {
    word-wrap: break-word;
    overflow: hidden;
    resize: none;
    width: calc(100% - 30px) !important;
}
.modal {
    display: none;
    position: absolute;
    top: 40px;
    left: 0;
    z-index: 100;
    background: #fff;
    padding: 24px;
    box-shadow: 0 10px 20px 0 rgba(116, 133, 177, 0.10);
    .pref-title {
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;
        color: #181717;
        opacity: 0.75;
    }
    .pref-list {
        list-style-type: none;
        margin: 16px 0;
        padding: 0;
        display: block;
        li {
            display: flex;
            padding: 16px 0;
            border-bottom: 1px solid #F2F2F2;
            justify-content: space-between;
            align-items: center;
        }
        .next {
            cursor: pointer;
            .ico {
                line-height: 24px;
                color: #2261B6;
                font-size: 24px;
            }
        }
    }
    .pref-list.top-bordered {
        li {
            border-top: 1px solid #F2F2F2;
            border-bottom: 0 !important;
        }
    }
    .pref-label {
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        color: #4F4F4F;
        opacity: 0.75;
    }
    .sizes {
        display: flex;
        justify-content: space-between;
        width: 260px;
        margin-top:12px;
        div {
            cursor: pointer;
            padding: 4px 6px;
        }
        .active_size {
            color: white;
            background: #181717;
        }
    }
    .modal_title {
        color: #181717;
        opacity: 0.75;
        font-weight: 600;
        font-size: 14px;
        text-align: center;
    }
    .modal_close {
        position: absolute;
        top: 16px;
        right: 21px;
        height: auto !important;
        cursor: pointer;
        span {
            color: #181717 !important;
            font-size: 14px !important;
        }
    }
    .options:first-child {
        margin-top: 0 !important;
    }
    .options {
        margin-top: 16px;
        line-height: 24px !important;

        .option {
            display: flex;
            width: 320px;
            justify-content: space-between;
            align-items: center;
            margin-top: 12px;
            .index {
                font-size: 14px;
                font-weight: 600;
            }
            .index_option {
                font-size: 14px;
                font-weight: 400;
            }
            input {
                width: 236px !important;
                height: 24px;
                font-weight: 500;
                font-size: 14px;
                color: rgba(79, 79, 79, .75) !important;
            }
            .slide_option {
                margin-left: 12px;
            }
            .delete span {
                font-size: 24px !important;
            }
            .delete span:before {
                color: #2261B6 !important;
            }
        }
    }
    .p-slider {
        margin-top: 18px;
        .p-title {

        }
    }
}
.modal.show {
    display: block !important;
}
.addOption {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 42px !important;
    border-radius: 14px;
    margin-top: 24px;
    cursor: pointer;
    .ico {
        font-size: 14px !important;
    }
}
.slider-wrapper {
    padding: 0 6px;
}
.range {
    width: 100%;
    padding: 0 0 24px 0;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    .vue-slider {
        margin-top: 8px;
    }
    .slider {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        position: relative;
        height: 2px;
        background: #F2F2F2;
    }
    .block-min, .block-max {
        width: 24px;
        height: 24px;
        position: absolute;
        left: 0;
        top: -13px;
        z-index: 1;
        background: #2D82F4;
        box-shadow: 0 1px 2px rgba(49, 92, 123, 0.25), 0 10px 20px rgba(49, 92, 123, 0.25);
        border-radius: 14px;
        //transition-duration: 0.05s;
        //transition-timing-function: linear;
    }
    .block-min.steps, .block-max.steps {
        transition-duration: 0.1s;
        transition-timing-function: ease-in;
    }
    .color-range {
        position: absolute;
        background: #a4a4a4;
        width: 97%;
        border: none;
        height: 6px;
        left: 15px;
    }
    .ind {
        //position: absolute;
        position: relative;
        width: 1px;
        height: 8px;
        background:  #E0E0E0;
        top: -4px;
        .num {
            position: absolute;
            color: #BDBDBD;
            font-weight: 400;
            font-size: 13px;
            top: 14px;
            text-align: center;
        }
    }
    .bold {
        width: 2px !important;
        height: 12px !important;
        background: #C4C4C4 !important;
        top: -6px;
        .num {
            position: absolute;
            color: #BDBDBD;
            font-weight: 400;
            font-size: 13px;
            top: 16px;
            text-align: center;
        }
    }
    .ind_wrapper {
        display: flex;
        justify-content: space-between;
    }
}
.vue-slider-mark-label {
    cursor: pointer;
}
.switch-toggle {
    label {
        display: block;
        width: 48px;
        height: 28px;
        border-radius: 36.5px;
        border-color: #E5E5EA;
        border-width: 2px;
        border-style: solid;
        background: #fff;
        position: relative;
        transition-duration: 0.2s;
        transition-timing-function: linear;
        cursor: pointer;
        .knob {
            border-radius: 100px;
            width: 28px;
            height: 28px;
            position: absolute;
            background: #fff;
            z-index: 10;
            left: 0;
            top: 0;
            box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15), 0 1px 1px rgba(0, 0, 0, 0.16), 0 3px 1px rgba(0, 0, 0, 0.1);
            transition-duration: 0.2s;
            transition-timing-function: linear;
        }
    }
}
.switch-toggle.active {
    label {
        border-color: #2261B6;
        background: #2261B6;
        .knob {
            left: calc(100% - 28px);
        }
    }
}
.padding-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    input {
        width: 24px !important;
    }
}
.padding-column {
    flex-direction: column;
    align-items: start;
    div:first-child {
        margin-bottom: 6px;
    }
}
.width100p {
    width: calc(100% - 32px) !important;
}
.form-control {
    background-color: #FFF;
    border: 1px solid #F2F2F2;
    border-radius: 14px;
    padding: 12px 16px;
    font-weight: 500;
    color: #4F4F4F;
    opacity: 0.75;
    font-family: inherit;
    line-height: 24px;
    letter-spacing: 0.2px;
    width: 100%;
}
.mini-control {
    line-height: 20px !important;
    width: calc(100% - 32px);
}
.opened_element_container {
    background: #FFFFFF;
    box-shadow: 0 1px 1px rgba(137, 136, 187, 0.2), 0 10px 40px rgba(116, 133, 177, 0.13);
    border-radius: 14px;
    padding: 24px;
    width: auto;

    margin-bottom: 24px;
    .opened_element {

        display: flex;

        .icon {
            padding: 10px 12px 0 0;
            font-size: 24px;
            display: flex;
            align-items: start;
        }
        .word_block {
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: center;
            .line {
                height: calc(100% - 66px);
                width: 1px;
                margin-left: -12px;
            }
            .word {
                width: 24px;
                border-radius: 7px;
                font-weight: 600;
                font-size: 18px;
                line-height: 28px;
                align-items: center;
                text-align: center;
                letter-spacing: 0.2px;
                color: #FFFFFF;
                opacity: 0.75;
                padding: 8px 12px;
                margin-right: 12px;
            }
        }
        .inputs {
            width: 100%;
            .options {
                display: flex;
                flex-direction: column;
                margin-top: 24px;
                .option {
                    position: relative;
                    display: flex;
                    margin-bottom: 12px;
                    .option_input {
                        width: calc(80% - 12px);
                        margin-right: 8px;
                    }
                    .multiple {
                        margin-right: 0 !important;
                    }
                    .option_input_before {
                        position: absolute;
                        height: 2px;
                        width: 26px;
                        top: calc(50% - 1px);
                        left: -36px;
                    }
                    .option_value {
                        width: 20%;
                    }
                    .f_sub_title {
                        border: 1px solid #F2F2F2;
                        border-radius: 14px;
                        padding: 6px 12px;
                        margin: 0 8px;
                        display: flex;
                        align-items: center;
                    }
                }
                .option:last-child {
                    margin-bottom: 0 !important;
                }
            }
        }
    }
    .opened_element:last-child {
        margin-bottom: 0 !important;
    }
}

