#calc-container {
    line-height: 24px;
    letter-spacing: 0.2px;
    font-size: 14px;
    .clear_input {
        border: 0;
        padding: 0;
        margin: 0;
        width: auto;
        font-family: inherit;
        user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
    }
    .clear_button {
        background: none;
        color: #fff;
        font-size: 11px;
        text-transform: uppercase;
        text-align: center;
        padding: 12px 16px;
        font-weight: 700;
    }
    .clear_input.select {
        padding: 3px 4px !important;
        //position: absolute;
        //left: 10px;
        //top: 10px;
        z-index: 1;
        font-weight: 500;
        font-size: 14px;
        color: #4F4F4F;
        opacity: 0.75;
    }
    label, input {
        display: block;
        user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
    }
    .labels {
        margin-bottom: 12px;
    }
    label.title {
        opacity: 0.75;
        input {
            font-weight: 600;
            font-size: 15px;
            color: #181717;
            font-family: inherit;
            line-height: 24px;
        }
    }
    div.sub-title {
        opacity: 0.75;
        margin-top: 2px;
        input {
            font-weight: 400;
            font-size: 13px;
            color: #181717;
            font-family: inherit;
            line-height: 24px;
        }
    }
    input[type="number"] {
        -moz-appearance:textfield;
    }
    .input-select {
        appearance: none;
        outline: none;
        color: #fff !important;
    }
    .input-gray-select {
        appearance: none;
        outline: none;
    }
    .input-select:after{
        position: absolute;
        right: 8px;
        top: calc(50% - 12px);
        width: 24px;
        height: 24px;
        background-image: url('/resources/images/select.svg');
        background-repeat: no-repeat;
        content: " ";
        transition-duration: 0.2s;
        transition-timing-function: linear;
    }
    .input-select.rotate:after {
        transform: rotate(-180deg);
    }
    .input-select {
        position: relative;
        top: 0;
        left: 0;
        width: calc(100% - 34px) !important;
        .input-select-dropdown {
            position: absolute;
            top: 50px;
            left: 0;
            max-height: 0;
            z-index: 10;
            transition-duration: 0.2s;
            transition-timing-function: linear;
            transition-property: max-height;
            background: #fff;
            width: 60%;
            list-style-type: none;
            margin: 0;
            overflow: hidden;
            box-shadow: 0 10px 40px 0 rgba(116, 133, 177, 0.13);
            li {
                color: #4F4F4F;
                padding: 12px 24px;
                cursor: pointer;
            }
            li:first-child {
                padding-top: 24px !important;
            }
            li:last-child {
                padding-bottom: 24px !important;
            }
        }
        .input-select-dropdown.show {
            max-height: 300px;
            overflow: scroll;
            display: block;
        }
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    textarea {
        font-weight: 400;
        font-size: 15px;
        color: #181717;
        border: 0;
        padding: 0;
        margin: 0;
        font-family: inherit;
        resize: none;
        width: 100%;
        line-height: 24px;
        letter-spacing: 0.2px;
    }
    label.checkbox {
        padding-left: 32px;
        color: #4F4F4F;
        opacity: 0.75;
        margin-top: 12px;
        background-image: url("/resources/images/checkbox_off.svg");
        background-position: left center;
        background-repeat: no-repeat;
        height: 24px;
        display: inline-block;
        input {
            color: #4F4F4F;
            opacity: 0.75;
            font-size:14px;
            line-height: 24px;
            width: auto;
        }
    }
    label.checkbox.selected {
        background-image: url("/resources/images/checkbox_on.svg");
    }
    label.radio {
        padding-left: 32px;
        color: #4F4F4F;
        opacity: 0.75;
        margin-top: 12px;
        background-image: url("/resources/images/radio_off.svg");
        background-position: left center;
        background-repeat: no-repeat;
        height: 24px;
        display: inline-block;
        cursor: pointer;
        input {
            color: #4F4F4F;
            opacity: 0.75;
            font-size:14px;
            line-height: 24px;
            width: auto;
        }
    }
    label.radio.selected {
        background-image: url("/resources/images/radio_on.svg");
    }
    .col-12 {
        width: 100%;
        input {
            width: calc(100% - 32px);
        }
    }
    .col-8 {
        width: calc(66.66% - 34px);
        input {
            width: calc(100% - 32px);
        }
    }
    .col-6 {
        width: calc(50% - 34px);
        input {
            width: calc(100% - 32px);
        }
    }
    .col-4 {
        width: calc(33.33% - 34px);
        input {
            width: calc(100% - 32px);
        }
    }
    .delete {
        cursor: pointer;
    }
    .action_icons {
        padding-bottom: 4px;
        border-bottom: 1px solid #EFF5FB;
        margin-top: 18px;
    }
    .action_icons .icon {
        display: inline-block;
        height: 24px;
        width: 24px;
        font-size: 20px;
        padding-right: 8px;
        padding-left: 8px;
        border-right: 1px solid #EFF5FB;
        cursor: pointer;
    }
    .action_icons .icon:last-child {
        padding-right: 0;
        border-right: 0;
    }
    .action_icons .icon:first-child {
        padding-left: 0;
    }
    .text-black {
        color: #181717;
        &:before {
            color: #181717;
        }
    }
    .text-blue {
        color: #2261b6;
        &:before {
            color: #2261b6;
        }
    }
    .editable {
        color: #181717;
        font-size: 15px;
        a {
            color: #1D92FF;
        }
    }
    .mini_text_actions {
        border-bottom: 0 !important;
        margin-top: 0 !important;
        position: relative;
        z-index: 2;
        background: #fff;
    }
    .mini_padding {
        padding: 14px 14px 2px 14px;
        width: 114px;
        height: 28px;
        &:after {
            content: '';
            position: absolute;
            top: 4px;
            left: 56px;
            z-index: 1;
            background: white;
            border: 13px solid transparent;
            transform: rotate(45deg) translateX(15px) translateY(15px);
            box-shadow: 0 10px 20px 0 rgb(116 133 177 / 10%);
        }
    }
    .url_submenu {
        ul {
            margin-top: 0;
            margin-bottom: 2px;
            li {
                border-bottom: 0;
            }

        }
        .btn {
            margin-top:12px;
            padding: 4px 16px;
            width: fit-content;
            display: inline-block;
        }
    }
    .image_component {
        display: flex;
        justify-content: center;
        align-items: center;
        .vue-dropzone {
            width: 100%;
            height: 100%;
            border: 0 !important;
            font-family: inherit !important;
            min-height: auto !important;
            padding: 0 !important;
            border-radius: 14px;
        }
        .vue-dropzone:hover {
            background: none !important;
        }
        .dz-image img {
            width: 100%;
        }
        .dz-preview {
            z-index: 1;
            margin: 0 !important;
        }
        .dz-message {
            margin: 0 !important;
        }
        .dz-remove {
            text-decoration: none !important;
        }
        .start_screen {
            border-radius: 14px;
            background: #FAFAFA;
            border: 1px dashed #E0E0E0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            color: #828282;
            opacity: 0.75;
            font-size: 14px;
            padding: 36px 0 28px 0;
        }
    }
    .button_component {
        display: inline-block;
        background: #2D82F4;
        border-radius: 7px;
        color: #fff;
    }
}
.opened_element .word {
    cursor: pointer;
}
/*
#calc-container {
    line-height: 24px;
    letter-spacing: 0.2px;
    font-size: 14px;
    label, input {
        display: block;
    }
    label {
        font-weight: 600;
        font-size: 15px;
        color: #181717;
        opacity: 0.75;
        margin-bottom: 12px;
    }
    input[type="number"] {
        background: #FFFFFF;
        border: 1px solid #F2F2F2;
        border-radius: 14px;
        padding: 12px 16px;
        font-weight: 500;
        color: #4F4F4F;
    }
    .col-12 {
        width: 100%;
        input {
            width: calc(100% - 32px);
        }
    }
}
 */
