@media (min-width: 920px) and (max-width: 1024px) {
    .sidebar {
        width: 226px;
    }
    .sidebar .tabs div {
        padding: 8px 0;
    }
    .drug_tool {
        display: none !important;
    }
    .btn {
        font-size: 10px !important;
        padding: 7px 36px !important;
    }
    .mr-16 {
        margin-right: 12px !important;
    }
    .sidebar .tabs div {
        border: 0 !important;
        background: initial !important;
    }
    .sidebar .tabs .active { color: #CFE8FF !important; }
    .sidebar .tabs .active span:before { color: #CFE8FF !important; }
    .sidebar .elements .element {
        padding: 10px 16px !important;
    }
    .sidebar .wrapper {
        height: calc(100% - 50px) !important;
    }
    .sidebar .elements {
        border-top: 0 !important;
    }
    .content {
        padding: 16px !important;
    }
}
@media (min-width: 768px) and (max-width: 920px) {
    .sidebar {
        width: 226px;
    }
    .sidebar .tabs div {
        border: 0 !important;
        background: initial !important;
    }
    .sidebar .tabs .active { color: #CFE8FF !important; }
    .sidebar .tabs .active span:before { color: #CFE8FF !important; }
    .sidebar .tabs .design span:before {
        padding-right: 4px;
    }
    .sidebar .tabs .fx span:before {
        padding-right: 2px;
    }
    .drug_tool {
        display: none !important;
    }
    .btn {
        font-size: 10px !important;
        padding: 7px 36px !important;
    }
    .mr-16 {
        margin-right: 12px !important;
    }
    .sidebar .tabs {
        margin-bottom: 5px !important;
    }
    .sidebar .elements .element {
        padding: 10px 16px !important;
    }
    .sidebar .wrapper {
        height: calc(100% - 60px) !important;
    }
    .content {
        padding: 24px 16px !important;
    }
    #calc-container {
        padding: 16px !important;
        min-width: auto !important;
        width: 100% !important;
    }
    .start-window {
        z-index: 10 !important;
    }
}
@media (max-width: 767px) {
    body { padding-bottom: 83px !important; /*background: #F8F8F8;*/ }
    .xl { display: none !important; }
    .xs { display: block !important; }
    .xs-flex { display: flex !important; }
    .xl-flex { display: none !important; }
    .panel {
        //background: #F8F8F8 !important;
    }
    .tabs {
        padding: 0 16px !important;
    }
    .container {
        min-height: initial !important;
        flex-direction: column !important;
        margin-top: 12px;
    }
    .sidebar {
        display: none;
        height: auto !important;
        .wrapper {
            overflow-y: hidden !important;
            height: auto !important;
        }
    }
    .content {
        width: 100%;
        padding: 16px 0 !important;
    }
    .start-window {
        padding: 16px;
        width: calc(100% - 32px) !important;
        img, div { width: 100%; }
        div { margin: 20px 0 !important; font-size: 14px; }
    }
    .panel { padding: 0 16px; }
    #calc-container {
        width: calc(100% - 16px) !important;
        padding: 16px 8px !important;
        min-width: unset !important;
        min-height: 330px !important;
    }
    .calc-wrapper {
        margin-top: 32px !important;
    }
    .bottom-bar {
        box-shadow: 0 1px 1px rgba(49, 79, 123, 0.15), 0 10px 20px rgba(49, 74, 123, 0.25);
    }
}
