.panel {
    display: flex;
    background: #ffffff;
    box-shadow: 0 10px 20px rgba(116, 133, 177, 0.1);
    height: 72px;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 0 24px;
    width: calc(100% - 48px);
    z-index: 1000;
    transition-duration: .2s;
    transition-timing-function: linear;
    position: fixed;
    top: 0;
    left: 0;
    a { display: flex; }
    .str_back {
        content: "\e909";
        color: #2261b6;
        background-repeat: no-repeat;
        background-position: left center;
    }
    .str_back:before {
        font-family: icomoon, sans-serif;
        content: "\e909";
        color: #2261b6;
        font-size: 20px;
        padding-right: 8px;
    }
    .account_info {
        display: flex;
    }
    .account_name {
        font-weight: 500;
    }
    .account_name:before {
        font-family: icomoon, sans-serif;
        content: "\e908";
        color: #2261b6;
        font-size: 24px;
        padding-right: 8px;
    }

    .bars {
        font-size: 14px;
        line-height: 24px;
        width: 24px;
        margin: 5px 0 0 24px;
    }
    .logo img {
        transition-duration: .2s;
        transition-timing-function: linear;
    }
}
