/* component style */
.vue-slider-disabled .vue-slider-process {
    background-color: #a7a7a7;
}
.vue-slider-disabled .vue-slider-dot-handle {
    border-color: #a7a7a7;
}
.vue-slider-disabled .vue-slider-mark-step-active {
    //box-shadow: 0 0 0 2px #a7a7a7;
}

/* rail style */
.vue-slider-rail {
    background-color: whitesmoke;
    border-radius: 15px;
    transition: background-color 0.3s;
}
.vue-slider:hover .vue-slider-rail {
    background-color: #e1e1e1;
}

/* process style */
.vue-slider-process {
    //background-color: #9cd5ff;
    background-color: #a7a7a7;
    border-radius: 15px;
    transition: background-color 0.3s;
    display: none;
}
.vue-slider:hover .vue-slider-process {
    //background-color: #69c0ff;
    background-color: #a7a7a7;
}

/* mark style */
.vue-slider-mark-step {
    width: 1px;
    height: 8px !important;
    background:  #E0E0E0;
    top: -4px !important;
}
.vue-slider-mark:first-child .vue-slider-mark-step, .vue-slider-mark:last-child .vue-slider-mark-step {
    width: 2px !important;
    height: 12px !important;
    background: #C4C4C4 !important;
    top: -6px !important;
}

.vue-slider-mark-step-active {
    //box-shadow: 0 0 0 2px #9cd5ff;
}
.vue-slider:hover .vue-slider-mark-step-active {
    //box-shadow: 0 0 0 2px #69c0ff;
}

.vue-slider-mark-label {
    color: #BDBDBD;
    font-weight: 400;
    white-space: nowrap;
    margin-top: 14px !important;
}
.pref_slider {
    .vue-slider-mark-label {
        margin-top: 20px !important;
        color: #181717 !important;
        opacity: 0.75 !important;
    }
    .vue-slider-mark-step {
        width: 1px;
        height: 8px !important;
        background:  #E0E0E0;
        top: -3px !important;
    }
    .vue-slider-mark:first-child .vue-slider-mark-step, .vue-slider-mark:last-child .vue-slider-mark-step {
        width: 2px !important;
        height: 12px !important;
        background: #C4C4C4 !important;
        top: -5px !important;
    }
}
/* dot style */
.vue-slider-dot-handle {
    cursor: pointer;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: #2D82F4;
    box-shadow: 0 1px 2px rgba(49, 92, 123, 0.25), 0 10px 20px rgba(49, 92, 123, 0.25);
    border-radius: 14px;
    box-sizing: border-box;
    transition: box-shadow 0.3s, border-color 0.3s;
}
.vue-slider:hover .vue-slider-dot-handle {
    border-color: #69c0ff;
}

.vue-slider-dot-handle-focus {
    border-color: #36abff;
    box-shadow: 0 0 0 5px rgba(54, 171, 255, 0.2);
}
.vue-slider:hover .vue-slider-dot-handle-focus {
    border-color: #36abff;
}

.vue-slider-dot-handle:hover {
    border-color: #36abff;
}
.vue-slider:hover .vue-slider-dot-handle:hover {
    border-color: #36abff;
}

.vue-slider-dot-handle-disabled {
    cursor: not-allowed;
    border-color: #ddd !important;
}

.vue-slider-dot-tooltip {
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
}
.vue-slider-dot-tooltip-inner {
    white-space: nowrap;
    padding: 4px 8px;
    color: #fff;
    font-weight: 600;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.2px;
    background: #3D4562;
    border-radius: 7px;
    box-shadow: 0 1px 1px rgba(49, 79, 123, 0.15), 0 10px 20px rgba(49, 74, 123, 0.25);
    //transform: scale(0.9);
    transition: transform 0.3s;
    min-width: 20px;
    text-align: center;
    z-index: 1;
}
.vue-slider-dot-tooltip-inner::after {
    content: "";
    position: absolute;
}
.vue-slider-dot-tooltip-inner-top::after {
    content: '';
    position: absolute;
    width: 0;
    height: 19px;
    left: calc(50% - 8px);
    bottom: -34px;
    border: 8px solid transparent;
    border-top: 8px solid #3D4562;
    pointer-events: none;
}
.vue-slider-dot-tooltip-inner-bottom::after {
    bottom: 100%;
    left: 50%;
    transform: translate(-50%, 0);
    height: 0;
    width: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px;
    border-bottom-color: inherit;
}
.vue-slider-dot-tooltip-inner-left::after {
    left: 100%;
    top: 50%;
    transform: translate(0, -50%);
    height: 0;
    width: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px;
    border-left-color: inherit;
}
.vue-slider-dot-tooltip-inner-right::after {
    right: 100%;
    top: 50%;
    transform: translate(0, -50%);
    height: 0;
    width: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px;
    border-right-color: inherit;
}
.vue-slider-dot-tooltip-inner-top {
    transform-origin: 50% 100%;
}
.vue-slider-dot-tooltip-inner-bottom {
    transform-origin: 50% 0;
}
.vue-slider-dot-tooltip-inner-left {
    transform-origin: 100% 50%;
}
.vue-slider-dot-tooltip-inner-right {
    transform-origin: 0% 50%;
}

.vue-slider-dot:hover .vue-slider-dot-tooltip, .vue-slider-dot-tooltip-show {
    opacity: 1;
    visibility: visible;
}
.vue-slider-dot:hover .vue-slider-dot-tooltip .vue-slider-dot-tooltip-inner, .vue-slider-dot-tooltip-show .vue-slider-dot-tooltip-inner {
    //transform: scale(1);
}
.vue-slider-dot {
    z-index: 1 !important;
}

