.sidebar {
    width: 27%;
    top: 0;
    z-index: 100;
    position: relative;
    transition-duration: .2s;
    transition-timing-function: linear;

    .wrapper {
        overflow: visible;
        //height: calc(100% - 76px);
        height: 100%;
        position: fixed;
        width: inherit;
        .overflow {
            width: calc(100% - 18px);
            position: relative;
            background: #fff;
            height: calc(100% - 72px);
            padding: 24px 0;
            overflow: scroll;
        }
        .overflow::-webkit-scrollbar {
            width: 0;
        }
    }
    .drug_tool {
        position: absolute;
        top: calc(50vh - 18px);
        right: 0;
        cursor: col-resize;
        user-select: none;
    }
    .arrow {
        position: fixed;
        left: 24px;
        bottom: 14px;
        cursor: pointer;
        transition-duration: .2s;
        transition-timing-function: ease-in;
        user-select: none;
    }
    .sidebar-hide {
        margin: 36px 0 12px;
        justify-content: center;
        font-size: 10px;
        text-transform: uppercase;
        color: #CFE8FF;
        align-items: center;
        letter-spacing: 0.1px;
        z-index: 990;
        width:100%;
        user-select: none;
        cursor: pointer;
        .ico {
            font-size: 24px;
            color: #fff;
            margin-left: 8px;
        }
    }
    .elements {
        padding: 0 18px;
        .element {
            margin-top: 16px;
            background: #fff;
            border-radius: 14px;
            padding: 12px 16px;
            display: flex;
            flex-direction: row;
            align-items: center;
            cursor: move;
            user-select: none;
            height: 24px;
            box-shadow: 0 7px 25px rgba(46, 60, 97, 0.08);
            //min-width: 170px;
            .ico {
                font-size: 24px;
                //margin-top: -2px;
                margin-right: 8px;
            }
            .text {
                font-weight: 600;
                color: #0F3975;
                opacity: 0.75;
                white-space: nowrap;
            }
            .icon-move {
                font-size: 24px;
                margin-left: auto;
            }
            .icon-move:before {
                color: #2261B6 !important;
            }
        }
        .element:first-child { margin-top: 24px; }
    }
    .formula_block {
        display: flex;
        align-items: start;
        margin: 0 18px 48px;
        .formula_label {
            display: flex;
            align-items: center;
            .f_square {
                background: #BB6BD9;
                border-radius: 7px;
                font-weight: 600;
                font-size: 18px;
                line-height: 28px;
                align-items: center;
                text-align: center;
                letter-spacing: 0.2px;
                color: #FFFFFF;
                opacity: 0.75;
                padding: 8px 12px;
                width: 24px;
            }
            .f_str {
                margin: 0 4px;
            }
        }
        .button_area {
            position: relative;
            width: calc(100% - 24px);
        }
        .buttons_container {
            background: #EFF5FB;
            border-radius: 10px;
            padding: 0;
            position: relative;
            z-index: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: -86px;
            transition-duration: .2s;
            transition-timing-function: ease-in;

            .calc_button {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                box-shadow: 0 1px 1px rgba(0, 33, 117, 0.15), 0 10px 20px rgba(15, 33, 89, 0.1);
                cursor: pointer;
                border-radius: 4px;
            }
            .blue_calc_button {
                background: #2D82F4;
                margin-right: 6px;
            }
            .blue_calc_button:last-child {
                margin-right: 0;
            }
            .white_calc_button {
                background: #fff;
                margin-right: 6px;
                height: 24px;
                width: 48px;
            }
            .black_calc_button {
                background: #0F3975;
                margin-right: 6px;
                width: 26px;
                height: 24px;
            }
            .black_calc_button:last-child {
                margin-right: 0;
            }
        }
        .buttons_container.active {
            margin-top: -12px;
            padding: 24px 8px 16px;
        }
        .formula_text {
            background: #FAFAFA;
            width: calc(100% - 2px);
            box-shadow: 0 1px 1px rgba(123, 49, 110, 0.15);
            border-radius: 7px;
            padding: 0;
            position: relative;
            z-index: 5;
            border: 1px solid #F2F2F2;
            .locked {
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                z-index: 10;
                cursor: pointer;
            }
            .formula_title {
                border-bottom: 1px solid #F2F2F2;
                font-weight: 600;
                font-size: 13px;
                line-height: 24px;
                letter-spacing: 0.2px;
                color: #181717;
                opacity: 0.75;
                padding: 8px 12px;
                display: flex;
                justify-content: space-between;
                flex-direction: row;
                align-items: center;
            }
            .formula_buttons_close {
                width: 24px;
                height: 24px;
                filter: drop-shadow(0px 1px 1px rgba(49, 96, 123, 0.15)) drop-shadow(0px 10px 20px rgba(49, 70, 123, 0.25));
                display: none;
                justify-content: center;
                align-items: center;
                background: #fff;
                border-radius: 12px;
                cursor: pointer;

            }
            .formula_equals {
                display: flex;
                padding: 8px 12px 0;
                align-items: center;
                cursor: text !important;
                .f_elements {
                    display: flex;
                    flex-wrap: wrap;
                    padding-left: 7px;
                }
                .f_elements div {
                    position: relative;
                }
                @-webkit-keyframes blink {
                    50% { color: #0F3975; }
                    51% { color: #0f397500; }
                    100% { color: #0f397500; }
                }
                @keyframes blink {
                    50% { color: #0F3975; }
                    51% { color: #0f397500; }
                    100% { color: #0f397500; }
                }
                .f_elements .with_caret:after {
                    content: "|";
                    position: absolute;
                    width: 2px;
                    height: 24px;
                    color: #0F3975;
                    -webkit-animation: blink 1s linear infinite;
                    animation: blink 1s linear infinite;
                }
                .f_elements .with_caret.f_block:after {
                    top: 1px;
                    right: -4px;
                }
                .f_elements .with_caret.equals:after {
                    top: -1px;
                    right: -2px;
                }
                .f_elements div:last-child {
                    margin-right: 0 !important;
                }
                .equals {
                    color: #123C53;
                    opacity: 0.75;
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 28px;
                    margin-right: 7px;
                    margin-bottom: 8px;
                    cursor: default !important;
                }
                .f_block {
                    box-shadow: 0 1px 1px rgba(0, 33, 117, 0.15), 0 10px 20px rgba(15, 33, 89, 0.1);
                    border-radius: 4px;
                    padding: 2px 8px;
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 24px;
                    color: #FFFFFF;
                    opacity: 0.75;
                    margin-right: 7px;
                    margin-bottom: 8px;
                    cursor: default !important;
                }
                .f_block.yellow { background: #F2C94C; }
                .f_block.orange { background: #F2994A; }
                .f_block.blue { background: #2D9CDB; }
                .f_block.green { background: #27AE60; }
                .f_block.purple { background: #DA3E9C; }
            }
        }
        .formula_text.active {
            background: #fff;
        }
    }
}
.tabs {
    display: flex;
    flex-direction: row;
    padding: 0 18px;
    div {
        border-color: #1D92FF;
        color: #1D92FF;
        padding: 10px 0;
        text-transform: uppercase;
        border-width: 1px;
        height: 24px;
        font-weight: 700;
        font-size: 11px;
        line-height: 24px;
        border-style: solid;
        cursor: pointer;
        flex-basis: 50%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
    }
    span {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .design {
        border-bottom-left-radius: 14px;
        border-top-left-radius: 14px;
        font-weight: bold;
    }
    .fx {
        border-bottom-right-radius: 14px;
        border-top-right-radius: 14px;
    }
    .design span:before {
        font-size: 16px;
        padding-right: 8px;
        font-weight: normal;
        color: #fff;
    }
    .fx span:before {
        font-size: 16px;
        padding-right: 6px;
        font-weight: normal;
        color: #1D92FF;
    }
    .active {
        color: #fff;
        background: #1D92FF;
        .ico:before {
            color: #fff;
        }
    }
    .small_active:before {
        color: #CFE8FF !important;
    }
}
.add_formula_block {
    border: 1px dashed #1D92FF;
    border-radius: 14px;
    font-size: 24px;
    margin: 24px 18px;
    padding: 8px 0;
    text-align: center;
    color: #1D92FF;
    cursor: pointer;
}
.xs-opened {
    display: block !important;
    padding: 16px 0 !important;
    width: 100% !important;
    z-index: 900;
    .arrow, .drug_tool { display: none !important; }
    .elements {
        border-top: 0 !important;
    }
}
