<template>
<div class="opened_element_container">
    <div class="opened_element">
        <div class="icon">
            <div class="ico icon-radio" :style="'color:' + element.color"></div>
        </div>
        <div class="word_block">
            <div @click="addElementToEqual" class="word" :style="'background:' + element.color">{{ element.word }}</div>
            <div class="line" :style="'border-right: 2px solid ' + element.color"></div>
        </div>
        <div class="inputs">
            <div class="input_title"><input type="text" class="form-control mini-control" v-model="element.label.title.text"></div>
            <div class="options">
                <div v-for="option in element.options" class="option">
                    <div class="option_input_before" :style="'background:' + element.color"></div>
                    <input type="text" class="form-control mini-control option_input multiple" v-model="option.text">
                    <div class="f_sub_title" :style="'color:' + element.color">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M5 3H19C20.1 3 21 3.9 21 5V19C21 20.1 20.1 21 19 21H5C3.9 21 3 20.1 3 19V5C3 3.9 3.9 3 5 3ZM19 19V5H5V19H19Z" fill="currentColor"/>
                        </svg>
                    </div>
                    <input type="number" class="form-control mini-control option_value" v-model="option.disable_value">
                    <div class="f_sub_title" :style="'color:' + element.color">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M5 3H19C20.11 3 21 3.9 21 5V19C21 20.1 20.11 21 19 21H5C3.89 21 3 20.1 3 19V5C3 3.9 3.89 3 5 3ZM9.53988 16.1649C9.93747 16.6101 10.634 16.6101 11.0315 16.1649L17.4637 8.96322C17.7695 8.62089 17.7704 8.10383 17.4658 7.76043C17.1067 7.35554 16.4749 7.35443 16.1144 7.75806L10.2857 14.2841L7.88148 11.5997C7.5226 11.199 6.89503 11.1994 6.5367 11.6006C6.23099 11.9429 6.23099 12.4602 6.5367 12.8024L9.53988 16.1649Z" fill="currentColor" />
                        </svg>
                    </div>
                    <input type="number" class="form-control mini-control option_value" v-model="option.value">
                </div>
            </div>
        </div>
    </div>
    <div class="opened_element">
        <div class="icon" style="visibility: hidden"><div class="ico icon-radio" :style="'color:' + element.color"></div></div>
        <div class="word_block" style="visibility: hidden"><div class="word" :style="'background:' + element.color">{{ element.word }}</div></div>
        <div class="inputs">
            <div class="addOption" :style="'border:2px dashed ' + element.color" @click="addOption">
                <span class="ico icon-plus" :style="'color: ' + element.color"></span>
            </div>
        </div>
    </div>
</div>
</template>


<script>
    export default {
        data() {
            return {

            }
        },
        props: ['element'],
        methods: {
            addElementToEqual() {
                this.$store.commit('add_to_equal', {
                    index: 1,
                    value: {
                        type: 'block',
                        uid: this.element.uid,
                        title: this.element.word,
                        color: this.element.color
                    }
                });
            },
            addOption(){
                let length = this.element.options.length;
                let index = this.element.options[length - 1].index + 1;
                this.element.options.push({ index: index, text: index, value: 0, disable_value: 0 });
                this.$store.commit('option_add', { index: index, text: index, uid: this.element.uid });
            },
        },
        mounted() {

        },
    }
</script>
