<template>
<div class="opened_element_container">
    <div class="opened_element">
        <div class="icon">
            <div class="ico icon-input" :style="'color:' + element.color"></div>
        </div>
        <div class="word_block">
            <div @click="addElementToEqual" class="word" :style="'background:' + element.color">{{ element.word }}</div>
            <div class="line" :style="'border-right: 2px solid ' + element.color"></div>
        </div>
        <div class="inputs">
            <div class="input_title"><input type="text" class="form-control mini-control" v-model="element.label.title.text"></div>
        </div>
    </div>
</div>
</template>


<script>
    export default {
        data() {
            return {

            }
        },
        props: ['element'],
        methods: {
            addElementToEqual() {
                this.$store.commit('add_to_equal', {
                    index: 1,
                    value: {
                        type: 'block',
                        uid: this.element.uid,
                        title: this.element.word,
                        color: this.element.color
                    }
                });
            },
        },
        mounted() {

        },
    }
</script>
