<template>
<div class="opened_element_container">
    <div class="opened_element">
        <div class="icon">
            <div class="ico icon-radio" :style="'color:' + element.color"></div>
        </div>
        <div class="word_block">
            <div @click="addElementToEqual" class="word" :style="'background:' + element.color">{{ element.word }}</div>
            <div class="line" :style="'border-right: 2px solid ' + element.color"></div>
        </div>
        <div class="inputs">
            <div class="input_title"><input type="text" class="form-control mini-control" v-model="element.label.title.text"></div>
            <div class="options">
                <div v-for="option in element.options" class="option">
                    <div class="option_input_before" :style="'background:' + element.color"></div>
                    <input type="text" class="form-control mini-control option_input multiple" v-model="option.text">
                    <div class="f_sub_title" :style="'color:' + element.color">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M2 12C2 6.48 6.48 2 12 2C17.52 2 22 6.48 22 12C22 17.52 17.52 22 12 22C6.48 22 2 17.52 2 12ZM4 12C4 16.42 7.58 20 12 20C16.42 20 20 16.42 20 12C20 7.58 16.42 4 12 4C7.58 4 4 7.58 4 12Z" fill="currentColor"/>
                        </svg>
                    </div>
                    <input type="number" class="form-control mini-control option_value" v-model="option.disable_value">
                    <div class="f_sub_title" :style="'color:' + element.color">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M12 2C6.48 2 2 6.48 2 12C2 17.52 6.48 22 12 22C17.52 22 22 17.52 22 12C22 6.48 17.52 2 12 2ZM12 20C7.58 20 4 16.42 4 12C4 7.58 7.58 4 12 4C16.42 4 20 7.58 20 12C20 16.42 16.42 20 12 20ZM17 12C17 14.7614 14.7614 17 12 17C9.23858 17 7 14.7614 7 12C7 9.23858 9.23858 7 12 7C14.7614 7 17 9.23858 17 12Z" fill="currentColor"/>
                        </svg>
                    </div>
                    <input type="number" class="form-control mini-control option_value" v-model="option.value">
                </div>
            </div>
        </div>
    </div>
    <div class="opened_element">
        <div class="icon" style="visibility: hidden"><div class="ico icon-radio" :style="'color:' + element.color"></div></div>
        <div class="word_block" style="visibility: hidden"><div class="word" :style="'background:' + element.color">{{ element.word }}</div></div>
        <div class="inputs">
            <div class="addOption" :style="'border:2px dashed ' + element.color" @click="addOption">
                <span class="ico icon-plus" :style="'color: ' + element.color"></span>
            </div>
        </div>
    </div>
</div>
</template>


<script>
    export default {
        data() {
            return {

            }
        },
        props: ['element'],
        methods: {
            addElementToEqual() {
                this.$store.commit('add_to_equal', {
                    index: 1,
                    value: {
                        type: 'block',
                        uid: this.element.uid,
                        title: this.element.word,
                        color: this.element.color
                    }
                });
            },
            addOption(){
                let length = this.element.options.length;
                let index = this.element.options[length - 1].index + 1;
                this.element.options.push({ index: index, text: index, value: 0, disable_value: 0 });
                this.$store.commit('option_add', { index: index, text: index, uid: this.element.uid });
            },
        },
        mounted() {

        },
    }
</script>
