<template>
<div class="opened_element_container">
    <div class="opened_element">
        <div class="icon">
            <div :class="element.icon" class="ico" :style="'color:' + element.color"></div>
        </div>
        <div class="word_block">
            <div @click="addElementToEqual" class="word" :style="'background:' + element.color">{{ element.word }}</div>
            <div class="line" :style="'border-right: 2px solid ' + element.color"></div>
        </div>
        <div class="inputs">
            <div class="input_title"><input type="text" class="form-control mini-control" v-model="element.label.title.text"></div>
            <div class="options">
                <div  v-for="option in element.options" class="option">
                    <div class="option_input_before" :style="'background:' + element.color"></div>
                    <input type="text" class="form-control mini-control option_input" v-model="option.text">
                    <input type="number" class="form-control mini-control option_value" v-model="option.value">
                </div>
            </div>
        </div>
    </div>
    <div class="opened_element">
        <div class="icon" style="visibility: hidden"><div class="ico icon-list"  :style="'color:' + element.color"></div></div>
        <div class="word_block" style="visibility: hidden"><div class="word" :style="'background:' + element.color">{{ element.word }}</div></div>
        <div class="inputs">
            <div class="addOption" :style="'border:2px dashed ' + element.color" @click="addOption">
                <span class="ico icon-plus" :style="'color: ' + element.color"></span>
            </div>
        </div>
    </div>
</div>
</template>


<script>
    export default {
        data() {
            return {

            }
        },
        props: ['element'],
        methods: {
            addElementToEqual() {
                this.$store.commit('add_to_equal', {
                    index: 1,
                    value: {
                        type: 'block',
                        uid: this.element.uid,
                        title: this.element.word,
                        color: this.element.color
                    }
                });
            },
            addOption(){
                let length = this.element.options.length;
                let index = this.element.options[length - 1].index + 1;
                this.element.options.push({ index: index, text: index, value: 0 });
                this.$store.commit('option_add', { index: index, text: index, uid: this.element.uid });
            },
        },
        mounted() {

        },
    }
</script>
