/* montserrat-cyrillic-ext-400-normal*/
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(/fonts/vendor/fontsource-montserrat/files/montserrat-cyrillic-ext-400-normal.woff2?0602c503f2d71bda811d7047c881ac7f) format('woff2'), url(/fonts/vendor/fontsource-montserrat/files/montserrat-all-400-normal.woff?45d5dab44e3b5aaa53bf2749072126a1) format('woff');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* montserrat-cyrillic-400-normal*/
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(/fonts/vendor/fontsource-montserrat/files/montserrat-cyrillic-400-normal.woff2?78211743d72d9a04678dc64605d4d8d2) format('woff2'), url(/fonts/vendor/fontsource-montserrat/files/montserrat-all-400-normal.woff?45d5dab44e3b5aaa53bf2749072126a1) format('woff');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* montserrat-vietnamese-400-normal*/
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(/fonts/vendor/fontsource-montserrat/files/montserrat-vietnamese-400-normal.woff2?6325549bf6e10024b7e2056872a98bd8) format('woff2'), url(/fonts/vendor/fontsource-montserrat/files/montserrat-all-400-normal.woff?45d5dab44e3b5aaa53bf2749072126a1) format('woff');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* montserrat-latin-ext-400-normal*/
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(/fonts/vendor/fontsource-montserrat/files/montserrat-latin-ext-400-normal.woff2?9e0a7722db903c94d4f82313cd623646) format('woff2'), url(/fonts/vendor/fontsource-montserrat/files/montserrat-all-400-normal.woff?45d5dab44e3b5aaa53bf2749072126a1) format('woff');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* montserrat-latin-400-normal*/
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(/fonts/vendor/fontsource-montserrat/files/montserrat-latin-400-normal.woff2?b71748ae4f80ec8c014def4c5fa8688b) format('woff2'), url(/fonts/vendor/fontsource-montserrat/files/montserrat-all-400-normal.woff?45d5dab44e3b5aaa53bf2749072126a1) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* montserrat-cyrillic-ext-500-normal*/
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url(/fonts/vendor/fontsource-montserrat/files/montserrat-cyrillic-ext-500-normal.woff2?5f59605d1143b0675a57a655f831e317) format('woff2'), url(/fonts/vendor/fontsource-montserrat/files/montserrat-all-500-normal.woff?540b430fba7dac3528456766b7553933) format('woff');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* montserrat-cyrillic-500-normal*/
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url(/fonts/vendor/fontsource-montserrat/files/montserrat-cyrillic-500-normal.woff2?7b5c079250216c51c47e19b021cb209a) format('woff2'), url(/fonts/vendor/fontsource-montserrat/files/montserrat-all-500-normal.woff?540b430fba7dac3528456766b7553933) format('woff');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* montserrat-vietnamese-500-normal*/
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url(/fonts/vendor/fontsource-montserrat/files/montserrat-vietnamese-500-normal.woff2?37d55493245be8035b842863b70f8749) format('woff2'), url(/fonts/vendor/fontsource-montserrat/files/montserrat-all-500-normal.woff?540b430fba7dac3528456766b7553933) format('woff');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* montserrat-latin-ext-500-normal*/
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url(/fonts/vendor/fontsource-montserrat/files/montserrat-latin-ext-500-normal.woff2?24eae404dd492c8ea70c08950bdb7f70) format('woff2'), url(/fonts/vendor/fontsource-montserrat/files/montserrat-all-500-normal.woff?540b430fba7dac3528456766b7553933) format('woff');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* montserrat-latin-500-normal*/
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url(/fonts/vendor/fontsource-montserrat/files/montserrat-latin-500-normal.woff2?091b209546e16313fd4f4fc36090c757) format('woff2'), url(/fonts/vendor/fontsource-montserrat/files/montserrat-all-500-normal.woff?540b430fba7dac3528456766b7553933) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* montserrat-cyrillic-ext-600-normal*/
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url(/fonts/vendor/fontsource-montserrat/files/montserrat-cyrillic-ext-600-normal.woff2?2d20426ee3852dc3f76bf71e226d6110) format('woff2'), url(/fonts/vendor/fontsource-montserrat/files/montserrat-all-600-normal.woff?2fb3027029276f0853a9e36bdbc36202) format('woff');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* montserrat-cyrillic-600-normal*/
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url(/fonts/vendor/fontsource-montserrat/files/montserrat-cyrillic-600-normal.woff2?4653fdd6fa4e613f4e954bb3aabec452) format('woff2'), url(/fonts/vendor/fontsource-montserrat/files/montserrat-all-600-normal.woff?2fb3027029276f0853a9e36bdbc36202) format('woff');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* montserrat-vietnamese-600-normal*/
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url(/fonts/vendor/fontsource-montserrat/files/montserrat-vietnamese-600-normal.woff2?b2d7de6e12c29ee16b16981d145557d3) format('woff2'), url(/fonts/vendor/fontsource-montserrat/files/montserrat-all-600-normal.woff?2fb3027029276f0853a9e36bdbc36202) format('woff');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* montserrat-latin-ext-600-normal*/
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url(/fonts/vendor/fontsource-montserrat/files/montserrat-latin-ext-600-normal.woff2?2bc2e71b27f240846bfaee11a588812c) format('woff2'), url(/fonts/vendor/fontsource-montserrat/files/montserrat-all-600-normal.woff?2fb3027029276f0853a9e36bdbc36202) format('woff');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* montserrat-latin-600-normal*/
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url(/fonts/vendor/fontsource-montserrat/files/montserrat-latin-600-normal.woff2?0480d2f8a71f38db8633b84d8722e0c2) format('woff2'), url(/fonts/vendor/fontsource-montserrat/files/montserrat-all-600-normal.woff?2fb3027029276f0853a9e36bdbc36202) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* montserrat-cyrillic-ext-700-normal*/
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(/fonts/vendor/fontsource-montserrat/files/montserrat-cyrillic-ext-700-normal.woff2?1e574d0dc9f169218135f9c0710c17b2) format('woff2'), url(/fonts/vendor/fontsource-montserrat/files/montserrat-all-700-normal.woff?55b2bbc6a85a23937b05af4eeb51528e) format('woff');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* montserrat-cyrillic-700-normal*/
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(/fonts/vendor/fontsource-montserrat/files/montserrat-cyrillic-700-normal.woff2?a5e01c0959edbabd113bf8ab9bd0c80d) format('woff2'), url(/fonts/vendor/fontsource-montserrat/files/montserrat-all-700-normal.woff?55b2bbc6a85a23937b05af4eeb51528e) format('woff');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* montserrat-vietnamese-700-normal*/
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(/fonts/vendor/fontsource-montserrat/files/montserrat-vietnamese-700-normal.woff2?5962f76d55f847c62bbef874fa902576) format('woff2'), url(/fonts/vendor/fontsource-montserrat/files/montserrat-all-700-normal.woff?55b2bbc6a85a23937b05af4eeb51528e) format('woff');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* montserrat-latin-ext-700-normal*/
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(/fonts/vendor/fontsource-montserrat/files/montserrat-latin-ext-700-normal.woff2?2bbc315dea0f516b1f0f8a6d4764deb7) format('woff2'), url(/fonts/vendor/fontsource-montserrat/files/montserrat-all-700-normal.woff?55b2bbc6a85a23937b05af4eeb51528e) format('woff');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* montserrat-latin-700-normal*/
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(/fonts/vendor/fontsource-montserrat/files/montserrat-latin-700-normal.woff2?7dbcc8a5ea2289d83f657c25b4be6193) format('woff2'), url(/fonts/vendor/fontsource-montserrat/files/montserrat-all-700-normal.woff?55b2bbc6a85a23937b05af4eeb51528e) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'icomoon';
  src:  url(/fonts/icomoon.eot?1e2e6222cfb5c631526d8e6b17685059);
  src:  url(/fonts/icomoon.eot?1e2e6222cfb5c631526d8e6b17685059#iefix) format('embedded-opentype'),
    url(/fonts/icomoon.ttf?34851723ec43e756221ae192113aaf9e) format('truetype'),
    url(/fonts/icomoon.woff?fe1aa0e328a200f751017088463228fe) format('woff'),
    url(/fonts/icomoon.svg?8ee833c2a061b3adc6fa87aba8364dfe#icomoon) format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-text-anchor:before {
  content: "\e921";
  color: #2261b6;
}
.icon-text-italic:before {
  content: "\e922";
  color: #2261b6;
}
.icon-text-bold:before {
  content: "\e923";
  color: #2261b6;
}
.icon-text-right:before {
  content: "\e924";
  color: #2261b6;
}
.icon-text-center:before {
  content: "\e925";
  color: #2261b6;
}
.icon-text-left:before {
  content: "\e926";
}
.icon-input-notext:before {
  content: "\e927";
  color: #2261b6;
}
.icon-arrow-right-angle:before {
  content: "\e928";
  color: #2261b6;
}
.icon-times2:before {
  content: "\e920";
}
.icon-caret_down:before {
  content: "\e91f";
  color: #7986b5;
}
.icon-bars-xs:before {
  content: "\e91e";
  color: #2261b6;
}
.icon-preview:before {
  content: "\e91b";
  color: #2261b6;
}
.icon-constructor:before {
  content: "\e91c";
  color: #2261b6;
}
.icon-save:before {
  content: "\e91d";
  color: #2261b6;
}
.icon-arrow_right:before {
  content: "\e918";
  color: #fff;
}
.icon-arrow_top:before {
  content: "\e919";
  color: #cfe8ff;
}
.icon-times:before {
  content: "\e91a";
  color: #fff;
}
.icon-bars:before {
  content: "\e90a";
  color: #2261b6;
}
.icon-double2:before {
  content: "\e900";
  color: #7986b5;
}
.icon-drop:before {
  content: "\e901";
  color: #7986b5;
}
.icon-theme:before {
  content: "\e902";
  color: #7986b5;
}
.icon-cog:before {
  content: "\e903";
  color: #7986b5;
}
.icon-plus:before {
  content: "\e904";
  color: #1dadff;
}
.icon-list2:before {
  content: "\e905";
  color: #7986b5;
}
.icon-trash:before {
  content: "\e906";
  color: #7986b5;
}
.icon-font2:before {
  content: "\e907";
  color: #7986b5;
}
.icon-account:before {
  content: "\e908";
  color: #2261b6;
}
.icon-arrow-left:before {
  content: "\e909";
  color: #2261b6;
}
.icon-button:before {
  content: "\e90b";
  color: #c2f0ff;
}
.icon-checkbox:before {
  content: "\e90c";
  color: #2d9cdb;
}
.icon-design:before {
  content: "\e90d";
  color: #fff;
}
.icon-double:before {
  content: "\e90e";
  color: #7986b5;
}
.icon-formula:before {
  content: "\e90f";
  color: #1d92ff;
}
.icon-html:before {
  content: "\e910";
  color: #f9d94a;
}
.icon-image:before {
  content: "\e911";
  color: #f2994a;
}
.icon-input:before {
  content: "\e912";
  color: #73ccff;
}
.icon-list:before {
  content: "\e913";
  color: #f2c94c;
}
.icon-move:before {
  content: "\e914";
  color: #7986b5;
}
.icon-radio:before {
  content: "\e915";
  color: #bb6bd9;
}
.icon-slider:before {
  content: "\e916";
  color: #6fcf97;
}
.icon-text:before {
  content: "\e917";
  color: #6fcf97;
}

/*
 * The MIT License
 * Copyright (c) 2012 Matias Meno <m@tias.me>
 */
@-webkit-keyframes passing-through {
  0% {
    opacity: 0;
    transform: translateY(40px); }
  30%, 70% {
    opacity: 1;
    transform: translateY(0px); }
  100% {
    opacity: 0;
    transform: translateY(-40px); } }
@keyframes passing-through {
  0% {
    opacity: 0;
    transform: translateY(40px); }
  30%, 70% {
    opacity: 1;
    transform: translateY(0px); }
  100% {
    opacity: 0;
    transform: translateY(-40px); } }
@-webkit-keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateY(40px); }
  30% {
    opacity: 1;
    transform: translateY(0px); } }
@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateY(40px); }
  30% {
    opacity: 1;
    transform: translateY(0px); } }
@-webkit-keyframes pulse {
  0% {
    transform: scale(1); }
  10% {
    transform: scale(1.1); }
  20% {
    transform: scale(1); } }
@keyframes pulse {
  0% {
    transform: scale(1); }
  10% {
    transform: scale(1.1); }
  20% {
    transform: scale(1); } }
.dropzone, .dropzone * {
  box-sizing: border-box; }

.dropzone {
  min-height: 150px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  background: white;
  padding: 20px 20px; }
  .dropzone.dz-clickable {
    cursor: pointer; }
    .dropzone.dz-clickable * {
      cursor: default; }
    .dropzone.dz-clickable .dz-message, .dropzone.dz-clickable .dz-message * {
      cursor: pointer; }
  .dropzone.dz-started .dz-message {
    display: none; }
  .dropzone.dz-drag-hover {
    border-style: solid; }
    .dropzone.dz-drag-hover .dz-message {
      opacity: 0.5; }
  .dropzone .dz-message {
    text-align: center;
    margin: 2em 0; }
  .dropzone .dz-preview {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin: 16px;
    min-height: 100px; }
    .dropzone .dz-preview:hover {
      z-index: 1000; }
      .dropzone .dz-preview:hover .dz-details {
        opacity: 1; }
    .dropzone .dz-preview.dz-file-preview .dz-image {
      border-radius: 20px;
      background: #999;
      background: linear-gradient(to bottom, #eee, #ddd); }
    .dropzone .dz-preview.dz-file-preview .dz-details {
      opacity: 1; }
    .dropzone .dz-preview.dz-image-preview {
      background: white; }
      .dropzone .dz-preview.dz-image-preview .dz-details {
        transition: opacity 0.2s linear; }
    .dropzone .dz-preview .dz-remove {
      font-size: 14px;
      text-align: center;
      display: block;
      cursor: pointer;
      border: none; }
      .dropzone .dz-preview .dz-remove:hover {
        text-decoration: underline; }
    .dropzone .dz-preview:hover .dz-details {
      opacity: 1; }
    .dropzone .dz-preview .dz-details {
      z-index: 20;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      font-size: 13px;
      min-width: 100%;
      max-width: 100%;
      padding: 2em 1em;
      text-align: center;
      color: rgba(0, 0, 0, 0.9);
      line-height: 150%; }
      .dropzone .dz-preview .dz-details .dz-size {
        margin-bottom: 1em;
        font-size: 16px; }
      .dropzone .dz-preview .dz-details .dz-filename {
        white-space: nowrap; }
        .dropzone .dz-preview .dz-details .dz-filename:hover span {
          border: 1px solid rgba(200, 200, 200, 0.8);
          background-color: rgba(255, 255, 255, 0.8); }
        .dropzone .dz-preview .dz-details .dz-filename:not(:hover) {
          overflow: hidden;
          text-overflow: ellipsis; }
          .dropzone .dz-preview .dz-details .dz-filename:not(:hover) span {
            border: 1px solid transparent; }
      .dropzone .dz-preview .dz-details .dz-filename span, .dropzone .dz-preview .dz-details .dz-size span {
        background-color: rgba(255, 255, 255, 0.4);
        padding: 0 0.4em;
        border-radius: 3px; }
    .dropzone .dz-preview:hover .dz-image img {
      transform: scale(1.05, 1.05);
      filter: blur(8px); }
    .dropzone .dz-preview .dz-image {
      border-radius: 20px;
      overflow: hidden;
      width: 120px;
      height: 120px;
      position: relative;
      display: block;
      z-index: 10; }
      .dropzone .dz-preview .dz-image img {
        display: block; }
    .dropzone .dz-preview.dz-success .dz-success-mark {
      -webkit-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
      animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1); }
    .dropzone .dz-preview.dz-error .dz-error-mark {
      opacity: 1;
      -webkit-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
      animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1); }
    .dropzone .dz-preview .dz-success-mark, .dropzone .dz-preview .dz-error-mark {
      pointer-events: none;
      opacity: 0;
      z-index: 500;
      position: absolute;
      display: block;
      top: 50%;
      left: 50%;
      margin-left: -27px;
      margin-top: -27px; }
      .dropzone .dz-preview .dz-success-mark svg, .dropzone .dz-preview .dz-error-mark svg {
        display: block;
        width: 54px;
        height: 54px; }
    .dropzone .dz-preview.dz-processing .dz-progress {
      opacity: 1;
      transition: all 0.2s linear; }
    .dropzone .dz-preview.dz-complete .dz-progress {
      opacity: 0;
      transition: opacity 0.4s ease-in; }
    .dropzone .dz-preview:not(.dz-processing) .dz-progress {
      -webkit-animation: pulse 6s ease infinite;
      animation: pulse 6s ease infinite; }
    .dropzone .dz-preview .dz-progress {
      opacity: 1;
      z-index: 1000;
      pointer-events: none;
      position: absolute;
      height: 16px;
      left: 50%;
      top: 50%;
      margin-top: -8px;
      width: 80px;
      margin-left: -40px;
      background: rgba(255, 255, 255, 0.9);
      -webkit-transform: scale(1);
      border-radius: 8px;
      overflow: hidden; }
      .dropzone .dz-preview .dz-progress .dz-upload {
        background: #333;
        background: linear-gradient(to bottom, #666, #444);
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 0;
        transition: width 300ms ease-in-out; }
    .dropzone .dz-preview.dz-error .dz-error-message {
      display: block; }
    .dropzone .dz-preview.dz-error:hover .dz-error-message {
      opacity: 1;
      pointer-events: auto; }
    .dropzone .dz-preview .dz-error-message {
      pointer-events: none;
      z-index: 1000;
      position: absolute;
      display: block;
      display: none;
      opacity: 0;
      transition: opacity 0.3s ease;
      border-radius: 8px;
      font-size: 13px;
      top: 130px;
      left: -10px;
      width: 140px;
      background: #be2626;
      background: linear-gradient(to bottom, #be2626, #a92222);
      padding: 0.5em 1.2em;
      color: white; }
      .dropzone .dz-preview .dz-error-message:after {
        content: '';
        position: absolute;
        top: -6px;
        left: 64px;
        width: 0;
        height: 0;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-bottom: 6px solid #be2626; }
.vue-dropzone{border:2px solid #e5e5e5;font-family:Arial,sans-serif;letter-spacing:.2px;color:#777;transition:.2s linear}.vue-dropzone:hover{background-color:#f6f6f6}.vue-dropzone>i{color:#ccc}.vue-dropzone>.dz-preview .dz-image{border-radius:0;width:100%;height:100%}.vue-dropzone>.dz-preview .dz-image img:not([src]){width:200px;height:200px}.vue-dropzone>.dz-preview .dz-image:hover img{transform:none;-webkit-filter:none}.vue-dropzone>.dz-preview .dz-details{bottom:0;top:0;color:#fff;background-color:rgba(33,150,243,.8);transition:opacity .2s linear;text-align:left}.vue-dropzone>.dz-preview .dz-details .dz-filename{overflow:hidden}.vue-dropzone>.dz-preview .dz-details .dz-filename span,.vue-dropzone>.dz-preview .dz-details .dz-size span{background-color:transparent}.vue-dropzone>.dz-preview .dz-details .dz-filename:not(:hover) span{border:none}.vue-dropzone>.dz-preview .dz-details .dz-filename:hover span{background-color:transparent;border:none}.vue-dropzone>.dz-preview .dz-progress .dz-upload{background:#ccc}.vue-dropzone>.dz-preview .dz-remove{position:absolute;z-index:30;color:#fff;margin-left:15px;padding:10px;top:inherit;bottom:15px;border:2px #fff solid;text-decoration:none;text-transform:uppercase;font-size:.8rem;font-weight:800;letter-spacing:1.1px;opacity:0}.vue-dropzone>.dz-preview:hover .dz-remove{opacity:1}.vue-dropzone>.dz-preview .dz-error-mark,.vue-dropzone>.dz-preview .dz-success-mark{margin-left:auto;margin-top:auto;width:100%;top:35%;left:0}.vue-dropzone>.dz-preview .dz-error-mark svg,.vue-dropzone>.dz-preview .dz-success-mark svg{margin-left:auto;margin-right:auto}.vue-dropzone>.dz-preview .dz-error-message{margin-left:auto;margin-right:auto;left:0;width:100%;text-align:center}.vue-dropzone>.dz-preview .dz-error-message:after{display:none}
body, html, ul, li, h1, h2, button {
  margin: 0;
  padding: 0;
}

body {
  background: #F8F8F8;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.2px;
  padding-top: 72px;
  transition-duration: 0.2s;
  transition-timing-function: linear;
}

.flex_center {
  display: flex;
  align-items: center;
  justify-content: center;
}

body.no-padding {
  padding: 0 !important;
}

.ico:before {
  color: inherit !important;
}

.overflow-hidden {
  overflow: hidden;
}

.transparent {
  opacity: 0;
}

a {
  text-decoration: none;
}

* {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

.main_blue {
  color: #2261B6;
}

.user_color {
  color: #123C53;
}

.mr-16 {
  margin-right: 16px;
}

.xs {
  display: none;
}

.xs-flex {
  display: none;
}

.xl {
  display: block;
}

.xl-flex {
  display: flex;
}

.d-none {
  display: none !important;
}

.relative {
  position: relative;
}

.container {
  display: flex;
  min-height: calc(100vh - 72px);
  flex-direction: row;
  flex-wrap: nowrap;
}

.content {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  padding: 24px;
}

.bold {
  font-weight: 600;
}

.top-buttons {
  display: flex;
  justify-content: flex-end;
  margin: 0 0 24px 0;
}

.btn {
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 14px;
  border: 0;
  font-size: 11px;
  padding: 10px 48px;
  line-height: 24px;
  letter-spacing: 0.2px;
  cursor: pointer;
}

.btn-primary {
  color: #fff;
  background: #1D92FF;
}

.btn-primary:hover {
  background: #1DADFF;
}

.btn-secondary {
  background: rgba(34, 97, 182, 0.1);
  color: #2261B6;
}

.btn-secondary:hover {
  background: rgba(34, 97, 182, 0.05);
}

.draggable {
  display: flex;
  position: relative;
}

.start-window {
  align-items: center;
  justify-content: center;
  width: calc(75% + 200px);
  height: 100%;
  z-index: 10;
  border-radius: 5px;
  position: absolute;
  top: 0;
  flex-direction: column;
  display: none;
}
.start-window div {
  color: #2261B6;
  font-size: 16px;
  text-align: center;
  margin-top: 28px;
  width: 355px;
}

.start-window.show {
  display: flex !important;
}

.constructor {
  background: #1C57A7;
  padding: 12px 16px;
  color: #fff;
  justify-content: space-between;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin: 0 16px;
  border-radius: 7px;
  box-shadow: 0 10px 20px rgba(116, 133, 177, 0.1);
}
.constructor .label {
  opacity: 0.75;
}
.constructor .ico {
  font-size: 24px;
}

.constructor.co-opened {
  margin: 0 !important;
  background: none !important;
  color: #2261B6;
  opacity: 0.75;
  box-shadow: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  outline: none;
}
.constructor.co-opened .ico:before {
  color: #2261B6;
}

.another-tabs .tabs .active {
  background: #1D92FF !important;
}
.another-tabs .tabs div {
  border-color: #1D92FF !important;
}

.bottom-bar {
  background: #fff;
  color: #2261B6;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 83px;
  width: calc(100% - 32px);
  justify-content: space-around;
  flex-wrap: nowrap;
  padding: 0 16px;
  z-index: 1000;
}
.bottom-bar a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #2261B6;
  text-decoration: none;
}
.bottom-bar a .ico {
  font-size: 24px;
}

.content-xs {
  display: none;
}

body.minified .panel {
  height: 48px;
}
body.minified .panel .full_logo {
  display: none;
}
body.minified .panel .small_logo {
  display: block !important;
}
body.minified .sidebar {
  top: -24px;
}

.panel {
  display: flex;
  background: #ffffff;
  box-shadow: 0 10px 20px rgba(116, 133, 177, 0.1);
  height: 72px;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 0 24px;
  width: calc(100% - 48px);
  z-index: 1000;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  position: fixed;
  top: 0;
  left: 0;
}
.panel a {
  display: flex;
}
.panel .str_back {
  content: "\e909";
  color: #2261b6;
  background-repeat: no-repeat;
  background-position: left center;
}
.panel .str_back:before {
  font-family: icomoon, sans-serif;
  content: "\e909";
  color: #2261b6;
  font-size: 20px;
  padding-right: 8px;
}
.panel .account_info {
  display: flex;
}
.panel .account_name {
  font-weight: 500;
}
.panel .account_name:before {
  font-family: icomoon, sans-serif;
  content: "\e908";
  color: #2261b6;
  font-size: 24px;
  padding-right: 8px;
}
.panel .bars {
  font-size: 14px;
  line-height: 24px;
  width: 24px;
  margin: 5px 0 0 24px;
}
.panel .logo img {
  transition-duration: 0.2s;
  transition-timing-function: linear;
}

.sidebar {
  width: 27%;
  top: 0;
  z-index: 100;
  position: relative;
  transition-duration: 0.2s;
  transition-timing-function: linear;
}
.sidebar .wrapper {
  overflow: visible;
  height: 100%;
  position: fixed;
  width: inherit;
}
.sidebar .wrapper .overflow {
  width: calc(100% - 18px);
  position: relative;
  background: #fff;
  height: calc(100% - 72px);
  padding: 24px 0;
  overflow: scroll;
}
.sidebar .wrapper .overflow::-webkit-scrollbar {
  width: 0;
}
.sidebar .drug_tool {
  position: absolute;
  top: calc(50vh - 18px);
  right: 0;
  cursor: col-resize;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.sidebar .arrow {
  position: fixed;
  left: 24px;
  bottom: 14px;
  cursor: pointer;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.sidebar .sidebar-hide {
  margin: 36px 0 12px;
  justify-content: center;
  font-size: 10px;
  text-transform: uppercase;
  color: #CFE8FF;
  align-items: center;
  letter-spacing: 0.1px;
  z-index: 990;
  width: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}
.sidebar .sidebar-hide .ico {
  font-size: 24px;
  color: #fff;
  margin-left: 8px;
}
.sidebar .elements {
  padding: 0 18px;
}
.sidebar .elements .element {
  margin-top: 16px;
  background: #fff;
  border-radius: 14px;
  padding: 12px 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: move;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  height: 24px;
  box-shadow: 0 7px 25px rgba(46, 60, 97, 0.08);
}
.sidebar .elements .element .ico {
  font-size: 24px;
  margin-right: 8px;
}
.sidebar .elements .element .text {
  font-weight: 600;
  color: #0F3975;
  opacity: 0.75;
  white-space: nowrap;
}
.sidebar .elements .element .icon-move {
  font-size: 24px;
  margin-left: auto;
}
.sidebar .elements .element .icon-move:before {
  color: #2261B6 !important;
}
.sidebar .elements .element:first-child {
  margin-top: 24px;
}
.sidebar .formula_block {
  display: flex;
  align-items: start;
  margin: 0 18px 48px;
}
.sidebar .formula_block .formula_label {
  display: flex;
  align-items: center;
}
.sidebar .formula_block .formula_label .f_square {
  background: #BB6BD9;
  border-radius: 7px;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.2px;
  color: #FFFFFF;
  opacity: 0.75;
  padding: 8px 12px;
  width: 24px;
}
.sidebar .formula_block .formula_label .f_str {
  margin: 0 4px;
}
.sidebar .formula_block .button_area {
  position: relative;
  width: calc(100% - 24px);
}
.sidebar .formula_block .buttons_container {
  background: #EFF5FB;
  border-radius: 10px;
  padding: 0;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -86px;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
}
.sidebar .formula_block .buttons_container .calc_button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1px 1px rgba(0, 33, 117, 0.15), 0 10px 20px rgba(15, 33, 89, 0.1);
  cursor: pointer;
  border-radius: 4px;
}
.sidebar .formula_block .buttons_container .blue_calc_button {
  background: #2D82F4;
  margin-right: 6px;
}
.sidebar .formula_block .buttons_container .blue_calc_button:last-child {
  margin-right: 0;
}
.sidebar .formula_block .buttons_container .white_calc_button {
  background: #fff;
  margin-right: 6px;
  height: 24px;
  width: 48px;
}
.sidebar .formula_block .buttons_container .black_calc_button {
  background: #0F3975;
  margin-right: 6px;
  width: 26px;
  height: 24px;
}
.sidebar .formula_block .buttons_container .black_calc_button:last-child {
  margin-right: 0;
}
.sidebar .formula_block .buttons_container.active {
  margin-top: -12px;
  padding: 24px 8px 16px;
}
.sidebar .formula_block .formula_text {
  background: #FAFAFA;
  width: calc(100% - 2px);
  box-shadow: 0 1px 1px rgba(123, 49, 110, 0.15);
  border-radius: 7px;
  padding: 0;
  position: relative;
  z-index: 5;
  border: 1px solid #F2F2F2;
}
.sidebar .formula_block .formula_text .locked {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 10;
  cursor: pointer;
}
.sidebar .formula_block .formula_text .formula_title {
  border-bottom: 1px solid #F2F2F2;
  font-weight: 600;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #181717;
  opacity: 0.75;
  padding: 8px 12px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
.sidebar .formula_block .formula_text .formula_buttons_close {
  width: 24px;
  height: 24px;
  filter: drop-shadow(0px 1px 1px rgba(49, 96, 123, 0.15)) drop-shadow(0px 10px 20px rgba(49, 70, 123, 0.25));
  display: none;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: 12px;
  cursor: pointer;
}
.sidebar .formula_block .formula_text .formula_equals {
  display: flex;
  padding: 8px 12px 0;
  align-items: center;
  cursor: text !important;
}
.sidebar .formula_block .formula_text .formula_equals .f_elements {
  display: flex;
  flex-wrap: wrap;
  padding-left: 7px;
}
.sidebar .formula_block .formula_text .formula_equals .f_elements div {
  position: relative;
}
@-webkit-keyframes blink {
  50% {
    color: #0F3975;
  }
  51% {
    color: rgba(15, 57, 117, 0);
  }
  100% {
    color: rgba(15, 57, 117, 0);
  }
}
@keyframes blink {
  50% {
    color: #0F3975;
  }
  51% {
    color: rgba(15, 57, 117, 0);
  }
  100% {
    color: rgba(15, 57, 117, 0);
  }
}
.sidebar .formula_block .formula_text .formula_equals .f_elements .with_caret:after {
  content: "|";
  position: absolute;
  width: 2px;
  height: 24px;
  color: #0F3975;
  -webkit-animation: blink 1s linear infinite;
  animation: blink 1s linear infinite;
}
.sidebar .formula_block .formula_text .formula_equals .f_elements .with_caret.f_block:after {
  top: 1px;
  right: -4px;
}
.sidebar .formula_block .formula_text .formula_equals .f_elements .with_caret.equals:after {
  top: -1px;
  right: -2px;
}
.sidebar .formula_block .formula_text .formula_equals .f_elements div:last-child {
  margin-right: 0 !important;
}
.sidebar .formula_block .formula_text .formula_equals .equals {
  color: #123C53;
  opacity: 0.75;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  margin-right: 7px;
  margin-bottom: 8px;
  cursor: default !important;
}
.sidebar .formula_block .formula_text .formula_equals .f_block {
  box-shadow: 0 1px 1px rgba(0, 33, 117, 0.15), 0 10px 20px rgba(15, 33, 89, 0.1);
  border-radius: 4px;
  padding: 2px 8px;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
  opacity: 0.75;
  margin-right: 7px;
  margin-bottom: 8px;
  cursor: default !important;
}
.sidebar .formula_block .formula_text .formula_equals .f_block.yellow {
  background: #F2C94C;
}
.sidebar .formula_block .formula_text .formula_equals .f_block.orange {
  background: #F2994A;
}
.sidebar .formula_block .formula_text .formula_equals .f_block.blue {
  background: #2D9CDB;
}
.sidebar .formula_block .formula_text .formula_equals .f_block.green {
  background: #27AE60;
}
.sidebar .formula_block .formula_text .formula_equals .f_block.purple {
  background: #DA3E9C;
}
.sidebar .formula_block .formula_text.active {
  background: #fff;
}

.tabs {
  display: flex;
  flex-direction: row;
  padding: 0 18px;
}
.tabs div {
  border-color: #1D92FF;
  color: #1D92FF;
  padding: 10px 0;
  text-transform: uppercase;
  border-width: 1px;
  height: 24px;
  font-weight: 700;
  font-size: 11px;
  line-height: 24px;
  border-style: solid;
  cursor: pointer;
  flex-basis: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}
.tabs span {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.tabs .design {
  border-bottom-left-radius: 14px;
  border-top-left-radius: 14px;
  font-weight: bold;
}
.tabs .fx {
  border-bottom-right-radius: 14px;
  border-top-right-radius: 14px;
}
.tabs .design span:before {
  font-size: 16px;
  padding-right: 8px;
  font-weight: normal;
  color: #fff;
}
.tabs .fx span:before {
  font-size: 16px;
  padding-right: 6px;
  font-weight: normal;
  color: #1D92FF;
}
.tabs .active {
  color: #fff;
  background: #1D92FF;
}
.tabs .active .ico:before {
  color: #fff;
}
.tabs .small_active:before {
  color: #CFE8FF !important;
}

.add_formula_block {
  border: 1px dashed #1D92FF;
  border-radius: 14px;
  font-size: 24px;
  margin: 24px 18px;
  padding: 8px 0;
  text-align: center;
  color: #1D92FF;
  cursor: pointer;
}

.xs-opened {
  display: block !important;
  padding: 16px 0 !important;
  width: 100% !important;
  z-index: 900;
}
.xs-opened .arrow, .xs-opened .drug_tool {
  display: none !important;
}
.xs-opened .elements {
  border-top: 0 !important;
}

button,
input,
optgroup,
select,
textarea, html input[type=button],
input[type=reset],
input[type=submit], button[disabled],
html input[disabled], button::-moz-focus-inner,
input::-moz-focus-inner, input[type=checkbox],
input[type=radio], input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button, input[type=search], input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  border: none;
  background-image: none;
  background-color: transparent;
  box-shadow: none;
}

.mt16 {
  margin-top: 16px;
}

.mt12 {
  margin-top: 12px;
}

[draggable=true] {
  border: 0 !important;
}

.sortable-fallback {
  box-shadow: none !important;
}

.calc-wrapper {
  display: flex;
  justify-content: center;
  position: relative;
}

.calc-wrapper.column {
  flex-direction: column;
}

#calc-container {
  min-height: 800px;
  width: 75%;
  min-width: 500px;
  display: flex;
  align-items: center;
  align-content: baseline;
  flex-wrap: wrap;
  box-shadow: 0 10px 40px rgba(116, 133, 177, 0.1);
  padding: 36px 100px;
  background: #fff;
  border-radius: 10px;
}
#calc-container p {
  font-size: 15px;
}
#calc-container ul, #calc-container li {
  list-style-type: none;
}
#calc-container .form-group {
  padding: 16px 16px;
  border: 1px dashed transparent;
  position: relative;
  border-radius: 14px;
  background: #fff;
  margin-bottom: 4px;
}
#calc-container .form-group p {
  margin: 0 !important;
}
#calc-container .form-group.selectedItem {
  border: 1px dashed #73CCFF;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
}
#calc-container .sortable-ghost {
  padding: 16px !important;
  width: 100%;
  border: 1px dashed #73CCFF;
  border-radius: 14px;
  display: block !important;
  transform: none !important;
  opacity: 0.4;
}
#calc-container .sortable-ghost span {
  display: none !important;
}
#calc-container .sortable-ghost .form-group {
  padding: 0 !important;
}
#calc-container .sortable-ghost div {
  display: block !important;
  margin: 0 !important;
}
#calc-container .sortable-ghost .form-sub-menu, #calc-container .sortable-ghost .handle {
  display: none !important;
}

.form-sub-menu {
  display: none;
  position: absolute;
  right: 30px;
  top: -18px;
  z-index: 2;
}
.form-sub-menu .sub-menu, .form-sub-menu .handle {
  display: inline-flex;
}
.form-sub-menu .sub-menu, .form-sub-menu .handle {
  display: inline-flex;
}
.form-sub-menu .sub-menu {
  justify-content: space-around;
  position: relative;
  align-items: center;
  height: 32px;
  margin-right: 4px;
  background: #FAFAFA;
  box-shadow: 0 1px 1px rgba(123, 49, 110, 0.15), 0 10px 20px rgba(116, 133, 177, 0.1);
  border-radius: 7px;
}
.form-sub-menu .sub-menu div {
  height: 100%;
}
.form-sub-menu .sub-menu .ico-button {
  padding: 0 10px;
}
.form-sub-menu .sub-menu .border-right {
  border-right: 1px solid #F2F2F2;
}
.form-sub-menu .sub-menu .ico {
  font-size: 20px;
  color: #2261B6;
  cursor: pointer;
  position: relative;
}
.form-sub-menu .sub-menu .ico.active {
  color: #181717 !important;
}
.form-sub-menu .sub-menu .sm_div {
  line-height: 1 !important;
  height: auto !important;
  position: relative;
}
.form-sub-menu .sub-menu .pref_size {
  color: #4F4F4F;
  opacity: 0.75;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}

.handle {
  position: absolute;
  padding: 0 4px;
  width: 30px;
  right: -15px;
  top: -15px;
  display: none;
  z-index: 10;
  justify-content: center;
  align-items: center;
  height: 28px;
  box-shadow: 0 1px 1px rgba(49, 79, 123, 0.15), 0 10px 20px rgba(49, 74, 123, 0.25);
  border-radius: 7px;
  background: #73CCFF;
  cursor: move;
}
.handle .ico {
  font-size: 24px;
}
.handle .ico:before {
  color: #fff !important;
}

.form-sub-menu.show, .handle.show {
  display: flex;
}

.tooltip {
  background: #3D4562;
  border-radius: 7px;
  padding: 8px 12px;
  color: #FFFFFF;
  position: absolute;
  font-weight: 600;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.2px;
  height: auto !important;
  white-space: nowrap;
  box-shadow: 0 1px 1px rgba(49, 79, 123, 0.15), 0 10px 20px rgba(49, 74, 123, 0.25);
}

.tooltip::after {
  content: "";
  position: absolute;
  width: 0;
  height: 19px;
  left: calc(50% - 8px);
  bottom: -38px;
  border: 10px solid transparent;
  border-top: 10px solid #3D4562;
  pointer-events: none;
}

.textarea_hidden {
  position: absolute;
  left: 33px;
  top: 16px;
  background: #ccc;
  visibility: hidden;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.2px;
}

.textarea_area {
  word-wrap: break-word;
  overflow: hidden;
  resize: none;
  width: calc(100% - 30px) !important;
}

.modal {
  display: none;
  position: absolute;
  top: 40px;
  left: 0;
  z-index: 100;
  background: #fff;
  padding: 24px;
  box-shadow: 0 10px 20px 0 rgba(116, 133, 177, 0.1);
}
.modal .pref-title {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #181717;
  opacity: 0.75;
}
.modal .pref-list {
  list-style-type: none;
  margin: 16px 0;
  padding: 0;
  display: block;
}
.modal .pref-list li {
  display: flex;
  padding: 16px 0;
  border-bottom: 1px solid #F2F2F2;
  justify-content: space-between;
  align-items: center;
}
.modal .pref-list .next {
  cursor: pointer;
}
.modal .pref-list .next .ico {
  line-height: 24px;
  color: #2261B6;
  font-size: 24px;
}
.modal .pref-list.top-bordered li {
  border-top: 1px solid #F2F2F2;
  border-bottom: 0 !important;
}
.modal .pref-label {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #4F4F4F;
  opacity: 0.75;
}
.modal .sizes {
  display: flex;
  justify-content: space-between;
  width: 260px;
  margin-top: 12px;
}
.modal .sizes div {
  cursor: pointer;
  padding: 4px 6px;
}
.modal .sizes .active_size {
  color: white;
  background: #181717;
}
.modal .modal_title {
  color: #181717;
  opacity: 0.75;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
}
.modal .modal_close {
  position: absolute;
  top: 16px;
  right: 21px;
  height: auto !important;
  cursor: pointer;
}
.modal .modal_close span {
  color: #181717 !important;
  font-size: 14px !important;
}
.modal .options:first-child {
  margin-top: 0 !important;
}
.modal .options {
  margin-top: 16px;
  line-height: 24px !important;
}
.modal .options .option {
  display: flex;
  width: 320px;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}
.modal .options .option .index {
  font-size: 14px;
  font-weight: 600;
}
.modal .options .option .index_option {
  font-size: 14px;
  font-weight: 400;
}
.modal .options .option input {
  width: 236px !important;
  height: 24px;
  font-weight: 500;
  font-size: 14px;
  color: rgba(79, 79, 79, 0.75) !important;
}
.modal .options .option .slide_option {
  margin-left: 12px;
}
.modal .options .option .delete span {
  font-size: 24px !important;
}
.modal .options .option .delete span:before {
  color: #2261B6 !important;
}
.modal .p-slider {
  margin-top: 18px;
}
.modal.show {
  display: block !important;
}

.addOption {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 42px !important;
  border-radius: 14px;
  margin-top: 24px;
  cursor: pointer;
}
.addOption .ico {
  font-size: 14px !important;
}

.slider-wrapper {
  padding: 0 6px;
}

.range {
  width: 100%;
  padding: 0 0 24px 0;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -moz-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
}
.range .vue-slider {
  margin-top: 8px;
}
.range .slider {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  position: relative;
  height: 2px;
  background: #F2F2F2;
}
.range .block-min, .range .block-max {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 0;
  top: -13px;
  z-index: 1;
  background: #2D82F4;
  box-shadow: 0 1px 2px rgba(49, 92, 123, 0.25), 0 10px 20px rgba(49, 92, 123, 0.25);
  border-radius: 14px;
}
.range .block-min.steps, .range .block-max.steps {
  transition-duration: 0.1s;
  transition-timing-function: ease-in;
}
.range .color-range {
  position: absolute;
  background: #a4a4a4;
  width: 97%;
  border: none;
  height: 6px;
  left: 15px;
}
.range .ind {
  position: relative;
  width: 1px;
  height: 8px;
  background: #E0E0E0;
  top: -4px;
}
.range .ind .num {
  position: absolute;
  color: #BDBDBD;
  font-weight: 400;
  font-size: 13px;
  top: 14px;
  text-align: center;
}
.range .bold {
  width: 2px !important;
  height: 12px !important;
  background: #C4C4C4 !important;
  top: -6px;
}
.range .bold .num {
  position: absolute;
  color: #BDBDBD;
  font-weight: 400;
  font-size: 13px;
  top: 16px;
  text-align: center;
}
.range .ind_wrapper {
  display: flex;
  justify-content: space-between;
}

.vue-slider-mark-label {
  cursor: pointer;
}

.switch-toggle label {
  display: block;
  width: 48px;
  height: 28px;
  border-radius: 36.5px;
  border-color: #E5E5EA;
  border-width: 2px;
  border-style: solid;
  background: #fff;
  position: relative;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  cursor: pointer;
}
.switch-toggle label .knob {
  border-radius: 100px;
  width: 28px;
  height: 28px;
  position: absolute;
  background: #fff;
  z-index: 10;
  left: 0;
  top: 0;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15), 0 1px 1px rgba(0, 0, 0, 0.16), 0 3px 1px rgba(0, 0, 0, 0.1);
  transition-duration: 0.2s;
  transition-timing-function: linear;
}

.switch-toggle.active label {
  border-color: #2261B6;
  background: #2261B6;
}
.switch-toggle.active label .knob {
  left: calc(100% - 28px);
}

.padding-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.padding-line input {
  width: 24px !important;
}

.padding-column {
  flex-direction: column;
  align-items: start;
}
.padding-column div:first-child {
  margin-bottom: 6px;
}

.width100p {
  width: calc(100% - 32px) !important;
}

.form-control {
  background-color: #FFF;
  border: 1px solid #F2F2F2;
  border-radius: 14px;
  padding: 12px 16px;
  font-weight: 500;
  color: #4F4F4F;
  opacity: 0.75;
  font-family: inherit;
  line-height: 24px;
  letter-spacing: 0.2px;
  width: 100%;
}

.mini-control {
  line-height: 20px !important;
  width: calc(100% - 32px);
}

.opened_element_container {
  background: #FFFFFF;
  box-shadow: 0 1px 1px rgba(137, 136, 187, 0.2), 0 10px 40px rgba(116, 133, 177, 0.13);
  border-radius: 14px;
  padding: 24px;
  width: auto;
  margin-bottom: 24px;
}
.opened_element_container .opened_element {
  display: flex;
}
.opened_element_container .opened_element .icon {
  padding: 10px 12px 0 0;
  font-size: 24px;
  display: flex;
  align-items: start;
}
.opened_element_container .opened_element .word_block {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.opened_element_container .opened_element .word_block .line {
  height: calc(100% - 66px);
  width: 1px;
  margin-left: -12px;
}
.opened_element_container .opened_element .word_block .word {
  width: 24px;
  border-radius: 7px;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.2px;
  color: #FFFFFF;
  opacity: 0.75;
  padding: 8px 12px;
  margin-right: 12px;
}
.opened_element_container .opened_element .inputs {
  width: 100%;
}
.opened_element_container .opened_element .inputs .options {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}
.opened_element_container .opened_element .inputs .options .option {
  position: relative;
  display: flex;
  margin-bottom: 12px;
}
.opened_element_container .opened_element .inputs .options .option .option_input {
  width: calc(80% - 12px);
  margin-right: 8px;
}
.opened_element_container .opened_element .inputs .options .option .multiple {
  margin-right: 0 !important;
}
.opened_element_container .opened_element .inputs .options .option .option_input_before {
  position: absolute;
  height: 2px;
  width: 26px;
  top: calc(50% - 1px);
  left: -36px;
}
.opened_element_container .opened_element .inputs .options .option .option_value {
  width: 20%;
}
.opened_element_container .opened_element .inputs .options .option .f_sub_title {
  border: 1px solid #F2F2F2;
  border-radius: 14px;
  padding: 6px 12px;
  margin: 0 8px;
  display: flex;
  align-items: center;
}
.opened_element_container .opened_element .inputs .options .option:last-child {
  margin-bottom: 0 !important;
}
.opened_element_container .opened_element:last-child {
  margin-bottom: 0 !important;
}

#calc-container {
  line-height: 24px;
  letter-spacing: 0.2px;
  font-size: 14px;
}
#calc-container .clear_input {
  border: 0;
  padding: 0;
  margin: 0;
  width: auto;
  font-family: inherit;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
#calc-container .clear_button {
  background: none;
  color: #fff;
  font-size: 11px;
  text-transform: uppercase;
  text-align: center;
  padding: 12px 16px;
  font-weight: 700;
}
#calc-container .clear_input.select {
  padding: 3px 4px !important;
  z-index: 1;
  font-weight: 500;
  font-size: 14px;
  color: #4F4F4F;
  opacity: 0.75;
}
#calc-container label, #calc-container input {
  display: block;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
#calc-container .labels {
  margin-bottom: 12px;
}
#calc-container label.title {
  opacity: 0.75;
}
#calc-container label.title input {
  font-weight: 600;
  font-size: 15px;
  color: #181717;
  font-family: inherit;
  line-height: 24px;
}
#calc-container div.sub-title {
  opacity: 0.75;
  margin-top: 2px;
}
#calc-container div.sub-title input {
  font-weight: 400;
  font-size: 13px;
  color: #181717;
  font-family: inherit;
  line-height: 24px;
}
#calc-container input[type=number] {
  -moz-appearance: textfield;
}
#calc-container .input-select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  color: #fff !important;
}
#calc-container .input-gray-select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
}
#calc-container .input-select:after {
  position: absolute;
  right: 8px;
  top: calc(50% - 12px);
  width: 24px;
  height: 24px;
  background-image: url("/resources/images/select.svg");
  background-repeat: no-repeat;
  content: " ";
  transition-duration: 0.2s;
  transition-timing-function: linear;
}
#calc-container .input-select.rotate:after {
  transform: rotate(-180deg);
}
#calc-container .input-select {
  position: relative;
  top: 0;
  left: 0;
  width: calc(100% - 34px) !important;
}
#calc-container .input-select .input-select-dropdown {
  position: absolute;
  top: 50px;
  left: 0;
  max-height: 0;
  z-index: 10;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-property: max-height;
  background: #fff;
  width: 60%;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  box-shadow: 0 10px 40px 0 rgba(116, 133, 177, 0.13);
}
#calc-container .input-select .input-select-dropdown li {
  color: #4F4F4F;
  padding: 12px 24px;
  cursor: pointer;
}
#calc-container .input-select .input-select-dropdown li:first-child {
  padding-top: 24px !important;
}
#calc-container .input-select .input-select-dropdown li:last-child {
  padding-bottom: 24px !important;
}
#calc-container .input-select .input-select-dropdown.show {
  max-height: 300px;
  overflow: scroll;
  display: block;
}
#calc-container input::-webkit-outer-spin-button,
#calc-container input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#calc-container textarea {
  font-weight: 400;
  font-size: 15px;
  color: #181717;
  border: 0;
  padding: 0;
  margin: 0;
  font-family: inherit;
  resize: none;
  width: 100%;
  line-height: 24px;
  letter-spacing: 0.2px;
}
#calc-container label.checkbox {
  padding-left: 32px;
  color: #4F4F4F;
  opacity: 0.75;
  margin-top: 12px;
  background-image: url("/resources/images/checkbox_off.svg");
  background-position: left center;
  background-repeat: no-repeat;
  height: 24px;
  display: inline-block;
}
#calc-container label.checkbox input {
  color: #4F4F4F;
  opacity: 0.75;
  font-size: 14px;
  line-height: 24px;
  width: auto;
}
#calc-container label.checkbox.selected {
  background-image: url("/resources/images/checkbox_on.svg");
}
#calc-container label.radio {
  padding-left: 32px;
  color: #4F4F4F;
  opacity: 0.75;
  margin-top: 12px;
  background-image: url("/resources/images/radio_off.svg");
  background-position: left center;
  background-repeat: no-repeat;
  height: 24px;
  display: inline-block;
  cursor: pointer;
}
#calc-container label.radio input {
  color: #4F4F4F;
  opacity: 0.75;
  font-size: 14px;
  line-height: 24px;
  width: auto;
}
#calc-container label.radio.selected {
  background-image: url("/resources/images/radio_on.svg");
}
#calc-container .col-12 {
  width: 100%;
}
#calc-container .col-12 input {
  width: calc(100% - 32px);
}
#calc-container .col-8 {
  width: calc(66.66% - 34px);
}
#calc-container .col-8 input {
  width: calc(100% - 32px);
}
#calc-container .col-6 {
  width: calc(50% - 34px);
}
#calc-container .col-6 input {
  width: calc(100% - 32px);
}
#calc-container .col-4 {
  width: calc(33.33% - 34px);
}
#calc-container .col-4 input {
  width: calc(100% - 32px);
}
#calc-container .delete {
  cursor: pointer;
}
#calc-container .action_icons {
  padding-bottom: 4px;
  border-bottom: 1px solid #EFF5FB;
  margin-top: 18px;
}
#calc-container .action_icons .icon {
  display: inline-block;
  height: 24px;
  width: 24px;
  font-size: 20px;
  padding-right: 8px;
  padding-left: 8px;
  border-right: 1px solid #EFF5FB;
  cursor: pointer;
}
#calc-container .action_icons .icon:last-child {
  padding-right: 0;
  border-right: 0;
}
#calc-container .action_icons .icon:first-child {
  padding-left: 0;
}
#calc-container .text-black {
  color: #181717;
}
#calc-container .text-black:before {
  color: #181717;
}
#calc-container .text-blue {
  color: #2261b6;
}
#calc-container .text-blue:before {
  color: #2261b6;
}
#calc-container .editable {
  color: #181717;
  font-size: 15px;
}
#calc-container .editable a {
  color: #1D92FF;
}
#calc-container .mini_text_actions {
  border-bottom: 0 !important;
  margin-top: 0 !important;
  position: relative;
  z-index: 2;
  background: #fff;
}
#calc-container .mini_padding {
  padding: 14px 14px 2px 14px;
  width: 114px;
  height: 28px;
}
#calc-container .mini_padding:after {
  content: "";
  position: absolute;
  top: 4px;
  left: 56px;
  z-index: 1;
  background: white;
  border: 13px solid transparent;
  transform: rotate(45deg) translateX(15px) translateY(15px);
  box-shadow: 0 10px 20px 0 rgba(116, 133, 177, 0.1);
}
#calc-container .url_submenu ul {
  margin-top: 0;
  margin-bottom: 2px;
}
#calc-container .url_submenu ul li {
  border-bottom: 0;
}
#calc-container .url_submenu .btn {
  margin-top: 12px;
  padding: 4px 16px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: inline-block;
}
#calc-container .image_component {
  display: flex;
  justify-content: center;
  align-items: center;
}
#calc-container .image_component .vue-dropzone {
  width: 100%;
  height: 100%;
  border: 0 !important;
  font-family: inherit !important;
  min-height: auto !important;
  padding: 0 !important;
  border-radius: 14px;
}
#calc-container .image_component .vue-dropzone:hover {
  background: none !important;
}
#calc-container .image_component .dz-image img {
  width: 100%;
}
#calc-container .image_component .dz-preview {
  z-index: 1;
  margin: 0 !important;
}
#calc-container .image_component .dz-message {
  margin: 0 !important;
}
#calc-container .image_component .dz-remove {
  text-decoration: none !important;
}
#calc-container .image_component .start_screen {
  border-radius: 14px;
  background: #FAFAFA;
  border: 1px dashed #E0E0E0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #828282;
  opacity: 0.75;
  font-size: 14px;
  padding: 36px 0 28px 0;
}
#calc-container .button_component {
  display: inline-block;
  background: #2D82F4;
  border-radius: 7px;
  color: #fff;
}

.opened_element .word {
  cursor: pointer;
}

/*
#calc-container {
    line-height: 24px;
    letter-spacing: 0.2px;
    font-size: 14px;
    label, input {
        display: block;
    }
    label {
        font-weight: 600;
        font-size: 15px;
        color: #181717;
        opacity: 0.75;
        margin-bottom: 12px;
    }
    input[type="number"] {
        background: #FFFFFF;
        border: 1px solid #F2F2F2;
        border-radius: 14px;
        padding: 12px 16px;
        font-weight: 500;
        color: #4F4F4F;
    }
    .col-12 {
        width: 100%;
        input {
            width: calc(100% - 32px);
        }
    }
}
 */
@media (min-width: 920px) and (max-width: 1024px) {
  .sidebar {
    width: 226px;
  }

  .sidebar .tabs div {
    padding: 8px 0;
  }

  .drug_tool {
    display: none !important;
  }

  .btn {
    font-size: 10px !important;
    padding: 7px 36px !important;
  }

  .mr-16 {
    margin-right: 12px !important;
  }

  .sidebar .tabs div {
    border: 0 !important;
    background: initial !important;
  }

  .sidebar .tabs .active {
    color: #CFE8FF !important;
  }

  .sidebar .tabs .active span:before {
    color: #CFE8FF !important;
  }

  .sidebar .elements .element {
    padding: 10px 16px !important;
  }

  .sidebar .wrapper {
    height: calc(100% - 50px) !important;
  }

  .sidebar .elements {
    border-top: 0 !important;
  }

  .content {
    padding: 16px !important;
  }
}
@media (min-width: 768px) and (max-width: 920px) {
  .sidebar {
    width: 226px;
  }

  .sidebar .tabs div {
    border: 0 !important;
    background: initial !important;
  }

  .sidebar .tabs .active {
    color: #CFE8FF !important;
  }

  .sidebar .tabs .active span:before {
    color: #CFE8FF !important;
  }

  .sidebar .tabs .design span:before {
    padding-right: 4px;
  }

  .sidebar .tabs .fx span:before {
    padding-right: 2px;
  }

  .drug_tool {
    display: none !important;
  }

  .btn {
    font-size: 10px !important;
    padding: 7px 36px !important;
  }

  .mr-16 {
    margin-right: 12px !important;
  }

  .sidebar .tabs {
    margin-bottom: 5px !important;
  }

  .sidebar .elements .element {
    padding: 10px 16px !important;
  }

  .sidebar .wrapper {
    height: calc(100% - 60px) !important;
  }

  .content {
    padding: 24px 16px !important;
  }

  #calc-container {
    padding: 16px !important;
    min-width: auto !important;
    width: 100% !important;
  }

  .start-window {
    z-index: 10 !important;
  }
}
@media (max-width: 767px) {
  body {
    padding-bottom: 83px !important;
    /*background: #F8F8F8;*/
  }

  .xl {
    display: none !important;
  }

  .xs {
    display: block !important;
  }

  .xs-flex {
    display: flex !important;
  }

  .xl-flex {
    display: none !important;
  }

  .tabs {
    padding: 0 16px !important;
  }

  .container {
    min-height: initial !important;
    flex-direction: column !important;
    margin-top: 12px;
  }

  .sidebar {
    display: none;
    height: auto !important;
  }
  .sidebar .wrapper {
    overflow-y: hidden !important;
    height: auto !important;
  }

  .content {
    width: 100%;
    padding: 16px 0 !important;
  }

  .start-window {
    padding: 16px;
    width: calc(100% - 32px) !important;
  }
  .start-window img, .start-window div {
    width: 100%;
  }
  .start-window div {
    margin: 20px 0 !important;
    font-size: 14px;
  }

  .panel {
    padding: 0 16px;
  }

  #calc-container {
    width: calc(100% - 16px) !important;
    padding: 16px 8px !important;
    min-width: unset !important;
    min-height: 330px !important;
  }

  .calc-wrapper {
    margin-top: 32px !important;
  }

  .bottom-bar {
    box-shadow: 0 1px 1px rgba(49, 79, 123, 0.15), 0 10px 20px rgba(49, 74, 123, 0.25);
  }
}
/* component style */
.vue-slider-disabled .vue-slider-process {
  background-color: #a7a7a7;
}

.vue-slider-disabled .vue-slider-dot-handle {
  border-color: #a7a7a7;
}

/* rail style */
.vue-slider-rail {
  background-color: whitesmoke;
  border-radius: 15px;
  transition: background-color 0.3s;
}

.vue-slider:hover .vue-slider-rail {
  background-color: #e1e1e1;
}

/* process style */
.vue-slider-process {
  background-color: #a7a7a7;
  border-radius: 15px;
  transition: background-color 0.3s;
  display: none;
}

.vue-slider:hover .vue-slider-process {
  background-color: #a7a7a7;
}

/* mark style */
.vue-slider-mark-step {
  width: 1px;
  height: 8px !important;
  background: #E0E0E0;
  top: -4px !important;
}

.vue-slider-mark:first-child .vue-slider-mark-step, .vue-slider-mark:last-child .vue-slider-mark-step {
  width: 2px !important;
  height: 12px !important;
  background: #C4C4C4 !important;
  top: -6px !important;
}

.vue-slider-mark-label {
  color: #BDBDBD;
  font-weight: 400;
  white-space: nowrap;
  margin-top: 14px !important;
}

.pref_slider .vue-slider-mark-label {
  margin-top: 20px !important;
  color: #181717 !important;
  opacity: 0.75 !important;
}
.pref_slider .vue-slider-mark-step {
  width: 1px;
  height: 8px !important;
  background: #E0E0E0;
  top: -3px !important;
}
.pref_slider .vue-slider-mark:first-child .vue-slider-mark-step, .pref_slider .vue-slider-mark:last-child .vue-slider-mark-step {
  width: 2px !important;
  height: 12px !important;
  background: #C4C4C4 !important;
  top: -5px !important;
}

/* dot style */
.vue-slider-dot-handle {
  cursor: pointer;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: #2D82F4;
  box-shadow: 0 1px 2px rgba(49, 92, 123, 0.25), 0 10px 20px rgba(49, 92, 123, 0.25);
  border-radius: 14px;
  box-sizing: border-box;
  transition: box-shadow 0.3s, border-color 0.3s;
}

.vue-slider:hover .vue-slider-dot-handle {
  border-color: #69c0ff;
}

.vue-slider-dot-handle-focus {
  border-color: #36abff;
  box-shadow: 0 0 0 5px rgba(54, 171, 255, 0.2);
}

.vue-slider:hover .vue-slider-dot-handle-focus {
  border-color: #36abff;
}

.vue-slider-dot-handle:hover {
  border-color: #36abff;
}

.vue-slider:hover .vue-slider-dot-handle:hover {
  border-color: #36abff;
}

.vue-slider-dot-handle-disabled {
  cursor: not-allowed;
  border-color: #ddd !important;
}

.vue-slider-dot-tooltip {
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}

.vue-slider-dot-tooltip-inner {
  white-space: nowrap;
  padding: 4px 8px;
  color: #fff;
  font-weight: 600;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.2px;
  background: #3D4562;
  border-radius: 7px;
  box-shadow: 0 1px 1px rgba(49, 79, 123, 0.15), 0 10px 20px rgba(49, 74, 123, 0.25);
  transition: transform 0.3s;
  min-width: 20px;
  text-align: center;
  z-index: 1;
}

.vue-slider-dot-tooltip-inner::after {
  content: "";
  position: absolute;
}

.vue-slider-dot-tooltip-inner-top::after {
  content: "";
  position: absolute;
  width: 0;
  height: 19px;
  left: calc(50% - 8px);
  bottom: -34px;
  border: 8px solid transparent;
  border-top: 8px solid #3D4562;
  pointer-events: none;
}

.vue-slider-dot-tooltip-inner-bottom::after {
  bottom: 100%;
  left: 50%;
  transform: translate(-50%, 0);
  height: 0;
  width: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px;
  border-bottom-color: inherit;
}

.vue-slider-dot-tooltip-inner-left::after {
  left: 100%;
  top: 50%;
  transform: translate(0, -50%);
  height: 0;
  width: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px;
  border-left-color: inherit;
}

.vue-slider-dot-tooltip-inner-right::after {
  right: 100%;
  top: 50%;
  transform: translate(0, -50%);
  height: 0;
  width: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px;
  border-right-color: inherit;
}

.vue-slider-dot-tooltip-inner-top {
  transform-origin: 50% 100%;
}

.vue-slider-dot-tooltip-inner-bottom {
  transform-origin: 50% 0;
}

.vue-slider-dot-tooltip-inner-left {
  transform-origin: 100% 50%;
}

.vue-slider-dot-tooltip-inner-right {
  transform-origin: 0% 50%;
}

.vue-slider-dot:hover .vue-slider-dot-tooltip, .vue-slider-dot-tooltip-show {
  opacity: 1;
  visibility: visible;
}

.vue-slider-dot {
  z-index: 1 !important;
}
