<template>
    <div @click="show" class="sm_div">
        <tooltip :text="text" class="ico ico-tool icon-button border-right ico-button"></tooltip>
        <span class="modal" :id="type + element.uid" style="width: 214px">
            <div class="pref-title">Настройки кнопки</div>
            <div class="action_icons" style="width: fit-content !important;">
                <span class="icon icon-text-left" :class="color(element.button_align, 'left')" @click="change_value('button_align', 'left')"></span>
                <span class="icon icon-text-center" :class="color(element.button_align, 'center')" @click="change_value('button_align', 'center')"></span>
                <span class="icon icon-text-right" :class="color(element.button_align, 'right')" @click="change_value('button_align', 'right')"></span>
            </div>
            <div class="padding-column mt16">
                <div class="pref-label">Выберите действие</div>
                <div class="input-select" style="width: auto !important;">
                    <select class="form-control input-gray-select" v-model="element.action">
                        <option value="calc">Посчитать</option>
                        <option value="email">Отправить на email</option>
                        <option value="sms">Отправить sms</option>
                        <option value="whatsapp">Отправить в whatsapp</option>
                    </select>
                </div>
            </div>
            <div class="padding-column mt16" v-if="element.action === 'email'">
                <div class="pref-label">Введите email</div>
                <input type="text" class="form-control width100p" v-model="element.contacts.email">
            </div>
            <div class="padding-column mt16" v-if="element.action === 'sms' || element.action === 'whatsapp'">
                <div class="pref-label">Введите телефон</div>
                <input type="text" class="form-control width100p" v-model="element.contacts.phone">
            </div>


            <div class="modal_close"><span @click="close" class="ico icon-times2"></span></div>
        </span>
    </div>
</template>


<script>
    import Tooltip from '../Tooltip';

    export default {
        data() {
            return {
                text: 'Настройки кнопки',
                tooltip: null,
                type: 'modal_button',
            }
        },
        props: ['element'],
        methods: {
            show(e){
                if(e.target.classList.contains('ico-tool')){
                    this.$emit('show_modal', this.element.uid, e, this.type);
                }
            },
            close(e){
                let ic = document.querySelectorAll('.ico-button');
                ic.forEach(i => {
                    i.classList.remove('active');
                });
                let modal = e.target.parentNode.parentNode;
                modal.classList.remove('show');
            },
            color(what, equals) {
                return what === equals ? 'text-black' : 'text-blue';
            },
            change_value(type, value) {
                this.$store.commit('default_value', {
                    'uid': this.element.uid,
                    'type': type,
                    'value': value
                })
            },
        },
        mounted() {
            let modal = document.getElementById(this.type + this.element.uid);
            let container = document.getElementById('calc-container');
            container.appendChild(modal);
        },
        components: {
            Tooltip
        },
    }
</script>
