<template>
    <div @click="clone" class="sm_div">
        <tooltip :text="text" class="ico icon-double2 border-right ico-button"></tooltip>
    </div>
</template>


<script>
    import Tooltip from '../Tooltip';
    export default {
        data() {
            return {
                text: 'Клонировать',
                tooltip: null,
            }
        },
        props: ['element', 'index'],
        methods: {
            clone(){
                this.$emit('cloneElement', this.element, this.index);
            },
        },
        components: {
            Tooltip
        },
    }
</script>
