<template>
    <div @click="deleteElement" class="sm_div">
        <tooltip :text="text" class="ico icon-trash border-right ico-button"></tooltip>
    </div>
</template>

<script>
    import Tooltip from '../Tooltip';
    export default {
        data() {
            return {
                text: 'Удалить',
                tooltip: null,
            }
        },
        props: ['element', 'index'],
        methods: {
            deleteElement(){
                this.$emit('deleteElement', this.element.uid);
            },
        },
        components: {
            Tooltip
        },
    }
</script>
