<template>
    <div @click="show" class="sm_div">
        <tooltip :text="text" class="ico ico-tool icon-input-notext border-right ico-button"></tooltip>
        <span class="modal" :id="type + element.uid">
            <div class="pref-title">Тип поля</div>
            <div style="width: 300px">
                <radio-component :element="radio" :type_selected.sync="type_selected"></radio-component>
            </div>
            <ul class="pref-list top-bordered" style="margin: 24px 0 0">
                <li>
                    <div class="pref-label">Подсказка</div>
                    <switch-toggle :uid="element.uid" type="placeholder" :model.sync="element.placeholder.visibility"></switch-toggle>
                </li>
            </ul>
            <div style="width: 300px" v-if="element.placeholder.visibility === true">
                <input type="text" v-model="element.placeholder.text" class="form-control" style="width: calc(100% - 30px)">
            </div>
            <div class="modal_close"><span @click="close" class="ico icon-times2"></span></div>
        </span>
    </div>
</template>


<script>
    import Tooltip from '../Tooltip';
    import SwitchToggle from '../SwitchToggle';
    import RadioComponent from '../modules/Radio';

    export default {
        data() {
            return {
                text: 'Тип поля',
                tooltip: null,
                type: 'modal_input',
                radio: {
                    id: 3,
                    name: 'Радио кнопка',
                    icon: 'icon-radio',
                    size: 'col-12',
                    prop: 'radio',
                    padding: { top: 0, bottom: 16 },
                    label: { title: { visibility: false, text: 'Заголовок' }, description: { visibility: false, text: 'Описание' } },
                    options: [
                        { index: 1, text: 'Числовое', type: 'number' },
                        { index: 2, text: 'Текстовое', type: 'text' },
                        { index: 3, text: 'Большое текстовое', type: 'textarea' }
                    ],
                    selected: 1,
                    color: '#bb6bd9',
                    compiled: true
                },
                type_selected: 1
            }
        },
        props: ['element'],
        methods: {
            show(e){
                if(e.target.classList.contains('ico-tool')){
                    this.$emit('show_modal', this.element.uid, e, this.type);
                }
            },
            close(e){
                let ic = document.querySelectorAll('.ico-button');
                ic.forEach(i => {
                    i.classList.remove('active');
                });
                let modal = e.target.parentNode.parentNode;
                modal.classList.remove('show');
            },
        },
        watch: {
            type_selected: function (val) {
                let i = this.radio.options.findIndex(item => item.index === val);
                this.$store.commit('default_value', {
                   uid: this.element.uid,
                   type: 'types',
                   value: this.radio.options[i].type
                });
                // this.element.types = this.radio.options[i].type;
            },
        },
        mounted() {
            let modal = document.getElementById(this.type + this.element.uid);
            let container = document.getElementById('calc-container');
            container.appendChild(modal);
            this.radio.uid = this.element.uid;
        },
        components: {
            Tooltip, RadioComponent, SwitchToggle
        },
    }
</script>
