<template>
    <div @click="show" class="sm_div">
        <tooltip :text="text" class="ico ico-tool icon-list2 border-right ico-button"></tooltip>
        <span class="modal" :id="type + element.uid">
            <div class="pref-title">Пункты</div>
            <div class="options">
                <div class="option" v-for="option in element.options">
                    <div class="index">{{ option.index }}</div>
                    <input type="text" v-model="option.text" @input="resizeInput($event, option.index)" class="form-control">
                    <div class="delete" @click="deleteElement(option.index)"><span class="ico icon-trash"></span></div>
                </div>
            </div>
            <div class="addOption" :style="'border:2px dashed ' + element.color" @click="addOption">
                <span class="ico icon-plus" :style="'color: ' + element.color"></span>
            </div>
            <div class="modal_close"><span @click="close" class="ico icon-times2"></span></div>
        </span>
    </div>
</template>


<script>
    import Tooltip from '../Tooltip';
    export default {
        data() {
            return {
                text: 'Редактирование пунктов',
                tooltip: null,
                type: 'modal_list'
            }
        },
        props: ['element'],
        methods: {
            show(e){
                if(e.target.classList.contains('ico-tool')){
                    this.$emit('show_modal', this.element.uid, e, this.type);
                }
            },
            close(e){
                let ic = document.querySelectorAll('.ico-button');
                ic.forEach(i => {
                    i.classList.remove('active');
                });
                let modal = e.target.parentNode.parentNode;
                modal.classList.remove('show');
            },
            resizeInput(e, index){
                let input;
                let selectedIndex = parseInt(document.querySelector('#' + this.element.uid).dataset.selected);
                if(index === selectedIndex){
                    if(this.element.prop === 'select'){
                        input = document.querySelector('#' + this.element.uid).parentNode.querySelector('.clear_input');
                    } else {
                        input = document.querySelector('label[for="' + this.element.uid + '_' + index + '"]').querySelector('.clear_input');
                    }
                    let el = e.target;
                    input.style.width = ((el.value.length + 1) * 9) + 'px';
                }
            },
            deleteElement(index){
                if(this.element.options.length > 1){
                    let pos = this.element.options.findIndex(item => item.index === index);
                    this.element.options.splice(pos, 1);
                    this.$emit('deleteOption', { index: index, uid: this.element.uid });
                    this.element.options.forEach((option, key) => {
                        option.index = key + 1;
                    });
                } else {
                    alert('Нельзя удалить последний элемент');
                }
            },
            addOption(){
                this.$emit('addOption');
            },
        },
        mounted() {
            let modal = document.getElementById(this.type + this.element.uid);
            let container = document.getElementById('calc-container');
            container.appendChild(modal);
        },
        components: {
            Tooltip
        },
    }
</script>
