<template>
    <div @click="show" class="sm_div">
        <tooltip :text="text" class="ico icon-cog border-right ico-button"></tooltip>
        <span class="modal" :id="type + element.uid">
            <div class="pref-title">Настройки</div>
            <ul class="pref-list">
                <li>
                    <div class="pref-label">Заголовок</div>
                    <switch-toggle :uid="element.uid" type="title" :model.sync="element.label.title.visibility"></switch-toggle>
                </li>
                <li>
                    <div class="pref-label">Описание</div>
                    <switch-toggle :uid="element.uid" type="desc" :model.sync="element.label.description.visibility"></switch-toggle>
                </li>
                <li @click="padding" class="next">
                    <div class="pref-label">Отступы</div>
                    <div class="pref-toggle"><span class="ico icon-arrow-right-angle"></span></div>
                </li>
            </ul>

            <div class="pref-label">Размер</div>
            <vue-slider
                v-model="element.size"
                v-bind="slider_options"
                style="padding: 28px 2px"
                class="pref_slider">
            </vue-slider>
            <div class="modal_close"><span @click="close" class="ico icon-times2"></span></div>
        </span>

        <span class="modal" :id="type + '_padding' + element.uid">
            <div class="pref-title">Отступы</div>
            <div class="padding-line mt16">
                <div class="pref-label">Сверху</div>
                <div><input type="number" class="form-control" v-model="element.padding.top" min="0" max="100"></div>
            </div>
            <vue-slider
                v-model="element.padding.top"
                v-bind="slider_padding_options"
                style="padding: 28px 2px;"
                class="pref_slider">
            </vue-slider>

            <div class="padding-line mt12">
                <div class="pref-label">Снизу</div>
                <div><input type="number" class="form-control" v-model="element.padding.bottom" min="0" max="100"></div>
            </div>
            <vue-slider
                v-model="element.padding.bottom"
                v-bind="slider_padding_options"
                style="padding: 28px 2px"
                class="pref_slider">
            </vue-slider>
            <div class="modal_close"><span @click="close" class="ico icon-times2"></span></div>
        </span>
    </div>
</template>


<script>
    import Tooltip from '../Tooltip';
    import SwitchToggle from '../SwitchToggle';
    import VueSlider from 'vue-slider-component'

    export default {
        data() {
            return {
                text: 'Настройки',
                ev: null,
                tooltip: null,
                slider_options: {
                    dotSize: 24,
                    width: 320,
                    height: 1,
                    dataLabel: 'text',
                    dataValue: 'size',
                    data:[
                        { size: 'col-4', text: '1/3' },
                        { size: 'col-6', text: '1/2' },
                        { size: 'col-8', text: '2/3' },
                        { size: 'col-12', text: '1' }
                    ],
                    tooltip: 'none'
                },
                slider_padding_options: {
                    dotSize: 24,
                    width: 320,
                    height: 1,
                    tooltip: 'none',
                    min: 0,
                    max: 100,
                    marks: false
                },
                type: 'modal_pref'
            }
        },
        props: ['element', 'selected'],
        methods: {
            show(e){
                if(e.target.classList.contains('ico') && !e.target.classList.contains('icon-times2')){
                    this.ev = e;
                    this.$emit('show_modal', this.element.uid, this.ev, this.type);
                }
            },
            resize(size){
                this.element.size = size;
            },
            active(size){
                return size === this.element.size;
            },
            close(e){
                this.$emit('freeze', false);
                let ic = document.querySelectorAll('.ico-button');
                ic.forEach(i => {
                    i.classList.remove('active');
                });
                let modal = e.target.parentNode.parentNode;
                modal.classList.remove('show');
            },
            padding(){
                this.$emit('show_modal', this.element.uid, this.ev, this.type + '_padding');
            },
        },
        mounted() {
            let modal = document.getElementById(this.type + this.element.uid);
            let modal_padding = document.getElementById(this.type + '_padding' + this.element.uid);
            let container = document.getElementById('calc-container');
            container.appendChild(modal);
            container.appendChild(modal_padding);
        },
        components: {
            Tooltip, VueSlider, SwitchToggle
        },
    }
</script>
