<template>
    <div @click="show" class="sm_div">
        <tooltip :text="text" class="ico ico-tool icon-slider border-right ico-button"></tooltip>
        <span class="modal" :id="type + element.uid">
            <div class="modal_title">Слайдер</div>
            <div class="options">
                <div class="option">
                    <div class="index_option">Минимум</div>
                    <input type="number" v-model.number.null="element.min" min="0" max="100000" class="form-control slide_option">
                </div>
                <div class="option">
                    <div class="index_option">Максимум</div>
                    <input type="number" v-model.number="element.max" min="10" max="100000000" class="form-control slide_option">
                </div>
                <div class="option">
                    <div class="index_option">Шаг</div>
                    <input type="number" v-model.number="element.step" min="1" max="100000000" class="form-control slide_option">
                </div>
            </div>
            <div class="p-slider">
                <div class="p-title">Подсказка</div>
                <vue-slider
                    v-model="element.tooltip"
                    v-bind="slider_tooltip_options"
                    style="padding: 28px 2px"
                    class="pref_slider">
                </vue-slider>
            </div>
            <div class="p-slider" style="margin-top: 46px;">
                <div class="p-title">Маркеры</div>
                <vue-slider
                    v-model.number="element.marks"
                    v-bind="slider_markers_options"
                    style="padding: 28px 2px"
                    class="pref_slider">
                </vue-slider>
            </div>
            <div class="modal_close"><span @click="close" class="ico icon-times2"></span></div>
        </span>
    </div>
</template>


<script>
    import Tooltip from '../Tooltip';
    import VueSlider from 'vue-slider-component'

    export default {
        data() {
            return {
                text: 'Настройки слайдера',
                slider_tooltip_options: {
                    dotSize: 24,
                    width: 320,
                    height: 1,
                    dataLabel: 'text',
                    dataValue: 'tooltip',
                    data:[
                        { tooltip: 'none', text: 'off' },
                        { tooltip: 'focus', text: 'фокус' },
                        { tooltip: 'always', text: 'вкл' },
                    ],
                    tooltip: 'none'
                },
                slider_markers_options: {
                    dotSize: 24,
                    width: 320,
                    height: 1,
                    dataLabel: 'text',
                    dataValue: 'size',
                    data:[
                        { size: 0, text: 'off' },
                        { size: 2, text: '2' },
                        { size: 5, text: '5' },
                        { size: 10, text: '10' }
                    ],
                    tooltip: 'none'
                },
                type: 'modal_slider'
            }
        },
        props: ['element'],
        methods: {
            show(e){
                if(e.target.classList.contains('ico-tool')){
                    this.$emit('show_modal', this.element.uid, e, this.type);
                }
            },
            close(e){
                let ic = document.querySelectorAll('.ico-button');
                ic.forEach(i => {
                    i.classList.remove('active');
                });
                let modal = e.target.parentNode.parentNode;
                modal.classList.remove('show');
            },
        },
        mounted() {
            let modal = document.getElementById(this.type + this.element.uid);
            let container = document.getElementById('calc-container');
            container.appendChild(modal);
        },
        components: {
            Tooltip, VueSlider
        },
    }
</script>
