<template>
    <div @click="show" class="sm_div">
        <tooltip :text="text" class="ico ico-tool icon-text border-right ico-button"></tooltip>
        <span class="modal" :id="type + element.uid" style="width: 214px">
            <div class="pref-title">Настройки текста</div>
            <div class="action_icons">
                <span class="icon icon-text-left" :class="color(element.text_align, 'left')" @click="change_value('text_align', 'left')"></span>
                <span class="icon icon-text-center" :class="color(element.text_align, 'center')" @click="change_value('text_align', 'center')"></span>
                <span class="icon icon-text-right" :class="color(element.text_align, 'right')" @click="change_value('text_align', 'right')"></span>
                <span class="icon icon-text-bold" :class="color(element.bold, '600')" @click="bold_toggle()"></span>
                <span class="icon icon-text-italic" :class="color(element.italic, 'italic')" @click="italic_toggle()"></span>
            </div>
            <div class="padding-line mt16">
                <div class="pref-label">Размер шрифта</div>
                <div><input type="number" class="form-control" v-model="element.font_size" min="10" max="25"></div>
            </div>
            <vue-slider
                v-model="element.font_size"
                v-bind="slider_font_size"
                style="padding: 28px 2px;"
                class="pref_slider">
            </vue-slider>

            <div class="modal_close"><span @click="close" class="ico icon-times2"></span></div>
        </span>
    </div>
</template>


<script>
    import Tooltip from '../Tooltip';
    import VueSlider from 'vue-slider-component'

    export default {
        data() {
            return {
                text: 'Настройки текста',
                tooltip: null,
                type: 'modal_text',
                slider_font_size: {
                    dotSize: 24,
                    width: 214,
                    height: 1,
                    tooltip: 'none',
                    min: 10,
                    max: 25,
                    marks: val => {
                        if(val === 10 || val === 25) return true;
                        return val % (25 / 15) === 0;
                    }
                },
            }
        },
        props: ['element'],
        methods: {
            show(e){
                if(e.target.classList.contains('ico-tool')){
                    this.$emit('show_modal', this.element.uid, e, this.type);
                }
            },
            close(e){
                let ic = document.querySelectorAll('.ico-button');
                ic.forEach(i => {
                    i.classList.remove('active');
                });
                let modal = e.target.parentNode.parentNode;
                modal.classList.remove('show');
            },
            color(what, equals) {
                return what === equals ? 'text-black' : 'text-blue';
            },
            change_value(type, value) {
                this.$store.commit('default_value', {
                    'uid': this.element.uid,
                    'type': type,
                    'value': value
                })
            },
            bold_toggle() {
                let new_bold = this.element.bold === '600' ? 'normal' : '600';
                this.change_value('bold', new_bold);
            },
            italic_toggle() {
                let new_italic = this.element.italic === 'italic' ? 'normal' : 'italic';
                this.change_value('italic', new_italic);
            }
        },

        mounted() {
            let modal = document.getElementById(this.type + this.element.uid);
            let container = document.getElementById('calc-container');
            container.appendChild(modal);
        },
        components: {
            Tooltip, VueSlider
        },
    }
</script>
