@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?mc8cwi');
  src:  url('fonts/icomoon.eot?mc8cwi#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?mc8cwi') format('truetype'),
    url('fonts/icomoon.woff?mc8cwi') format('woff'),
    url('fonts/icomoon.svg?mc8cwi#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-text-anchor:before {
  content: "\e921";
  color: #2261b6;
}
.icon-text-italic:before {
  content: "\e922";
  color: #2261b6;
}
.icon-text-bold:before {
  content: "\e923";
  color: #2261b6;
}
.icon-text-right:before {
  content: "\e924";
  color: #2261b6;
}
.icon-text-center:before {
  content: "\e925";
  color: #2261b6;
}
.icon-text-left:before {
  content: "\e926";
}
.icon-input-notext:before {
  content: "\e927";
  color: #2261b6;
}
.icon-arrow-right-angle:before {
  content: "\e928";
  color: #2261b6;
}
.icon-times2:before {
  content: "\e920";
}
.icon-caret_down:before {
  content: "\e91f";
  color: #7986b5;
}
.icon-bars-xs:before {
  content: "\e91e";
  color: #2261b6;
}
.icon-preview:before {
  content: "\e91b";
  color: #2261b6;
}
.icon-constructor:before {
  content: "\e91c";
  color: #2261b6;
}
.icon-save:before {
  content: "\e91d";
  color: #2261b6;
}
.icon-arrow_right:before {
  content: "\e918";
  color: #fff;
}
.icon-arrow_top:before {
  content: "\e919";
  color: #cfe8ff;
}
.icon-times:before {
  content: "\e91a";
  color: #fff;
}
.icon-bars:before {
  content: "\e90a";
  color: #2261b6;
}
.icon-double2:before {
  content: "\e900";
  color: #7986b5;
}
.icon-drop:before {
  content: "\e901";
  color: #7986b5;
}
.icon-theme:before {
  content: "\e902";
  color: #7986b5;
}
.icon-cog:before {
  content: "\e903";
  color: #7986b5;
}
.icon-plus:before {
  content: "\e904";
  color: #1dadff;
}
.icon-list2:before {
  content: "\e905";
  color: #7986b5;
}
.icon-trash:before {
  content: "\e906";
  color: #7986b5;
}
.icon-font2:before {
  content: "\e907";
  color: #7986b5;
}
.icon-account:before {
  content: "\e908";
  color: #2261b6;
}
.icon-arrow-left:before {
  content: "\e909";
  color: #2261b6;
}
.icon-button:before {
  content: "\e90b";
  color: #c2f0ff;
}
.icon-checkbox:before {
  content: "\e90c";
  color: #2d9cdb;
}
.icon-design:before {
  content: "\e90d";
  color: #fff;
}
.icon-double:before {
  content: "\e90e";
  color: #7986b5;
}
.icon-formula:before {
  content: "\e90f";
  color: #1d92ff;
}
.icon-html:before {
  content: "\e910";
  color: #f9d94a;
}
.icon-image:before {
  content: "\e911";
  color: #f2994a;
}
.icon-input:before {
  content: "\e912";
  color: #73ccff;
}
.icon-list:before {
  content: "\e913";
  color: #f2c94c;
}
.icon-move:before {
  content: "\e914";
  color: #7986b5;
}
.icon-radio:before {
  content: "\e915";
  color: #bb6bd9;
}
.icon-slider:before {
  content: "\e916";
  color: #6fcf97;
}
.icon-text:before {
  content: "\e917";
  color: #6fcf97;
}
