<template>
    <div @click="click"
         @mouseover="click"
         @mouseout="clearSelect($event, true)"
         @drag="drag"
         :class="'wrapper' + element.uid"
         class="form-group-wrapper">

        <div v-if="element.prop === 'select'">
            <select-component :element="element" :delOption="delOption" @callbackOption="callbackOption"></select-component>
        </div>

        <div v-if="element.prop === 'slider'">
            <slider-component :element="element"></slider-component>
        </div>

        <div v-if="element.prop === 'checkbox'">
            <checkbox-component :element="element"></checkbox-component>
        </div>

        <div v-if="element.prop === 'radio'">
            <radio-component :element="element"></radio-component>
        </div>

        <div v-if="element.prop === 'input'">
            <input-component :element="element"></input-component>
        </div>

        <div v-if="element.prop === 'text'">
            <text-component :element="element"></text-component>
        </div>

        <div v-if="element.prop === 'image'">
            <image-component :element="element"></image-component>
        </div>

        <div v-if="element.prop === 'button'">
            <button-component :element="element"></button-component>
        </div>

        <div v-if="element.prop === 'result'">
            <result-component :element="element"></result-component>
        </div>

        <div class="form-sub-menu">
            <div class="sub-menu">
                <pref :element="element" :selected="selectedItem" @freeze="setFreeze" @show_modal="show_modal"></pref>
                <list
                    :element="element"
                    @show_modal="show_modal"
                    @deleteOption="deleteOption"
                    @addOption="addOption"
                    @freeze="setFreeze"
                    v-if="element.prop === 'checkbox' || element.prop === 'radio' || element.prop === 'select'"
                >
                </list>
                <slider
                    @show_modal="show_modal"
                    :element="element"
                    @freeze="setFreeze"
                    v-if="element.prop === 'slider'"
                >
                </slider>
                <Inputs
                    @show_modal="show_modal"
                    @freeze="setFreeze"
                    :element="element"
                    v-if="element.prop === 'input'"
                >
                </Inputs>
                <text-sub
                    @show_modal="show_modal"
                    @freeze="setFreeze"
                    :element="element"
                    v-if="element.prop === 'text'"
                >
                </text-sub>
                <button-sub
                    @show_modal="show_modal"
                    @freeze="setFreeze"
                    :element="element"
                    v-if="element.prop === 'button'"
                >
                </button-sub>


                <clone :element="element" @cloneElement="cloneThis" :index="index"></clone>
                <delete :element="element" @deleteElement="deleteElement"></delete>
            </div>
        </div>

        <div class="handle">
            <span class="ico icon-move ico-button sub-handle"></span>
        </div>
    </div>
</template>


<script>
    import ImageComponent from './modules/Image.vue';
    import TextComponent from './modules/Text.vue';
    import SelectComponent from './modules/Select.vue';
    import SliderComponent from './modules/Slider.vue';
    import CheckboxComponent from './modules/Checkbox.vue';
    import RadioComponent from './modules/Radio.vue';
    import InputComponent from './modules/Input.vue';
    import ButtonComponent from './modules/Button.vue';
    import ResultComponent from './modules/Result.vue';

    import Pref from './submenu/Pref.vue';
    import List from './submenu/List.vue';
    import Clone from './submenu/Clone.vue';
    import Delete from './submenu/Delete.vue';
    import Slider from './submenu/Slider.vue';
    import Inputs from './submenu/Input.vue';
    import TextSub from './submenu/Text.vue';
    import ButtonSub from './submenu/Button.vue';

    export default {
        data() {
            return {
                data: [],
                subMenu: null,
                selectedItem: null,
                selectedUid: null,
                delOption: false,
            }
        },
        props: ['element', 'dragging', 'index', 'freezeSelect', 'ccs'],
        methods: {
            click(e){
                if(this.freezeSelect === false){
                    let d = this.isDescendant(e.target);
                    if(e.target.classList.contains('form-group') || d) {
                        if(this.selectedItem === null){
                            this.selectedItem = d ? d : e.target;
                            this.$emit('select', this.selectedItem, this.element.uid);
                            this.selectedUid = this.element.uid;
                            this.updateItems();
                        } else {
                            if(this.selectedItem.getAttribute('data-uid') !== e.target.getAttribute('data-uid')){
                                this.selectedItem = e.target;
                                this.$emit('select', this.selectedItem, this.element.uid);
                                this.selectedUid = this.element.uid;
                                this.updateItems();
                            }
                        }
                    }
                }
            },
            isDescendant(child) {
                let node = child.parentNode;
                while (node != null) {
                    if (node.classList && node.classList.contains('form-group')) {
                        return node;
                    }
                    node = node.parentNode;
                }
                return false;
            },
            updateItems(){
                this.selected(0);
                if(this.dragging === false) {
                    if(this.selectedItem) this.selected(1);
                }
            },
            selected(show){
                if(show > 0) {
                    this.selectedItem.classList.add('selectedItem');
                    this.subMenu = this.selectedItem.querySelector('.form-sub-menu');
                    let handle = this.selectedItem.querySelector('.handle');
                    this.subMenu.classList.add('show');
                    handle.classList.add('show');
                } else {
                    let fg = document.querySelectorAll('.form-group');
                    fg.forEach(element => {
                        element.classList.remove('selectedItem');
                    });
                    let handles = document.querySelectorAll('.handle');
                    handles.forEach(handle => {
                        handle.classList.remove('show');
                    });
                    let sm = document.querySelectorAll('.form-sub-menu');
                    sm.forEach(s => {
                        let modals = s.querySelectorAll('.modal');
                        let active = 0;
                        modals.forEach(m => {
                            if(m.classList.contains('show')) active++;
                        });
                        if(active === 0) s.classList.remove('show');
                    });

                }
            },
            drag(e){
                this.dragging = true;
                //this.clearSelect(e);
            },
            clearSelect(e){
                if(this.freezeSelect === false) {
                    let relatedItem = e.relatedTarget ? e.relatedTarget : e.target;

                    if (relatedItem !== null) {
                        while (relatedItem) {
                            // поднимаемся по дереву элементов и проверяем – внутри ли мы selectedItem или нет
                            // если да, то это переход внутри элемента – игнорируем
                            if (relatedItem === this.selectedItem) return;
                            if (relatedItem.classList && relatedItem.classList.contains('wrapper' + this.selectedUid)) return;
                            relatedItem = relatedItem.parentNode;
                        }
                        this.selectedItem = null;
                        this.selectedUid = null;
                        this.$emit('select', false, false);

                        this.updateItems();
                    }
                }
            },
            cloneThis(element, index){
                this.$emit('cloneElement', element, index);
            },
            deleteElement(uid) {
                this.$emit('deleteElement', uid);
            },
            deleteOption(data){
                this.delOption = true;
                this.$store.commit('option_delete', data);
            },
            callbackOption(){
                this.delOption = false;
            },
            addOption(){
                let length = this.element.options.length;
                let index = this.element.options[length - 1].index + 1;
                this.element.options.push({ index: index, text: index });
                this.$store.commit('option_add', { index: index, text: index, uid: this.element.uid });
            },
            setFreeze(is){
                this.$emit('freeze', is);
            },
            show_modal(uid, e, type){
                this.setFreeze(true);
                let ic = document.querySelectorAll('.ico-button');
                ic.forEach(i => {
                    i.classList.remove('active');
                });
                e.target.classList.add('active');

                document.querySelectorAll('.modal').forEach(m => {
                    m.classList.remove('show');
                });

                let modal = document.getElementById(type + uid);
                let container = document.getElementById('calc-container');
                let coords = this.getCoords(e.target);
                let c_coords = this.getCoords(container);

                modal.style.top = (coords.top - c_coords.top + 38) + 'px';
                modal.style.left = (coords.left - c_coords.left - 180) + 'px';

                if(modal) {
                    modal.classList.add('show');
                }
            },
            getCoords(elem) {
                let coords = elem.getBoundingClientRect();
                return {
                    top : coords.top + window.pageYOffset,
                    left : coords.left + window.pageXOffset,
                    leftX: coords.left,
                    rigth : coords.left + window.pageXOffset + coords.width,
                    bottom : coords.top + window.pageYOffset + coords.height,
                    width : coords.width
                }
            }
        },
        watch: {
            dragging: function (val) {
                if(val === true && this.subMenu) {
                    this.subMenu.classList.remove('show');
                }
            },
            ccs: function(newVal, oldVal) {
                if(newVal !== null) {
                    if(newVal.uid === this.element.uid) this.clearSelect(newVal.event);
                }
            }
        },
        components: {
            TextSub,
            TextComponent, SelectComponent, CheckboxComponent, RadioComponent, SliderComponent, InputComponent, ButtonComponent,
            Pref, List, Clone, Delete, Slider, Inputs, ImageComponent, ButtonSub, ResultComponent
        },
        created() {
            // let vm = this;
            // document.addEventListener('click', function (e) {
            //     vm.clearWindow(e);
            // });
        },
    }
</script>
