<template>
    <div>
        <div v-if="element.prop === 'select'">
            <select-component :element="element"></select-component>
        </div>

        <div v-if="element.prop === 'input' && element.types === 'number'">
            <input-component :element="element"></input-component>
        </div>

        <div v-if="element.prop === 'slider'">
            <slider-component :element="element"></slider-component>
        </div>

        <div v-if="element.prop === 'checkbox'">
            <checkbox-component :element="element"></checkbox-component>
        </div>

        <div v-if="element.prop === 'radio'">
            <radio-component :element="element"></radio-component>
        </div>

    </div>
</template>


<script>
    import SelectComponent from './opened_modules/Select.vue';
    import InputComponent from './opened_modules/Input.vue';
    import SliderComponent from './opened_modules/Slider.vue';
    import CheckboxComponent from './opened_modules/Checkbox.vue';
    import RadioComponent from './opened_modules/Radio.vue';

    export default {
        data() {
            return {
                data: [],
            }
        },
        props: ['element', 'index'],
        methods: {

        },
        components: {
            SelectComponent, InputComponent, SliderComponent, CheckboxComponent, RadioComponent
        },
        mounted() {
            // console.log(this.element)
        }
    }
</script>
