<template>
    <div>
        <div class="row nuclear">
            <div class="col-12 nuclear">
                <h3 class="nuclear">{{ params[nowParam].title }}</h3>
            </div>
            <div class="col-12 changeSize nuclear" v-if="nowElement">
                <div class="form-check nuclear">
                    <input class="form-check-input nuclear" type="radio" name="blockSize" id="col4" value="col-4" v-model="nowSize">
                    <label class="form-check-label nuclear" for="col4">
                        col-4
                    </label>
                </div>
                <div class="form-check nuclear">
                    <input class="form-check-input nuclear" type="radio" name="blockSize" id="col6" value="col-6" v-model="nowSize">
                    <label class="form-check-label nuclear" for="col6">
                        col-6
                    </label>
                </div>
                <div class="form-check nuclear">
                    <input class="form-check-input nuclear" type="radio" name="blockSize" id="col8" value="col-8" v-model="nowSize">
                    <label class="form-check-label nuclear" for="col8">
                        col-8
                    </label>
                </div>
                <div class="form-check nuclear">
                    <input class="form-check-input nuclear" type="radio" name="blockSize" id="col12" value="col-12" v-model="nowSize">
                    <label class="form-check-label nuclear" for="col12">
                        col-12
                    </label>
                </div>
            </div>
            <div class="col-12 changeSize nuclear">
                <div v-for="prop in params[nowParam].props">
                    <div v-if="prop === 'label'" class="nuclear">
                        <input type="text" v-model="label" class="nuclear">
                    </div>
                    <div v-if="prop === 'text'" class="nuclear">
                        <textarea v-model="textarea" class="nuclear" style="width:100%"></textarea>
                    </div>
                </div>
            </div>
            <div class="col-12 changeSize nuclear" v-if="nowElement">
                <button @click="deleteElement" class="btn btn-danger nuclear">Удалить</button>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
               nowParam: 0,
               nowSize: '',
               nowElement: null,
               label: '',
               textarea: '',
               params: [
                   { code: 'master', title: 'Общие настройки', props: [] },
                   { code: 'integer', title: 'Числовое поле', props: ['label'] },
                   { code: 'text', title: 'Числовое поле', props: ['text', 'font-size'] }
               ]
            }
        },
        methods: {
            deleteElement(){
                let uid = this.nowElement.getAttribute('data-uid');
                this.$emit('deleteElement', uid);
                this.nowElement = null;
            }
        },
        props: {
            selected: HTMLDivElement
        },
        watch: {
            selected: function() {
                if (this.selected){
                    let propCode = this.selected.getAttribute('data-prop');
                    this.nowElement = this.selected;
                    if (propCode === 'int_input'){
                        this.nowParam = this.params.findIndex(item => item.code === 'integer');
                        this.label = this.nowElement.querySelectorAll('label')[0].innerText;
                        //console.log(this.label);
                    } else if (propCode === 'text'){
                        this.nowParam = this.params.findIndex(item => item.code === 'text');
                        this.textarea = this.nowElement.querySelectorAll('p')[0].innerText;
                    }
                    if(this.selected.classList.contains('col-4')){
                        this.nowSize = 'col-4';
                    }
                    if(this.selected.classList.contains('col-6')){
                        this.nowSize = 'col-6';
                    }
                    if(this.selected.classList.contains('col-12')){
                        this.nowSize = 'col-12';
                    }
                } else {
                    this.nowParam = this.params.findIndex(item => item.code === 'master');
                    this.nowElement = null;
                }
            },
            nowSize: function(newClass, oldClass){
                if(newClass.length > 0 && oldClass.length > 0){
                    this.nowElement.classList.remove(oldClass);
                    this.nowElement.classList.add(newClass);
                }
            },
            label: function () {
                this.nowElement.querySelectorAll('label')[0].innerText = this.label;
            },
            textarea: function () {
                this.nowElement.querySelectorAll('p')[0].innerText = this.textarea;
            }
        },
        mounted() {
            this.nowParam = this.params.findIndex(item => item.code === 'master');
        }
    }
</script>
