<template>
    <div class="wrapper">
        <div class="overflow">
            <div class="tabs">
                <router-link class="design" tag="div" :to="{ name: 'index' }"><span class="ico icon-design"></span><span class="max-only">Дизайн</span></router-link>
                <router-link class="fx active" tag="div" :to="{ name: 'formula' }"><span class="ico icon-formula"></span><span class="max-only">Формулы</span></router-link>
            </div>

            <div class="add_formula_block" @click="push_formula_block">+</div>

            <div class="formula_block" v-for="formula in this.$store.state.formula_blocks" :id="'formula_block_' + formula.index">
                <div class="formula_label">
                    <div class="f_square">R{{ formula.index + 1 }}</div>
                    <div class="f_str">
                        <svg width="9" height="8" viewBox="0 0 9 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8.35355 4.35355C8.54882 4.15829 8.54882 3.84171 8.35355 3.64645L5.17157 0.464467C4.97631 0.269204 4.65973 0.269204 4.46447 0.464466C4.2692 0.659729 4.2692 0.976311 4.46447 1.17157L7.29289 4L4.46447 6.82843C4.2692 7.02369 4.2692 7.34027 4.46447 7.53553C4.65973 7.7308 4.97631 7.7308 5.17157 7.53553L8.35355 4.35355ZM-4.37114e-08 4.5L8 4.5L8 3.5L4.37114e-08 3.5L-4.37114e-08 4.5Z" fill="#73CCFF"/>
                        </svg>
                    </div>
                </div>
                <div class="button_area">
                    <div class="formula_text">
                        <div class="locked" @click="formula_activate(formula.index)"></div>
                        <div class="formula_title">
                            <div>Результат {{ formula.index}}</div>
                            <div>
                                <div @click="formula_deactivate(formula.index)" class="formula_buttons_close">
                                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M14.25 4.8L13.2 3.75L9 7.95L4.8 3.75L3.75 4.8L7.95 9L3.75 13.2L4.8 14.25L9 10.05L13.2 14.25L14.25 13.2L10.05 9L14.25 4.8Z" fill="#2261B6"/>
                                    </svg>
                                </div>
                            </div>
                        </div>
                        <div class="formula_equals" @click="setCaret($event, formula.index)">
                            <div class="equals" style="margin-right:0">=</div>
                            <div class="f_elements">
                                <div v-for="equal in formula.equals" :class="[{
                                    f_block: isBlock(equal),
                                    f_block: isBlock(equal),
                                    equals: !isBlock(equal)
                                }]" :style="'background: ' + equal.color">{{ equal.title }}</div>
<!--                                <div class="f_block yellow">A</div>-->
<!--                                <div class="equals">×</div>-->
<!--                                <div class="f_block orange">B</div>-->
<!--                                <div class="equals">+</div>-->
<!--                                <div class="f_block blue">C</div>-->
<!--                                <div class="equals">+</div>-->
<!--                                <div class="f_block green">D</div>-->
<!--                                <div class="equals">+</div>-->
<!--                                <div class="f_block purple">E</div>-->
                            </div>
                        </div>
                    </div>
                    <div class="buttons_container">
                        <div>
                            <div class="flex_center" style="margin-bottom: 12px;">
                                <!-- - -->
                                <div @click="addElementToEqual('-')" class="calc_button blue_calc_button">
                                    <svg width="26" height="24" viewBox="0 0 26 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path opacity="0.75" d="M10.8019 14.384V12.72H15.2019V14.384H10.8019Z" fill="white"/>
                                    </svg>
                                </div>
                                <!-- + -->
                                <div @click="addElementToEqual('+')" class="calc_button blue_calc_button">
                                    <svg width="26" height="24" viewBox="0 0 26 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path opacity="0.75" d="M12.1533 16V8.8H13.8653V16H12.1533ZM9.32125 13.2V11.6H16.6973V13.2H9.32125Z" fill="white"/>
                                    </svg>
                                </div>
                                <!-- * -->
                                <div @click="addElementToEqual('×')" class="calc_button blue_calc_button">
                                    <svg width="26" height="24" viewBox="0 0 26 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path opacity="0.75" d="M9.86525 14.448L15.0653 9.184L16.1693 10.352L10.9373 15.616L9.86525 14.448ZM9.86525 10.352L10.9373 9.184L16.1693 14.448L15.0653 15.616L9.86525 10.352Z" fill="white"/>
                                    </svg>
                                </div>
                                <!-- \ -->
                                <div @click="addElementToEqual('÷')" class="calc_button blue_calc_button">
                                    <svg width="26" height="24" viewBox="0 0 26 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path opacity="0.75" d="M9.32125 13.2V11.6H16.6973V13.2H9.32125ZM13.0013 16.784C12.6919 16.784 12.4306 16.6773 12.2173 16.464C12.0039 16.24 11.8973 15.9627 11.8973 15.632C11.8973 15.2907 12.0039 15.0187 12.2173 14.816C12.4306 14.6027 12.6919 14.496 13.0013 14.496C13.3213 14.496 13.5879 14.6027 13.8013 14.816C14.0146 15.0187 14.1213 15.2907 14.1213 15.632C14.1213 15.9627 14.0146 16.24 13.8013 16.464C13.5879 16.6773 13.3213 16.784 13.0013 16.784ZM13.0013 10.304C12.6919 10.304 12.4306 10.1973 12.2173 9.984C12.0039 9.76 11.8973 9.48267 11.8973 9.152C11.8973 8.82133 12.0039 8.54933 12.2173 8.336C12.4306 8.12267 12.6919 8.016 13.0013 8.016C13.3213 8.016 13.5879 8.12267 13.8013 8.336C14.0146 8.54933 14.1213 8.82133 14.1213 9.152C14.1213 9.48267 14.0146 9.76 13.8013 9.984C13.5879 10.1973 13.3213 10.304 13.0013 10.304Z" fill="white"/>
                                    </svg>
                                </div>
                                <!-- ( -->
                                <div @click="addElementToEqual('(')" class="calc_button blue_calc_button">
                                    <svg width="26" height="24" viewBox="0 0 26 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path opacity="0.75" d="M13.3919 18.328C12.9199 17.6 12.5559 16.76 12.2999 15.808C12.0519 14.848 11.9279 13.816 11.9279 12.712C11.9279 11.608 12.0519 10.576 12.2999 9.616C12.5559 8.648 12.9199 7.808 13.3919 7.096H14.8199C14.3319 7.976 13.9719 8.876 13.7399 9.796C13.5159 10.708 13.4039 11.68 13.4039 12.712C13.4039 13.744 13.5159 14.72 13.7399 15.64C13.9719 16.552 14.3319 17.448 14.8199 18.328H13.3919Z" fill="white"/>
                                    </svg>
                                </div>
                                <!-- ) -->
                                <div @click="addElementToEqual(')')" class="calc_button blue_calc_button">
                                    <svg width="26" height="24" viewBox="0 0 26 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path opacity="0.75" d="M12.6061 18.328H11.1781C11.6741 17.448 12.0341 16.552 12.2581 15.64C12.4901 14.72 12.6061 13.744 12.6061 12.712C12.6061 11.68 12.4901 10.708 12.2581 9.796C12.0341 8.876 11.6741 7.976 11.1781 7.096H12.6061C13.0861 7.808 13.4501 8.648 13.6981 9.616C13.9461 10.576 14.0701 11.608 14.0701 12.712C14.0701 13.816 13.9461 14.848 13.6981 15.808C13.4501 16.76 13.0861 17.6 12.6061 18.328Z" fill="white"/>
                                    </svg>
                                </div>
                                <!-- ^ -->
                                <div @click="addElementToEqual('^')" class="calc_button blue_calc_button">
                                    <svg width="26" height="24" viewBox="0 0 26 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path opacity="0.75" d="M9.32944 15.728L12.1934 9.072H13.8254L16.6734 15.728H15.1054L12.5774 9.632H13.4254L10.8974 15.728H9.32944Z" fill="white"/>
                                    </svg>
                                </div>
                                <!-- % -->
                                <div @click="addElementToEqual('%')" class="calc_button blue_calc_button">
                                    <svg width="26" height="24" viewBox="0 0 26 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path opacity="0.75" d="M8.38919 18L16.0372 6.8H17.6052L9.95719 18H8.38919ZM9.31719 12.832C8.79452 12.832 8.33052 12.704 7.92519 12.448C7.51985 12.192 7.20519 11.8347 6.98119 11.376C6.75719 10.9173 6.64519 10.3787 6.64519 9.76C6.64519 9.14133 6.75719 8.60267 6.98119 8.144C7.20519 7.68533 7.51985 7.328 7.92519 7.072C8.33052 6.816 8.79452 6.688 9.31719 6.688C9.86119 6.688 10.3305 6.816 10.7252 7.072C11.1305 7.328 11.4452 7.68533 11.6692 8.144C11.8932 8.60267 12.0052 9.14133 12.0052 9.76C12.0052 10.3787 11.8932 10.9173 11.6692 11.376C11.4452 11.8347 11.1305 12.192 10.7252 12.448C10.3305 12.704 9.86119 12.832 9.31719 12.832ZM9.33319 11.712C9.75985 11.712 10.0905 11.5467 10.3252 11.216C10.5705 10.8747 10.6932 10.3893 10.6932 9.76C10.6932 9.13067 10.5705 8.65067 10.3252 8.32C10.0905 7.97867 9.75985 7.808 9.33319 7.808C8.90652 7.808 8.56519 7.97867 8.30919 8.32C8.06385 8.66133 7.94119 9.14133 7.94119 9.76C7.94119 10.3787 8.06385 10.8587 8.30919 11.2C8.56519 11.5413 8.90652 11.712 9.33319 11.712ZM16.6612 18.112C16.1385 18.112 15.6745 17.984 15.2692 17.728C14.8639 17.472 14.5492 17.1147 14.3252 16.656C14.1012 16.1973 13.9892 15.6587 13.9892 15.04C13.9892 14.4213 14.1012 13.8827 14.3252 13.424C14.5492 12.9653 14.8639 12.608 15.2692 12.352C15.6745 12.096 16.1385 11.968 16.6612 11.968C17.2052 11.968 17.6745 12.096 18.0692 12.352C18.4745 12.608 18.7892 12.9653 19.0132 13.424C19.2372 13.8827 19.3492 14.4213 19.3492 15.04C19.3492 15.6587 19.2372 16.1973 19.0132 16.656C18.7892 17.1147 18.4745 17.472 18.0692 17.728C17.6745 17.984 17.2052 18.112 16.6612 18.112ZM16.6612 16.992C17.0879 16.992 17.4239 16.8213 17.6692 16.48C17.9145 16.1387 18.0372 15.6587 18.0372 15.04C18.0372 14.4213 17.9145 13.9413 17.6692 13.6C17.4239 13.2587 17.0879 13.088 16.6612 13.088C16.2452 13.088 15.9092 13.2587 15.6532 13.6C15.4079 13.9307 15.2852 14.4107 15.2852 15.04C15.2852 15.6693 15.4079 16.1547 15.6532 16.496C15.9092 16.8267 16.2452 16.992 16.6612 16.992Z" fill="white"/>
                                    </svg>
                                </div>

                            </div>
                            <div class="flex_center">
                                <!-- if -->
                                <div class="calc_button white_calc_button">
                                    <svg width="30" height="10" viewBox="0 0 30 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path opacity="0.75" d="M1.78866 4.092H5.96466V5.376H1.78866V4.092ZM1.90866 7.692H6.64866V9H0.348656V0.599999H6.48066V1.908H1.90866V7.692ZM11.2771 9.084C10.6051 9.084 10.0051 8.944 9.47712 8.664C8.95712 8.376 8.54912 7.984 8.25312 7.488C7.95712 6.992 7.80912 6.428 7.80912 5.796C7.80912 5.156 7.95712 4.592 8.25312 4.104C8.54912 3.608 8.95712 3.22 9.47712 2.94C10.0051 2.66 10.6051 2.52 11.2771 2.52C11.9011 2.52 12.4491 2.648 12.9211 2.904C13.4011 3.152 13.7651 3.52 14.0131 4.008L12.8611 4.68C12.6691 4.376 12.4331 4.152 12.1531 4.008C11.8811 3.864 11.5851 3.792 11.2651 3.792C10.8971 3.792 10.5651 3.872 10.2691 4.032C9.97312 4.192 9.74112 4.424 9.57312 4.728C9.40512 5.024 9.32112 5.38 9.32112 5.796C9.32112 6.212 9.40512 6.572 9.57312 6.876C9.74112 7.172 9.97312 7.4 10.2691 7.56C10.5651 7.72 10.8971 7.8 11.2651 7.8C11.5851 7.8 11.8811 7.728 12.1531 7.584C12.4331 7.44 12.6691 7.216 12.8611 6.912L14.0131 7.584C13.7651 8.064 13.4011 8.436 12.9211 8.7C12.4491 8.956 11.9011 9.084 11.2771 9.084ZM14.4454 8.988L14.5174 7.728C14.5734 7.736 14.6254 7.744 14.6734 7.752C14.7214 7.76 14.7654 7.764 14.8054 7.764C15.0534 7.764 15.2454 7.688 15.3814 7.536C15.5174 7.384 15.6174 7.18 15.6814 6.924C15.7534 6.66 15.8014 6.368 15.8254 6.048C15.8574 5.72 15.8814 5.392 15.8974 5.064L16.0054 2.592H21.1894V9H19.6894V3.456L20.0374 3.864H16.9894L17.3134 3.444L17.2294 5.136C17.2054 5.704 17.1574 6.232 17.0854 6.72C17.0214 7.2 16.9174 7.62 16.7734 7.98C16.6374 8.34 16.4454 8.62 16.1974 8.82C15.9574 9.02 15.6494 9.12 15.2734 9.12C15.1534 9.12 15.0214 9.108 14.8774 9.084C14.7414 9.06 14.5974 9.028 14.4454 8.988ZM23.4096 9V2.592H24.9096V6.816L28.4496 2.592H29.8176V9H28.3176V4.776L24.7896 9H23.4096Z" fill="#123C53"/>
                                    </svg>
                                </div>
                                <!-- < -->
                                <div class="calc_button black_calc_button">
                                    <svg width="8" height="9" viewBox="0 0 8 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path opacity="0.75" d="M7.69725 8.128L0.32125 5.264V3.536L7.69725 0.672V2.336L0.94525 4.864V3.936L7.69725 6.464V8.128Z" fill="white"/>
                                    </svg>
                                </div>
                                <!-- > -->
                                <div class="calc_button black_calc_button">
                                    <svg width="8" height="9" viewBox="0 0 8 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path opacity="0.75" d="M0.32125 8.128V6.464L7.07325 3.936V4.864L0.32125 2.336V0.672L7.69725 3.536V5.264L0.32125 8.128Z" fill="white"/>
                                    </svg>
                                </div>
                                <!-- i -->
                                <div class="calc_button black_calc_button">
                                    <svg width="7" height="7" viewBox="0 0 7 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path opacity="0.75" d="M0.295109 7V0.592H1.79511V4.816L5.33511 0.592H6.70311V7H5.20311V2.776L1.67511 7H0.295109Z" fill="white"/>
                                    </svg>
                                </div>
                                <!-- ili -->
                                <div class="calc_button black_calc_button" style="width: 36px;">
                                    <svg width="24" height="8" viewBox="0 0 24 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path opacity="0.75" d="M0.468157 7V0.592H1.96816V4.816L5.50816 0.592H6.87616V7H5.37616V2.776L1.84816 7H0.468157ZM8.15794 6.988L8.22994 5.728C8.28594 5.736 8.33794 5.744 8.38594 5.752C8.43394 5.76 8.47794 5.764 8.51794 5.764C8.76594 5.764 8.95794 5.688 9.09394 5.536C9.22994 5.384 9.32994 5.18 9.39394 4.924C9.46594 4.66 9.51394 4.368 9.53794 4.048C9.56994 3.72 9.59394 3.392 9.60994 3.064L9.71794 0.592H14.9019V7H13.4019V1.456L13.7499 1.864H10.7019L11.0259 1.444L10.9419 3.136C10.9179 3.704 10.8699 4.232 10.7979 4.72C10.7339 5.2 10.6299 5.62 10.4859 5.98C10.3499 6.34 10.1579 6.62 9.90994 6.82C9.66994 7.02 9.36194 7.12 8.98594 7.12C8.86594 7.12 8.73394 7.108 8.58994 7.084C8.45394 7.06 8.30994 7.028 8.15794 6.988ZM17.1221 7V0.592H18.6221V4.816L22.1621 0.592H23.5301V7H22.0301V2.776L18.5021 7H17.1221Z" fill="white"/>
                                    </svg>
                                </div>
                                <!-- = -->
                                <div class="calc_button black_calc_button">
                                    <svg width="8" height="7" viewBox="0 0 8 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path opacity="0.75" d="M0.32125 2.264V0.664H7.69725V2.264H0.32125ZM0.32125 6.136V4.536H7.69725V6.136H0.32125Z" fill="white"/>
                                    </svg>
                                </div>
                                <!-- != -->
                                <div class="calc_button black_calc_button">
                                    <svg width="8" height="10" viewBox="0 0 8 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path opacity="0.75" d="M0.75325 9.976L5.63325 0.823999H7.26525L2.40125 9.976H0.75325ZM0.32125 8.136V6.536H7.69725V8.136H0.32125ZM0.32125 4.264V2.664H7.69725V4.264H0.32125Z" fill="white"/>
                                    </svg>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>


            <img v-if="arrow_pos" @click="toggle_sidebar" class="arrow" src="/resources/images/sidebar-arrow.svg" alt="">
        </div>

        <img @mousedown="drug_down" class="drug_tool" src="/resources/images/drug-tool.svg" alt="">
        <div class="sidebar-hide xs-flex" @click="show_constructor">
            <span>Свернуть</span>
            <span class="ico icon-arrow_top"></span>
        </div>
    </div>
</template>
<script>

export default {
    data(){
        return {
            cloneList: [],
            side_status: true,
            side_width: 0,
            edit_index: null,
            caret_index: null
        }
    },
    props: ['allcount', 'elements', 'clearProp'],
    methods: {
        clear_edit_index() {
            this.edit_index = null;
            this.caret_index = null;
        },
        setCaret(e, index) {
            if (e.target.classList.contains('formula_equals') || e.target.classList.contains('f_elements')) {
                let eq_divs = document.querySelectorAll('#formula_block_' + index + ' .f_elements > div');
                let strings = [];
                let current_line;
                eq_divs.forEach(eq => {
                    let ys = eq.offsetTop + (eq.clientHeight / 2);
                    if (strings.indexOf(ys) === -1) {
                        strings.push(ys);
                    }
                    eq.classList.remove('with_caret');
                    this.clear_edit_index();
                });
                strings.forEach(y => {
                    let md = Math.abs(e.layerY - y);
                    if (md < 12) {
                        current_line = y;
                    }
                });

                if (eq_divs.length > 0) {
                    this.caret_index = 0;
                    eq_divs.forEach((eq, i) => {
                        let coords = { x: eq.offsetLeft + eq.clientWidth, y: eq.offsetTop + (eq.clientHeight / 2) };
                        if (e.layerX > coords.x && coords.y === current_line) {
                            this.caret_index = i;
                        }
                    });
                    eq_divs[this.caret_index].classList.add('with_caret');
                    this.edit_index = index;
                }

            }
        },
        setCaretEvent(index, caret) {
            let eq_divs = document.querySelectorAll('#formula_block_' + index + ' .f_elements > div');
            eq_divs.forEach(eq => {
                eq.classList.remove('with_caret');
                this.clear_edit_index();
            });

            if(caret === eq_divs.length) {
                caret = 0;
            }
            if(caret === -1) {
                caret = eq_divs.length - 1;
            }
            this.edit_index = index;
            this.caret_index = caret;
            eq_divs[caret].classList.add('with_caret');
        },
        addElementToEqual(title) {
            this.$store.commit('add_to_equal', {
                index: 1,
                value: {
                    type: 'action',
                    title: title,
                }
            });
        },
        isBlock(equal) {
            return equal.type === 'block';
        },
        push_formula_block() {
            this.formula_blocks.push({ index: this.formula_blocks.length + 1, formula: 'ABC' })
        },
        formula_activate(index) {
            let formula_container = document.querySelector('#formula_block_' + index);
            formula_container.querySelector('.locked').style.display = 'none';
            formula_container.querySelector('.formula_text').classList.add('active');
            formula_container.querySelector('.buttons_container').classList.add('active');
            formula_container.querySelector('.formula_buttons_close').style.display = 'flex';
        },
        formula_deactivate(index) {
            let formula_container = document.querySelector('#formula_block_' + index);
            formula_container.querySelector('.locked').style.display = 'block';
            formula_container.querySelector('.formula_text').classList.remove('active');
            formula_container.querySelector('.buttons_container').classList.remove('active');
            formula_container.querySelector('.formula_buttons_close').style.display = 'none';
        },
        toggle_sidebar(e) {
            let sidebar = document.querySelector('.sidebar');
            let drug = document.querySelector('.drug_tool');

            if(this.side_status){
                this.side_width = sidebar.style.width;
                sidebar.style.width = '92px';
                drug.style.display = 'none';
                e.target.style.transform = 'rotate(180deg)';
                let maxi = document.querySelectorAll('.max-only');
                maxi.forEach(m => {
                    m.style.display = 'none';
                });
                let elements = document.querySelectorAll('.tabs div');
                document.querySelector('.tabs > .active > span').classList.toggle('small_active');
                elements.forEach(e => {
                    e.style.border = '1px solid #fff';
                    e.style.background = 'initial';
                    e.style.padding = '10px 3px';
                });
                sidebar.querySelector('.overflow').style.width = '100%';
                this.side_status = false;
            } else {
                sidebar.style.width = this.side_width;
                sidebar.querySelector('.overflow').style.width = 'calc(100% - 18px)';
                document.querySelector('.tabs > .active > span').classList.toggle('small_active');
                drug.style.display = 'block';
                e.target.style.transform = 'rotate(0deg)';
                this.side_status = true;
                setTimeout(this.show_hiddens, 100);
            }
        },
        show_hiddens(){
            let elements = document.querySelectorAll('.tabs div');
            elements.forEach(e => {
                e.style.border = '1px solid #1D92FF';
                if(e.classList.contains('active')){
                    e.style.backgroundColor = '#1D92FF';
                }
            });
            let maxi = document.querySelectorAll('.max-only');
            maxi.forEach(m => {
                m.style.display = 'flex';
            });
        },
        show_constructor(e){
            e.preventDefault();
            let body = document.querySelector('body');
            let sidebar = document.querySelector('.sidebar');
            let content = document.querySelector('.content');
            let ico = document.querySelector('.constructor > .ico');

            if(ico.classList.contains('icon-arrow_right')) {
                ico.classList.replace('icon-arrow_right', 'icon-times');
            } else {
                ico.classList.replace('icon-times', 'icon-arrow_right');
            }

            sidebar.classList.toggle('xs-opened');
            body.classList.toggle('no-padding');
            content.classList.toggle('content-xs');
        },
        drug_down(e) {
            e.preventDefault();
            this.dragging = true;
            document.addEventListener('mousemove', this.drug_move, false);
            document.addEventListener('mouseup', this.drug_up, false);
        },
        drug_move(event) {
            event.preventDefault();
            let offset = event.pageX + 18;
            let perc = (100 * offset) / document.body.clientWidth;
            //console.log(offset);
            if(perc > 17 && perc < 50 && offset > 240){
                let sidebar = document.querySelector('.sidebar');
                sidebar.style.transitionDuration = 'initial';
                sidebar.style.transitionTimingFunction = 'initial';
                sidebar.style.width = perc + '%';
                this.side_width = perc + '%';
            }

        },
        drug_up(event) {
            event.preventDefault();
            if(this.dragging) {
                document.removeEventListener('mousemove', this.drug_move);
                document.removeEventListener('mouseup', this.drug_up);
                let sidebar = document.querySelector('.sidebar');
                sidebar.style.transitionDuration = '.2s';
                sidebar.style.transitionTimingFunction = 'ease-in';
                this.dragging = false;
            }
        },
        arrow_pos(){
            if(window.innerHeight < 820){
                let arrow = document.querySelector('.arrow');
                arrow.style.position = 'relative';
                arrow.style.marginTop = '42px';
            }

        },
        onKeyDown(ev) {
            if (this.edit_index !== null && this.caret_index !== null) {
                if (ev.key === 'ArrowLeft') {
                    this.setCaretEvent(this.edit_index, (this.caret_index - 1));
                } else if (ev.key === 'ArrowRight') {
                    this.setCaretEvent(this.edit_index, (this.caret_index + 1));
                }
            }
        }
    },
    watch: {
        clearProp: function(newVal, oldVal) {
            this.clear_edit_index();
        }
    },
    mounted(){
        this.arrow_pos();
        document.addEventListener('keydown', this.onKeyDown);
    },
}
</script>

