<template>
    <div class="wrapper">
        <div class="overflow">
            <div class="tabs">
                <router-link class="design active" tag="div" :to="{ name: 'index' }"><span class="ico icon-design"></span><span class="max-only">Дизайн</span></router-link>
                <router-link class="fx" tag="div" :to="{ name: 'formula' }"><span class="ico icon-formula"></span><span class="max-only">Формулы</span></router-link>
            </div>
            <draggable class="elements" :sort="false" :list="cloneList" @start="clearSelect" @end="updateUids" :group="{ name: 'formElements', pull: 'clone', put: false }">
                <div v-for="item in cloneList"
                     :class="['element', 'form-group', item.size]"
                     :key="item.id"
                     :data-id="item.id"
                     @click="itemClick(item)"
                >
                    <span :class="['ico', item.icon]" :style="'color: ' + item.color"></span>
                    <span class="text max-only">{{ item.name }}</span>
                    <span class="icon-move max-only"></span>
                    <div :class="['form-group', 'nuclear', 'd-none', item.size]">
                        <div v-if="item.prop === 'select'">
                            <select-component :element="item"></select-component>
                        </div>
                        <div v-if="item.prop === 'input'">
                            <label :for="item.uid"><input type="text" v-model="item.label" class="clear_input"></label>
                            <input placeholder="Введите число" :id="item.uid" type="number" class="form-control">
                        </div>
                        <div v-if="item.prop === 'checkbox'">
                            <checkbox-component :element="item"></checkbox-component>
                        </div>

                        <div v-if="item.prop === 'radio'">
                            <radio-component :element="item"></radio-component>
                        </div>
                    </div>
                </div>
            </draggable>
            <img v-if="arrow_pos" @click="toggle_sidebar" class="arrow" src="/resources/images/sidebar-arrow.svg" alt="">
        </div>

        <img @mousedown="drug_down" class="drug_tool" src="/resources/images/drug-tool.svg" alt="">
        <div class="sidebar-hide xs-flex" @click="show_constructor">
            <span>Свернуть</span>
            <span class="ico icon-arrow_top"></span>
        </div>
    </div>
</template>
<script>

import draggable from 'vuedraggable';

import SelectComponent from './modules/Select.vue';
import CheckboxComponent from './modules/Checkbox.vue';
import RadioComponent from './modules/Radio.vue';

export default {
    data(){
        return {
            cloneList: [],
            side_status: true,
            side_width: 0,
        }
    },
    props: ['allcount', 'elements'],
    methods: {
        randomString(){
          return '_' + Math.random().toString(36).substr(2, 9);
        },
        generateUid(){
            let rs = this.randomString();
            let index = this.elements.findIndex(item => item.uid === rs);
            while(index > 0) {
                rs = this.randomString();
                index = this.elements.findIndex(item => item.uid === rs);
            }
            return rs;
        },
        itemClick(item){
            let constructor = document.querySelector('.constructor');
            if(constructor.classList.contains('co-opened')){
                this.$emit('item_click', item);
            }
        },
        updateUids(){
            this.cloneList = JSON.parse(JSON.stringify(window.default_elements));
            this.cloneList.forEach(item => {
                item.uid = this.generateUid();
                item.html = _.replace(item.html, new RegExp('uid', 'g'), item.uid);
            });
        },
        updateItems(){
            let inputs = document.querySelectorAll('.form-group');
            inputs.forEach(element => {
                element.classList.remove('selectedItem');
            });
            if(this.selectedItem) this.selectedItem.classList.add('selectedItem');
        },
        clearSelect(e){
            if(!e.target.classList.contains('nuclear')){
                this.selectedItem = null;
                this.updateItems();
            }
        },
        toggle_sidebar(e) {
            let sidebar = document.querySelector('.sidebar');
            let drug = document.querySelector('.drug_tool');

            if(this.side_status){
                this.side_width = sidebar.style.width;
                sidebar.style.width = '92px';
                drug.style.display = 'none';
                e.target.style.transform = 'rotate(180deg)';
                let maxi = document.querySelectorAll('.max-only');
                maxi.forEach(m => {
                    m.style.display = 'none';
                });
                let elements = document.querySelectorAll('.tabs div');
                document.querySelector('.tabs > .active > span').classList.toggle('small_active');
                elements.forEach(e => {
                    e.style.border = '1px solid #fff';
                    e.style.background = 'initial';
                    e.style.padding = '10px 3px';
                });
                sidebar.querySelector('.overflow').style.width = '100%';
                this.side_status = false;
            } else {
                sidebar.style.width = this.side_width;
                sidebar.querySelector('.overflow').style.width = 'calc(100% - 18px)';
                document.querySelector('.tabs > .active > span').classList.toggle('small_active');
                drug.style.display = 'block';
                e.target.style.transform = 'rotate(0deg)';
                this.side_status = true;
                setTimeout(this.show_hiddens, 100);
            }
        },
        show_hiddens(){
            let elements = document.querySelectorAll('.tabs div');
            elements.forEach(e => {
                e.style.border = '1px solid #1D92FF';
                if(e.classList.contains('active')){
                    e.style.backgroundColor = '#1D92FF';
                }
            });
            let maxi = document.querySelectorAll('.max-only');
            maxi.forEach(m => {
                m.style.display = 'flex';
            });
        },
        show_constructor(e){
            e.preventDefault();
            let body = document.querySelector('body');
            let sidebar = document.querySelector('.sidebar');
            let content = document.querySelector('.content');
            let ico = document.querySelector('.constructor > .ico');

            if(ico.classList.contains('icon-arrow_right')) {
                ico.classList.replace('icon-arrow_right', 'icon-times');
            } else {
                ico.classList.replace('icon-times', 'icon-arrow_right');
            }

            sidebar.classList.toggle('xs-opened');
            body.classList.toggle('no-padding');
            content.classList.toggle('content-xs');
        },
        drug_down(e) {
            e.preventDefault();
            this.dragging = true;
            document.addEventListener('mousemove', this.drug_move, false);
            document.addEventListener('mouseup', this.drug_up, false);
        },
        drug_move(event) {
            event.preventDefault();
            let offset = event.pageX + 18;
            let perc = (100 * offset) / document.body.clientWidth;
            //console.log(offset);
            if(perc > 17 && perc < 50 && offset > 240){
                let sidebar = document.querySelector('.sidebar');
                sidebar.style.transitionDuration = 'initial';
                sidebar.style.transitionTimingFunction = 'initial';
                sidebar.style.width = perc + '%';
                this.side_width = perc + '%';
            }

        },
        drug_up(event) {
            event.preventDefault();
            if(this.dragging) {
                document.removeEventListener('mousemove', this.drug_move);
                document.removeEventListener('mouseup', this.drug_up);
                let sidebar = document.querySelector('.sidebar');
                sidebar.style.transitionDuration = '.2s';
                sidebar.style.transitionTimingFunction = 'ease-in';
                this.dragging = false;
            }
        },
        arrow_pos(){
            if(window.innerHeight < 820){
                let arrow = document.querySelector('.arrow');
                arrow.style.position = 'relative';
                arrow.style.marginTop = '42px';
            }

        }
    },
    created() {
        if(typeof window.default_elements === "undefined"){
            axios.get('/axios/element/get').then(res => {
                if(res.status === 200) {
                    window.default_elements = res.data;
                    this.updateUids();
                }
            });
        } else {
            this.updateUids();
        }
    },
    mounted(){
        this.arrow_pos();
    },
    components: {
        draggable, SelectComponent, CheckboxComponent, RadioComponent
    },
}
</script>

