<template>
    <div class="switch-toggle">
        <input type="checkbox" class="d-none" :id="'switch_' + type + uid">
        <label :for="'switch_' + type + uid" @click="toggle">
            <div class="knob"></div>
        </label>
    </div>
</template>


<script>
    export default {
        props: ['uid', 'type', 'model'],
        methods: {
            toggle(){
                let sw = document.querySelector('#switch_' + this.type + this.uid);
                sw.parentNode.classList.toggle('active');
                let output = !!sw.parentNode.classList.contains('active');
                this.$emit('update:model', output);
            },
        },
        mounted() {
            let sw = document.querySelector('#switch_' + this.type + this.uid);
            if(this.model){
                sw.parentNode.classList.add('active');
            } else {
                sw.parentNode.classList.remove('active');
            }
        },
    }
</script>
