<template>
    <span :data-tooltip="text" @mouseout="tooltip_close" @mouseover="tooltip_show"></span>
</template>


<script>

    export default {
        data() {
            return {
                tooltip: null,
            }
        },
        props: ['text'],
        methods: {
            tooltip_show(e){
                if(e.target.getAttribute('data-tooltip')) {
                    this.tooltip = e.target;
                    let parent = e.target.offsetParent;
                    let tool = document.createElement('div');
                    tool.setAttribute('class', 'tooltip');
                    tool.innerHTML = e.target.getAttribute('data-tooltip');
                    parent.appendChild(tool);
                    let x_offset = e.target.offsetLeft - (tool.offsetWidth / 2) + 18;
                    tool.style.left = x_offset + 'px';
                    tool.style.top = (e.target.offsetTop - 50) + 'px';
                }
            },
            tooltip_close(e){
                let relatedItem = e.relatedTarget;
                while (relatedItem) {
                    // поднимаемся по дереву элементов и проверяем – внутри ли мы selectedItem или нет
                    // если да, то это переход внутри элемента – игнорируем
                    if (relatedItem === this.tooltip) return;
                    relatedItem = relatedItem.parentNode;
                }
                document.querySelector('.tooltip').remove();
                this.tooltip = null;
            },
        },
    }
</script>
