<template>
    <div>
        <div class="labels" v-if="element.label.title.visibility || element.label.description.visibility">
            <label v-if="element.label.title.visibility" :for="element.uid" class="title"><input type="text" v-model="element.label.title.text" class="clear_input"></label>
            <div v-if="element.label.description.visibility" class="sub-title"><input type="text" v-model="element.label.description.text" class="clear_input"></div>
        </div>
        <div class="relative" v-for="option in element.options">
            <input type="checkbox" class="d-none" :id="element.uid + '_' + option.index" @change="toggle" v-model="element.selected" :value="option.index">
            <label :for="element.uid + '_' + option.index" class="checkbox" :class="{ selected:isSelect(option.index)}">
                <input type="text" class="clear_input" v-model="option.text">
            </label>
        </div>
    </div>
</template>


<script>
    export default {
        data() {
            return {
                now_option: 0
            }
        },
        props: ['element'],
        methods: {
            toggle(e){
                e.target.nextElementSibling.classList.toggle('selected');
            },
            isSelect(index){
                return this.element.selected.includes(index);
            }
        }
    }
</script>
