<template>
    <div
        ref="editable"
        class="editable"
        contenteditable
        v-on="listeners"
        :id="edit_id"
    ></div>
</template>

<script>
    export default {
        props: {
            value: {
                type: String,
                default: '',
            },
            edit_id: {
                type: String,
                default: ''
            },
            update_text: {
                type: String,
                default: ''
            }
        },
        computed: {
            listeners() {
                return { ...this.$listeners, input: this.onInput };
            },
        },
        watch: {
            update_text: function(newVal, oldVal) {
                this.do_update_text(newVal);
            }
        },
        mounted() {
            this.$refs.editable.innerHTML = this.value.replace('&nbsp;', ' ');
            let el = document.querySelector('#' + this.edit_id);
            el.addEventListener('paste', (e) => {
                // Get user pasted data
                let data = e.clipboardData.getData('text/html') ||
                    e.clipboardData.getData('text/plain');

                // Filter out everything except simple text and allowable HTML elements
                let regex = /<(?!(\/\s*)?(a|b|i|em|s|strong|u)[>,\s])([^>])*>/g;
                let regex_attr = /\s\w+(?<!target|href)=".+?"/gi;
                data = data.replace(regex, '');
                data = data.replace(regex_attr, "");
                data = data.replace("&nbsp;", " ");
                console.log(data);

                // Insert the filtered content
                document.execCommand('insertHTML', false, data);

                e.preventDefault();
            });
        },
        methods: {
            onInput(e) {
                this.$emit('input', e.target.innerHTML);
            },
            do_update_text(text) {
                this.$refs.editable.innerHTML = text;
            }
        },
    };
</script>
