<template>
    <div class="image_component">

        <vue-dropzone id="drop1" :options="dropOptions" ref="image_drop_zone"></vue-dropzone>
    </div>
</template>


<script>
    import vueDropzone from "vue2-dropzone";

    export default {
        data: function () {
            return {
                dropOptions: {
                    dictDefaultMessage: "<div class=\"start_screen\">\n" +
                        "            <div><img src=\"/resources/images/image_model.svg\" alt=\"Перетащите изображение сюда\"></div>\n" +
                        "            <div>Перетащите изображение сюда</div>\n" +
                        "        </div>",
                    url: "/axios/image/upload?uuid=" + this.$store.state.calc_uuid + '&element_id=' + this.element.uid,
                    headers: { "X-CSRF-TOKEN": window.csrf_token, "X-Requested-With": "XMLHttpRequest" },
                    paramName: "file",
                    maxFilesize: 5,
                    maxFiles: 1,
                    addRemoveLinks: true,
                    thumbnailWidth: null,
                    thumbnailHeight: null,
                    thumbnailMethod: "contain",
                    acceptedFiles: "image/*"
                }
            };
        },
        props: ['element'],
        methods: {

        },
        components: {
            vueDropzone
        },
        mounted() {
            if(this.element.path !== null) {
                let file = { size: 300, name: this.element.file_name, type: "image/jpg" };
                this.$refs.image_drop_zone.manuallyAddFile(file, this.element.path)
            }
        }
    }
</script>
