<template>
    <div>
        <div class="labels" v-if="element.label.title.visibility || element.label.description.visibility">
            <label v-if="element.label.title.visibility" :for="element.uid" class="title"><input type="text" v-model="element.label.title.text" class="clear_input"></label>
            <div v-if="element.label.description.visibility" class="sub-title"><input type="text" v-model="element.label.description.text" class="clear_input"></div>
        </div>
        <div class="relative" v-if="element.types === 'number'">
            <input :id="element.uid" type="number" class="form-control" :placeholder="this.element.placeholder.visibility ? this.element.placeholder.text : ''">
        </div>
        <div class="relative" v-if="element.types === 'text'">
            <input :id="element.uid" type="text" class="form-control" :placeholder="this.element.placeholder.visibility ? this.element.placeholder.text : ''">
        </div>
        <div class="relative" v-if="element.types === 'textarea'">
            <textarea-component :element="element"></textarea-component>
        </div>
    </div>
</template>


<script>
    import TextareaComponent from './Textarea.vue';

    export default {
        data() {
            return {
                now_option: 0
            }
        },
        props: ['element'],
        methods: {
            show_placeholder(){
                this.element.placeholder.visibility ? this.element.placeholder.text : '';
            }
        },
        components: {
            TextareaComponent
        },
    }
</script>
