<template>
    <div>
        <div class="labels" v-if="element.label.title.visibility || element.label.description.visibility">
            <label v-if="element.label.title.visibility" :for="element.uid" class="title"><input type="text" v-model="element.label.title.text" class="clear_input"></label>
            <div v-if="element.label.description.visibility" class="sub-title"><input type="text" v-model="element.label.description.text" class="clear_input"></div>
        </div>
        <div class="relative" v-for="option in element.options">
            <input type="radio" class="d-none" :id="element.uid + '_' + option.index" @change="toggle" v-model="element.selected" :value="option.index">
            <label :for="element.uid + '_' + option.index" class="radio" :class="[{ selected: isSelect(option.index)}, 'label' + element.uid]" >
                <input type="text" class="clear_input" v-model="option.text" v-if="element.compiled !== true">
                <span style="cursor: pointer" v-if="element.compiled === true">{{ option.text }}</span>
            </label>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                now_option: 0
            }
        },
        props: ['element', 'type_selected'],
        methods: {
            toggle(e){
                document.querySelectorAll('.label' + this.element.uid).forEach(label => {
                    label.classList.remove('selected');
                });
                e.target.nextElementSibling.classList.toggle('selected');
                if(this.element.compiled === true) this.$emit('update:type_selected', parseInt(e.target.value));
            },
            isSelect(index){
                return this.element.selected === parseInt(index);
            }
        },
    }
</script>
