<template>
    <div class="result_component">
        <input type="text" class="clear_input clear_button" v-model="element.button_name">
    </div>
</template>


<script>


    export default {
        data: function () {
            return {
                test: null
            };
        },
        props: ['element'],
        methods: {

        },

        mounted() {

        }
    }
</script>
