<template>
    <div>
        <div class="labels" v-if="element.label.title.visibility || element.label.description.visibility">
            <label v-if="element.label.title.visibility" :for="element.uid" class="title"><input type="text" v-model="element.label.title.text" class="clear_input"></label>
            <div v-if="element.label.description.visibility" class="sub-title"><input type="text" v-model="element.label.description.text" class="clear_input"></div>
        </div>
        <div class="relative"> <!-- overflow-hidden -->
            <div class="input-select form-control" @click="dropdown" :id="element.uid" :data-selected="element.options[now_option].index">
                <input class="clear_input select cls" type="text" v-model="element.options[now_option].text" @input="resizeInput">
                <ul class="input-select-dropdown">
                    <li v-for="option in element.options" @click="select($event, option.index)">{{ option.text }}</li>
                </ul>
            </div>
        </div>
    </div>
</template>
<!--
<select :id="element.uid" class="form-control" @change="change" v-model="element.selected">
                <option v-for="option in element.options" :value="option.index">{{ option.text }}</option>
            </select>
-->

<script>
    export default {
        data() {
            return {
                now_option: 0,
                target: null
            }
        },
        props: ['element', 'delOption'],
        methods: {
            select(e, i){
                this.change(i);
                this.target.classList.toggle('rotate');
                let dd = e.target.parentNode;
                dd.classList.remove('show');
            },
            dropdown(e){
                if(e.target.classList.contains('input-select')){
                    this.target = e.target;
                    this.target.classList.toggle('rotate');
                    let dd = e.target.querySelector('ul');
                    dd.classList.toggle('show');
                }
            },
            resizeInput(e, elm = null, len = null){
                let el = elm ? elm : e.target;
                el.style.width = len ? ((len + 1) * 9) + 'px' : ((el.value.length + 1) * 9) + 'px';
            },
            change(i){
                let index = this.element.options.findIndex(option => option.index === parseInt(i));
                this.now_option = index;
                this.$store.commit('default_value', {
                    uid: this.element.uid,
                    type: 'selected',
                    value: index + 1
                });
                let input = document.querySelector('#' + this.element.uid).parentNode.querySelector('.clear_input');
                this.resizeInput(false, input, this.element.options[index].text.length);
            },
        },
        watch: {
            delOption: function (val) {
                if(val) {
                    this.now_option = this.element.options[0].index - 1;
                    this.$emit('callbackOption');
                }
            }
        },
        mounted() {
            let cls = document.querySelectorAll('.cls');
            cls.forEach(cl => {
                cl.style.width = ((cl.value.length + 1) * 9) + 'px';
            });
            this.now_option = this.element.selected - 1;
            // console.log(this.element.options[this.now_option]);
        },
    }
</script>
