<template>
    <div>
        <div class="labels" v-if="element.label.title.visibility || element.label.description.visibility">
            <label v-if="element.label.title.visibility" :for="element.uid" class="title"><input type="text" v-model="element.label.title.text" class="clear_input"></label>
            <div v-if="element.label.description.visibility" class="sub-title"><input type="text" v-model="element.label.description.text" class="clear_input"></div>
        </div>
        <div class="slider-wrapper">
            <div class="range">
                <vue-slider v-model="value" v-bind="options"></vue-slider>
            </div>
        </div>
    </div>
</template>

<script>

    import VueSlider from 'vue-slider-component'
    //https://nightcatsama.github.io/vue-slider-component/#/

    export default {
        data() {
            return {
                value: this.element.value,
                options: {
                    dotSize: 24,
                    width: 'auto',
                    height: 1,
                    contained: false,
                    direction: 'ltr',
                    data: null,
                    dataLabel: 'label',
                    dataValue: 'value',
                    min: this.element.min,
                    max: this.element.max,
                    interval: this.element.step,
                    tooltip: this.element.tooltip,
                    tooltipPlacement: 'top',
                    tooltipFormatter: void 0,
                    silent: true,
                    marks: this.element.marks > 0 ? val => {
                        if(val === this.element.min || val === this.element.max) return true;
                        return val % (this.options.max / this.element.marks) === 0;
                    } : false, // marks 2, 5, 10
                }
            }
        },
        props: ['element'],
        methods: {
            rerender() {
                Object.assign(this.$data, this.$options.data.call(this));
            },
            change_value(value){
                this.$store.commit('default_value', {
                    uid: this.element.uid,
                    type: 'value',
                    value: value
                });
            }
        },
        watch: {
            value: {
                handler(value){
                    this.debounced_change_value(value)
                }
            },
            element: {
                deep: true,
                handler(element){
                    if(element.max !== "" && element.min !== "" & element.step !== "") {
                        this.rerender();
                    }
                }
            }
        },
        components: {
            VueSlider
        },
        created() {
            this.debounced_change_value = window._.debounce(this.change_value, 300);
        }
    }
</script>
