<template>
<div class="range">
<!--    <div class="slider" :id="'slider' + element.uid">-->
<!--        <div class="block-min" @mousedown="moveRange"></div>-->
<!--        <div class="color-range" v-if="blocks === 2"></div>-->
<!--        <div class="block-max transparent" @mousedown="moveRange" v-if="blocks === 2"></div>-->
<!--    </div>-->
    <vue-range-slider ref="slider" v-model="value" :step="5" :min="50" :max="900"></vue-range-slider>
</div>
</template>

<script>
    import 'vue-range-component/dist/vue-range-slider.css'
    import VueRangeSlider from 'vue-range-component'

    export default {
        data() {
            return {
                value: 50,
                blocks: 1,
                intervals: 10,
                step: 10,
                min: 0,
                max: 100,
                f: 0,
                parent: {},
                block2: {},
                coords: {},
                rangeCoords: {},
                colorRange: HTMLCollection,
                el: HTMLCollection,
                indicator: HTMLCollection,
            }
        },
        props: ['element'],
        methods: {
            moveRange(e){
                this.el = e.target;
                if(this.el) {
                    this.parent.coords = this.getCoords(this.parent.element);
                    this.coords = this.getCoords(this.el);

                    //Определяем зону окрашивания
                    this.colorRange = this.el.parentElement.children[1];

                    if(this.blocks === 2) {
                        if (this.el.classList.contains('block-min')) {
                            this.block2.element = this.el.parentElement.children[2];
                            this.block2.coords = this.getCoords(this.block2.element);
                            this.f = 0;
                        } else {
                            this.block2.element = this.el.parentElement.children[0];
                            this.block2.coords = this.getCoords(this.block2.element);
                            this.f = 1;
                        }
                    }

                    //Делаем индикатор вывода значений над ползунком
                    this.indicator = document.createElement('div');
                    if (this.el.children.length){
                        this.el.innerHTML = ''; //обнуляем предыдущее значение
                    }
                    this.el.append(this.indicator);

                    document.addEventListener('mousemove', this.onMouseMove);
                    document.addEventListener('mouseup', this.onMouseUp);
                    document.addEventListener('touchmove', this.onMouseMove);
                    document.addEventListener('touchend', this.onMouseUp);

                    this.el.ondragstart = function(){
                        return false;
                    }
                }
            },
            getCoords(el){
                let coords = el.getBoundingClientRect();
                return {
                    top : coords.top + window.pageYOffset, //верхнюю координату элемента относительно страницы
                    left : coords.left + window.pageXOffset, //крайнюю левую координату элемента относительно страницы
                    leftX: coords.left, //левую координату относительно страницы
                    right : coords.left + window.pageXOffset + coords.width, //крайнюю правую координату
                    bottom : coords.top + window.pageYOffset + coords.height, //нижнюю координату
                    width : coords.width //ширину элемента
                }
            },
            onMouseMove(e) {
                e.preventDefault();

                //Определяем положение мыши в зависимости от устройства
                //На мобильных устройствах может фиксироваться несколько точек касания, поэтому используется массив targetTouches
                //Мы будем брать только первое зафиксированое касание по экрану targetTouches[0]
                let pos;
                if (e.touches === undefined) {
                    pos = e.clientX;
                } else {
                    pos = e.targetTouches[0].clientX;
                }

                //Устанавливаем границы движения ползунка
                let newLeft = pos - this.parent.coords.leftX;
                let rightEdge = this.parent.coords.width;

                if (newLeft < 0) {
                    newLeft = 0;
                } else if (newLeft > rightEdge) {
                    newLeft = rightEdge;
                }

                if(this.blocks === 2) {
                    if (this.f === 0 && pos > this.block2.coords.left - this.block2.coords.width) {
                        newLeft = this.block2.coords.left - this.parent.coords.leftX;
                    } else if (this.f === 1 && pos < this.block2.coords.right + 5) {
                        newLeft = this.block2.coords.right + 5 - this.parent.coords.leftX;
                    }
                }

                let val;
                if(this.blocks === 2){
                    if(this.f===0){
                        val = (newLeft / (this.parent.coords.width / (this.max - this.min)) + this.max).toFixed(0);
                    } else {
                        val = (newLeft / (this.parent.coords.width / (this.max - this.min)) + 0.3 + this.min).toFixed(0);
                    }
                } else {
                    //let max = this.max >= 1000 ? this.max / 10 : this.max;
                    val = (newLeft / (rightEdge / (this.max - this.min))).toFixed(2);
                    //val = Math.floor(val);
                }

                console.log(val);

                let ost = val % this.step;

                if(val === 0 || ost === 0){ //ходим по шагам

                    // устанавливаем отступ нашему элементу
                    if(this.step > 1){
                        //позиция от значения
                        let calculatedLeft = ((this.parent.coords.width / (this.max - this.min)) * val) - (this.coords.width / 2);
                        this.el.style.left = (calculatedLeft * 100) / this.parent.coords.width + '%';
                        //this.el.style.left = val + '%';
                    } else {
                        // позиция не от значения а от края
                        this.el.style.left = 'calc(' + (newLeft * 100) / this.parent.coords.width + '% - ' + this.coords.width / 2 + 'px)';
                    }

                    // Определяем значение фильтра
                    if(this.blocks === 2){
                        if(this.f===0){
                            this.value = val
                        } else {
                            this.value = val;
                        }
                    } else {
                        this.value = val;
                    }


                    // Выводим значение над ползунком
                    this.indicator.style.position = 'absolute';
                    this.indicator.style.fontSize = "14px";
                    this.indicator.style.left = - this.coords.width / 2 + "px";
                    this.indicator.style.top = parseFloat(window.getComputedStyle(this.el).getPropertyValue('top')) - 10 + "px";
                    this.indicator.innerHTML = this.value;

                    //Для красоты надо убрать вывод значений в начальной и конечной точках

                    //Делаем цветную плашечку диапазона выбора
                    if(this.blocks === 2){
                        if (this.f === 0) {
                            this.colorRange.style.left = newLeft + this.coords.width + "px";
                            this.colorRange.style.width = this.block2.coords.left - this.getCoords(this.el).left - this.coords.width + "px";
                        }  else {
                            this.colorRange.style.left = this.block2.coords.left - this.parent.coords.leftX + "px";
                            this.colorRange.style.width = this.getCoords(this.el).left - this.block2.coords.left + "px";
                        }
                    }
                }


            },
            onMouseUp() {
                document.removeEventListener('mouseup', this.onMouseUp);
                document.removeEventListener('mousemove', this.onMouseMove);
                document.removeEventListener('touchend', this.onMouseUp);
                document.removeEventListener('touchmove', this.onMouseMove);
            }
        },
        mounted() {
            let el = document.querySelector('#slider' + this.element.uid).querySelector('.block-min');

            if(this.step > 1) el.classList.add('steps');

            this.parent.element = el.parentElement;
            this.parent.coords = this.getCoords(this.parent.element);
            let block_min = this.getCoords(el);

            let newLeft = ((this.parent.coords.width / (this.max - this.min)) * this.value) - (block_min.width / 2);
            el.style.left = (newLeft * 100) / this.parent.coords.width + '%';

            // indicators
            let indicators = [{ num: this.min, pos: 0 }];
            let step = parseFloat(this.max / this.intervals);
            for(let i = 0; i < this.intervals; i++){
                let before = indicators[indicators.length - 1];
                indicators.push({ num: before.num + step, pos: this.intervals * (i + 1) });
            }
            indicators.forEach((indicator, index) => {
                let ind = document.createElement('div');
                ind.classList.add('ind');
                if(index === 0 || index === indicators.length - 1){
                    ind.classList.add('bold');
                }
                ind.style.left = 'calc(' + indicator.pos + '% - 1px)';
                this.parent.element.append(ind);

                let num = document.createElement('div');
                num.innerText = indicator.num;
                num.classList.add('num');
                ind.append(num);
                num.style.left = '-' + ((num.offsetWidth / 2) - 1) + 'px';

            });
        },
        components: {
            VueRangeSlider
        }
    }
</script>
