<template>
    <div>
        <textarea :id="element.uid + '_text'"
                  v-model="element.value"
                  @change="resText"
                  @drop="resText"
                  @cut="deResText"
                  @paste="deResText"
                  @keydown="deResText"
                  @scroll="scrollStop"
                  class="textarea_area form-control"
                  :placeholder="this.element.placeholder.visibility ? this.element.placeholder.text : ''"
                  >
        </textarea>
    </div>
</template>


<script>
    export default {
        //
        props: ['element'],
        methods: {
            scrollStop(e){
                e.preventDefault();
                e.target.scrollTop = 0;
            },
            resText(e){
                let area = e.target;
                e.stopPropagation();
                area.style.height = 'auto';
                area.style.height = (area.scrollHeight - 24) +'px';
            },
            deResText(e){
                window.setTimeout(() => {
                    this.resText(e);
                }, 0);
            },
        },
    }
</script>
