<template>
    <div class="d-contents">
        <div class="labels" v-if="element.label.title.visibility || element.label.description.visibility">
            <label v-if="element.label.title.visibility" :for="element.uid" class="title"><input type="text" v-model="element.label.title.text" class="clear_input"></label>
            <div v-if="element.label.description.visibility" class="sub-title"><input type="text" v-model="element.label.description.text" class="clear_input"></div>
        </div>

        <Editable :edit_id="element.uid"
                  v-model="element.text"
                  :update_text="update_text"
                  @mouseup="select"
                  @focusout="saveSel"
                  :style="'text-align: ' + element.text_align
                    + ';font-weight: ' + element.bold
                    + ';font-style: ' + element.italic
                    + ';font-size: ' + element.font_size + 'px;'" />

        <div class="modal mini_padding" :id="'font_mini_modal' + element.uid">
            <div class="action_icons mini_text_actions">
                <span class="icon icon-text-bold" @click="toggle_value('bold')"></span>
                <span class="icon icon-text-italic" @click="toggle_value('italic')"></span>
                <span class="icon icon-text-anchor" @click="select_a_tab"></span>
            </div>
        </div>
        <div class="modal mini_sub_modal" :id="'font_mini_sub_modal' + element.uid">
            <div class="url_submenu" style="text-align: center">
                <ul class="pref-list">
                    <li>
                        <div class="pref-label">Открывать в новом окне</div>
                        <switch-toggle :uid="element.uid" type="placeholder" :model.sync="target_blank"></switch-toggle>
                    </li>
                </ul>
                <div style="width: 300px">
                    <input type="text" v-model="a_url" class="form-control" style="width: calc(100% - 30px)" placeholder="Url адрес">
                </div>
                <div style="text-align: center"><div class="btn btn-secondary" @click="toggle_value('link', {url:a_url, target:target_blank})">Применить</div></div>
            </div>
        </div>
    </div>
</template>


<script>
    import Editable from './Editable';
    import SwitchToggle from '../SwitchToggle';

    export default {
        data() {
            return {
                target_blank: true,
                a_url: '',
                update_text: '',
                selected_text: '',
                savedRange: null
            }
        },
        props: ['element'],
        methods: {
            select_a_tab() {
                let modal = document.querySelector('#font_mini_modal' + this.element.uid);
                let sub_modal = document.querySelector('#font_mini_sub_modal' + this.element.uid);
                modal.classList.remove('show');
                sub_modal.classList.add('show');
            },
            select(e) {
                let sel_text = '';
                if (window.getSelection) {
                    let get_selection = window.getSelection();
                    sel_text = get_selection.toString();
                } else if (document.selection) {
                    sel_text = document.selection.createRange().text;
                }

                // let parser = new DOMParser();
                // let doc = parser.parseFromString(this.element.text, "text/html");
                // let elements_b = doc.querySelectorAll('b');
                // let elements_i = doc.querySelectorAll('i');

                let wt = sel_text.replace(/\s+/g,'');
                if(wt.length > 0) {
                    let coords = this.getSelectionCoords();
                    let modal = document.querySelector('#font_mini_modal' + this.element.uid);
                    let sub_modal = document.querySelector('#font_mini_sub_modal' + this.element.uid);

                    // modal.querySelector('.icon-text-bold').classList.remove('text-black');
                    // modal.querySelector('.icon-text-italic').classList.remove('text-black');
                    // modal.querySelector('.icon-text-anchor').classList.remove('text-black');

                    let fg = modal.parentNode.parentNode.parentNode;
                    let parent_rects = fg.getClientRects();

                    modal.style.top = (coords.y - parent_rects[0].top - 28 - 30) + 'px';
                    modal.style.left = (coords.x - parent_rects[0].left - 56 + 15) + 'px';

                    sub_modal.style.top = (coords.y - parent_rects[0].top - 28 - 30 - 32) + 'px';
                    sub_modal.style.left = (coords.x - parent_rects[0].left - 56 + 15 - 56) + 'px';

                    modal.classList.add('show');

                    // if(elements_b.length > 0) {
                    //     elements_b.forEach(el_b => {
                    //         if(el_b.innerText.replace(/\s+/g,'').includes(wt)) {
                    //             this.selected = el_b;
                    //             modal.querySelector('.icon-text-bold').classList.add('text-black');
                    //         }
                    //     });
                    // }
                    // if(elements_i.length > 0) {
                    //     elements_i.forEach(el_i => {
                    //         if(el_i.innerText.replace(/\s+/g,'').includes(wt)) {
                    //             this.selected = el_i;
                    //             modal.querySelector('.icon-text-italic').classList.add('text-black');
                    //         }
                    //     });
                    // }

                    this.selected_text = sel_text;
                }
            },
            saveSel() {
                if (window.getSelection)//non IE Browsers
                {
                    this.savedRange = window.getSelection().getRangeAt(0);
                }
                else if (document.selection)//IE
                {
                    this.savedRange = document.selection.createRange();
                }
            },
            restoreSel() {
                document.getElementById(this.element.uid).focus();
                if (this.savedRange != null) {
                    if (window.getSelection)//non IE and there is already a selection
                    {
                        var s = window.getSelection();
                        if (s.rangeCount > 0)
                            s.removeAllRanges();
                        s.addRange(this.savedRange);
                    }
                    else if (document.createRange)//non IE and no selection
                    {
                        window.getSelection().addRange(this.savedRange);
                    }
                    else if (document.selection)//IE
                    {
                        this.savedRange.select();
                    }
                }
            },
            FormatText(command, option) {
                this.restoreSel();
                document.execCommand(command, false, option);
            },
            toggle_value(type, options=null) {
                if(type === 'bold') {
                    this.FormatText('bold');
                }
                if(type === 'italic') {
                    this.FormatText('italic');
                }
                if(type === 'link') {
                    if(options.url !== null && options.url !== '' && options.url !== ' ') {
                        if(options.target) {
                            this.FormatText('insertHTML', '<a href="' + options.url + '" target="_blank">' + this.selected_text + '</a>');
                        } else {
                            this.FormatText('createlink', options.url);
                        }
                    }
                    this.a_url = '';
                    let sub_modal = document.querySelector('#font_mini_sub_modal' + this.element.uid);
                    sub_modal.classList.remove('show');
                }
                // let modal = document.querySelector('#font_mini_modal' + this.element.uid);
                // //console.log(this.selected);
                // if(this.selected !== null) {
                //     let wt = this.selected_text.replace(/\s+/g,'');
                //     let w_tag = this.selected.innerText.replace(/\s+/g,'');
                //     let new_text = '';
                //     if(wt === w_tag) {
                //         let text = this.selected.innerText;
                //         let html = this.selected.outerHTML;
                //         new_text = this.element.text.replace(html, text);
                //     } else {
                //         let tag_words = this.selected.innerText.split(/\s+/);
                //         let text_words = this.selected_text.split(/\s+/);
                //         let intersection = tag_words.filter(x => !text_words.includes(x));
                //
                //         let bold_group = [];
                //         intersection.forEach(inter => {
                //             let ind = tag_words.indexOf(inter);
                //             if(bold_group.length === 0 ) {
                //                 bold_group.push({
                //                     group: [inter],
                //                     index: ind
                //                 })
                //             } else {
                //                 if(bold_group[bold_group.length - 1].index === ind - 1) {
                //                     bold_group[bold_group.length - 1].group.push(inter);
                //                     bold_group[bold_group.length - 1].index = ind;
                //                 } else {
                //                     bold_group.push({
                //                         group: [inter],
                //                         index: ind
                //                     })
                //                 }
                //             }
                //         });
                //
                //         let all_group = [];
                //         let ind = this.selected.innerText.indexOf(this.selected_text);
                //         all_group.push({
                //             text: this.selected_text,
                //             index: ind
                //         });
                //         bold_group.forEach(bg => {
                //             let join = bg.group.join(' ');
                //             let ind = this.selected.innerText.indexOf(join);
                //             all_group.push({
                //                 text: '<b>' + join + '</b>',
                //                 index: ind
                //             })
                //         });
                //         all_group.sort((a, b) => {
                //             return a.index - b.index;
                //         });
                //
                //         let text = [];
                //         all_group.forEach(ag => {
                //             text.push(ag.text);
                //         });
                //
                //         let tag_text = text.join(' ');
                //         let html = this.selected.outerHTML;
                //         new_text = this.element.text.replace(html, tag_text);
                //     }
                //     modal.classList.remove('show');
                //     this.default_value(new_text);
                //     this.selected = null;
                // } else {
                //     if(this.selected_text !== '') {
                //         let new_text = '';
                //         if(type === 'bold') {
                //             if(this.element.text.indexOf(this.selected_text) >= 0) {
                //                 let html = '<b>' + this.selected_text + '</b>';
                //                 new_text = this.element.text.replace(this.selected_text, html);
                //             } else {
                //                 let old_b = this.element.text.match(/<b>(.*?)<.b>/);
                //                 if(old_b.length > 1) {
                //                     let old_b_arr = old_b[1].split(/\s+/);
                //                     let new_b_arr = this.selected_text.split(/\s+/);
                //                     let intersection = new_b_arr.filter(x => !old_b_arr.includes(x));
                //                     console.log(old_b);
                //                     console.log(intersection);
                //                 }
                //
                //             }
                //             new_text.replace(/<.b>\s?<b>/g, ' ');
                //             modal.querySelector('.icon-text-bold').classList.add('text-black');
                //         }
                //         if(type === 'italic') {
                //             let html = '<i>' + this.selected_text + '</i>';
                //             if(this.element.text.indexOf(this.selected_text) >= 0) {
                //                 new_text = this.element.text.replace(this.selected_text, html);
                //             } else {
                //
                //             }
                //             new_text.replace(/<.i>\s?<i>/g, ' ');
                //             modal.querySelector('.icon-text-italic').classList.add('text-black');
                //         }
                //         modal.classList.remove('show');
                //         this.default_value(new_text.replace('&nbsp;', ' '));
                //         this.selected_text = '';
                //     }
                // }
            },
            default_value(new_text) {
                this.update_text = new_text;
                this.$store.commit('default_value', {
                    uid: this.element.uid,
                    type: 'text',
                    value: new_text,
                });
            },
            getSelectionCoords(win) {
                win = win || window;
                let doc = win.document;
                let sel = doc.selection, range, rects, rect;
                let x = 0, y = 0;
                if (sel) {
                    if (sel.type !== "Control") {
                        range = sel.createRange();
                        range.collapse(true);
                        x = range.boundingLeft;
                        y = range.boundingTop;
                    }
                } else if (win.getSelection) {
                    sel = win.getSelection();
                    if (sel.rangeCount) {
                        range = sel.getRangeAt(0).cloneRange();
                        if (range.getClientRects) {
                            range.collapse(true);
                            rects = range.getClientRects();
                            if (rects.length > 0) {
                                rect = rects[0];
                            }
                            x = rect.left;
                            y = rect.top;
                        }
                        // Fall back to inserting a temporary element
                        if (x === 0 && y === 0) {
                            let span = doc.createElement("span");
                            if (span.getClientRects) {
                                // Ensure span has dimensions and position by
                                // adding a zero-width space character
                                span.appendChild( doc.createTextNode("\u200b") );
                                range.insertNode(span);
                                rect = span.getClientRects()[0];
                                x = rect.left;
                                y = rect.top;
                                let spanParent = span.parentNode;
                                spanParent.removeChild(span);

                                // Glue any broken text nodes back together
                                spanParent.normalize();
                            }
                        }
                    }
                }
                return { x: x, y: y };
            },
            onInput(e) {
                document.getElementById('hidden_text' + this.element.uid).value = e.target.innerHTML;
            },
        },
        mounted() {
        },
        components: {
            Editable, SwitchToggle
        },
    }
</script>
